<header>
    <div class="header">
        <div class="top-ponel">
            <div class="container-fluid">
                <div class="right">
                    <a href="#" class="top-ponel__out">
                        <span class="top-ponel__out-text">Выход</span>
                    </a>
                    <a href="#" class="t-decorationNorm white  top-ponel__question-green margin-right-20"><img src="/static/seller_control_panel/img/question-green.png" alt=""> <span>Справка по работе с системой</span></a>
                    <div class="top-ponel__spliter right"></div>
                </div>
                <a href="#" class="top-ponel__collapse-link"  data-toggle="collapse" data-target=".more-info">
                                <span class="top-ponel__collapse-link-text">
                                    Скрыть панель
                                </span>
                </a>
                <span class="top-ponel__collapse-dis">Административная панель</span>
                <div class="top-ponel__spliter left"></div>
                <div class="top-ponel__notice">
                    <a href="#noticeModal"
                       data-toggle="modal"
                       data-target="#noticeModal"
                       class="active"
                            ><img src="/static/seller_control_panel/img/inform.png" alt=""> <span>Уведомления </span><span class="index">2</span></a>

                    <div class="popover-box">
                        <div id="noticeModal" class="popover bottom hide fade " style="display: none;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <div class="arrow"></div>
                            <div class="popover-content margin-left-30 margin-right-10">

                                <table class="table  margin-bottom-0 ">
                                    <thead>
                                    <tr>
                                        <td>
                                            <i class="remove">×</i>
                                            <h4 class="grayLight ">Системы оплаты для пользователя</h4>
                                            <p>Уведомления в бэкэнд, на телефон и на почту – про оплату, про новые
                                                акции Тимпартса, про превышение лимита заказов и пр. Разработать
                                                стиль уведомлений. Как они будут  появляться и где.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="remove">×</i>
                                            <h4 class="grayLight ">Второе уведомление о чём-то</h4>
                                            <p>Ревер просветляет септаккорд, но если бы песен было раз в пять
                                                меньше, было бы лучше для всех. Микрохроматический интервал
                                                имитирует дорийский эффект "вау-вау", это и есть одномоментная
                                                вертикаль в сверхмногоголосной полифонической ткани.</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="end">Других уведомлений нет</div>
                                        </td>
                                    </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-menu {% if nomargin %}margin-bottom-0{% endif %}">
            {% if chaneg_design_button %}
            {% include 'system-backend/blocks/__head-change_design.html' %}
            {% endif %}
            <div class="top-menu__alert ">
                <div class="wraper">
                    <div class="container-fluid">
                        <div class="in-block margin-right-20">
                            <img src="/static/seller_control_panel/img/watercolor.png" alt="">
                        </div>
                        <div class="in-block">
                            <p>Предпросмотр нового оформления вашего сайта. Если вам нравится, то вы можете сохранить изменения или вернуться к палитре.</p>
                            <a href="#" class="btn btn-yellow margin-right-10 ">Оставить это оформление</a>
                            <a href="#" class="btn btn-yellow margin-right-10">Вернуться к выбору</a>
                            <a href="#" class="t-decorationNorm yellow"><i class="close-icon">×</i> <span>Отменить изменения и вернуться к сайту</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="top-menu__item ">
                    <div class="more-info top-menu__more-info  in collapse">
                        <div class="top-menu__more-info__box"><table>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Посетителей:</span></td>
                                <td><span class="top-menu__more-info__var ">1 234</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Покупателей:</span></td>
                                <td><span class="top-menu__more-info__var ">456</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Конверсия:</span></td>
                                <td><span class="top-menu__more-info__var ">4,567%</span></td>
                            </tr>
                        </table>
                        </div>
                    </div><a href="#" class="top-menu__link">
                    <div class="icon_your-site"></div>
                    <span class="top-menu__link__comt">Ваш сайт</span>
                </a>
                </div>
                <div class="top-menu__item">
                    <div class="more-info top-menu__more-info  in collapse">
                        <div class="top-menu__more-info__box"><table>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Баланс:</span></td>
                                <td><span class="top-menu__more-info__var ">150 400 р.</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Оборот (март):</span></td>
                                <td><span class="top-menu__more-info__var ">546 045 р.</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Прибыль (март):</span></td>
                                <td><span class="top-menu__more-info__var ">123 340 р.</span></td>
                            </tr>
                        </table>
                        </div>
                    </div><a href="#" class="top-menu__link">
                    <div class="icon_finance"></div>
                    <span class="top-menu__link__comt">Финансы</span>
                </a>
                </div>
                <div class="top-menu__item">
                    <div class="more-info top-menu__more-info  in collapse">
                        <div class="top-menu__more-info__box"><table>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">В работе:</span></td>
                                <td><span class="top-menu__more-info__var ">12</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Новых заказов:</span></td>
                                <td><span class="top-menu__more-info__var ">3</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Отказов:</span></td>
                                <td><span class="top-menu__more-info__var ">12,45%</span></td>
                            </tr>
                        </table>
                        </div>
                    </div><a href="#" class="top-menu__link">
                    <div class="icon_orders"></div>
                    <span class="top-menu__link__comt">Заказы</span>
                </a>
                </div>
                <div class="top-menu__item ">
                    <div class="more-info top-menu__more-info  in collapse">
                        <div class="top-menu__more-info__box"><table>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Новых (март):</span></td>
                                <td><span class="top-menu__more-info__var ">12</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Всего:</span></td>
                                <td><span class="top-menu__more-info__var ">1256</span></td>
                            </tr>
                            <tr>
                                <td><span class="top-menu__more-info__cont ">Машин:</span></td>
                                <td><span class="top-menu__more-info__var">2345</span></td>
                            </tr>
                        </table>
                        </div>
                    </div><a href="#" class="top-menu__link">
                    <div class="icon_client"></div>
                    <span class="top-menu__link__comt">Клиенты</span>
                </a>
                </div>
                <div class="top-menu__item active">
                    <div class="more-info top-menu__more-info  in collapse">
                        <div class="top-menu__more-info__box">
                            <table>
                                <tr>
                                    <td><span class="top-menu__more-info__cont ">SEO инструменты:</span></td>
                                    <td><span class="top-menu__more-info__var">вкл.</span></td>
                                </tr>
                                <tr>
                                    <td><span class="top-menu__more-info__cont ">Online-консультант:</span></td>
                                    <td><span class="top-menu__more-info__var">вкл.</span></td>
                                </tr>
                                <tr>
                                    <td><span class="top-menu__more-info__cont ">Билинг:</span></td>
                                    <td><span class="top-menu__more-info__var">вкл.</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <a href="#" class="top-menu__link">
                        <div class="icon_settings"></div>
                        <span class="top-menu__link__comt">Настройки</span>
                    </a>
                </div>
                <div class="top-menu__item top-menu__item_for-status" >
                    <div class="more-info top-menu__more-info in collapse">
                        <div class="for-status">
                            <div class="row-fluid">
                                <div class="span7 nobreak">
                                               <span class="for-status__procent">
                                            100
                                            </span>
                                              <span class="for-status__procent_dis">
                                            %
                                            </span>

                                </div>
                                <div class="span5">
                                               <span class="for-status__dis">
                                            Состояние 
                                            аккаунта
                                            </span>
                                </div>
                            </div>
                            <div class="in-block">
                                <a
                                        href="#forStatusModal"
                                        class="link_in  for-status__linc-dis"
                                        data-toggle="modal"
                                        data-target="#forStatusModal"
                                        >
                                    Что еще можно заполнить?
                                </a>

                                <div class="popover-box">

                                    <div id="forStatusModal" class="popover bottom hide fade " style="display: none;">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <table class="table size-12">
                                                <thead>
                                                <tr>
                                                    <td>
                                                        Заполнить <a href="#" >информацию о компании</a>
                                                    </td>
                                                    <td class="a-left grayLight"><strong>+10%</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Добавить  <a href="#" >услуги</a>
                                                    </td>
                                                    <td class="a-left grayLight"><strong>+5%</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Добавить <a href="#" >логотип</a>
                                                    </td>
                                                    <td class="a-left grayLight"><strong>+5%</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#" >Выбрать поставщиков</a>
                                                    </td>
                                                    <td class="a-left grayLight"><strong>+10%</strong></td>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>