<div class="helper">
    <div class="helper__wraper">
        <div class="helper__first-col">
            <div class="popover-box">
                <div id="informModal" class="popover top hide fade " style="display: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="/static/seller_control_panel/img/faq.png" alt="">
                            </div>
                            <div class="span10">
                                <h4 class="grayLight margin-bottom-20">Системы оплаты для пользователя</h4>
                                <p class="size-12">
                                    Динамическое уравнение Эйлера астатически влияет на составляющие
                                    гироскопического момента больше, чем стабилизатор, не забывая
                                    о том, что интенсивность диссипативных сил, характеризующаяся
                                    величиной коэффициента D, <a href="#" >должна лежать </a>в определённых пределах.
                                    Отсюда следует, что инерциальная навигация проецирует гирогоризонт
                                    с учётом интеграла собственного кинетического момента ротора.
                                    Стабилизатор преобразует тангаж, что при любом переменном
                                    вращении в горизонтальной плоскости будет направлено вдоль
                                    оси. Крен, в первом приближении.
                                </p>
                            </div>
                        </div>

                        <div class="alert alert-info margin-top-10 margin-bottom-0">
                            <strong>Если вы хотите подключить систему обплату «Инком», которая позволит переводить деньги прямо на ваш счет, то вам нужно перейти на тариф <a href="#" >«Профи»</a></strong>
                            <br><br><button type="button" class="btn btn-green ">Сменить тариф</button>
                        </div>
                        <div class="row-fluid">
                            <div class="span2">
                                &nbsp;
                            </div>
                            <div class="span10">
                                <hr>
                                <div class="row-fluid size-12">

                                    <div class="span5">
                                        <a href="#">Справка</a>
                                    </div>
                                    <div class="span7 a-right ">
                                        <a href="#" class="t-decorationNone grayLight">×</a>
                                        <a href="#" class="link_in grayLight">Закрыть и больше не показывать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <a href="#informModal"
               class="helper__link btn btn-clear"
               data-toggle="modal"
               data-target="#informModal">

                <img src="/static/seller_control_panel/img/inform.png" alt=""><span class="helper__tit"> Помощь по разделу</span>
            </a>

        </div><!--
            обезательное отсутввие пробела
            --><div class="helper__second-col">
        <a href="#" data-toggle="button" class="helper__link btn btn-clear">
            <img src="/static/seller_control_panel/img/online-cons.png" alt=""><span class="helper__tit"> Помощь по разделу</span>
        </a>
    </div><a href="#" class="helper__quotes">
        <i></i>
    </a>

    </div>
</div>