{% extends '__base_backend.html' %}
{% block content %}
<h1 class="margin-bottom-20">Добавление прайса</h1>
<div class="horizontal-menu">
    <ul class="horizontal-menu__list">
        <li class="horizontal-menu__item    ">
            <a class="horizontal-menu__link" href="#">
                Настройки магазина
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Управление сайтом
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Данные о компании
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Управление аккаунтом
            </a>
        </li>
    </ul>
</div>
<div class="clearfix margin-bottom-20">
    <div class="green-arrow">
        <a href="#" class="green-arrow__box t-decorationNorm">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont "><span>Вернуться к управлению сайтом</span></div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>

<div class="row-fluid">
    <div class="span7">
        <p>Вы можете добавить xls-файл в прозвольном виде, но чтобы все было классно, файл должен отвечать 3 простым требованиям:</p>
        <br>
    </div>
</div>
<div class="row-fluid">
    <div class="span1">&nbsp;</div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span1">
                <span class="tarif-neme-small">1</span>
            </div>

            <div class="span11">
                Прайс обязательно должен содержать OEM детали и ее цену
                <br ><br >
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1">
                <span class="tarif-neme-small">2</span>
            </div>

            <div class="span11">
                Во избежании ошибок вся информация должна быть четко распределена по столбцам. Все цены - в одном столбце, номера - в другом и пр.
                <br ><br >
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1">
                <span class="tarif-neme-small">3</span>
            </div>

            <div class="span11">
                Будет отлично, если вы еще укажете название детали и ее количество на складе.
                <br ><br >

                <span>Выберите файл:</span> <br>
                <code class="block padding-10">
                    <input type="file" class="no-padding no-margin">
                </code>
                <br>
                <a class="btn btn-warning" href="#">Загрузить</a>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row-fluid">
    <span class="span12">
        <p>Пожалуйста, укажите, какие данные в каких столбцах находятся. Если столбец пустой или ненужный - просто пропускайте его.</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><select class="span12"><option value="">Не учитывать</option></select></th>
                    <th><select class="span12"><option value="">Не учитывать</option></select></th>
                    <th><select class="span12"><option value="">Не учитывать</option></select></th>
                    <th><select class="span12"><option value="">Не учитывать</option></select></th>
                    <th><select class="span12"><option value="">Не учитывать</option></select></th>
                    <th><select class="span12"><option value="">Не учитывать</option></select></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>5</td>
                    <td>4</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>5</td>
                    <td>4</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>

    </span>
</div>
{% endblock %}