{% extends '__base_backend.html' %}
{% block content %}
<div class="margin-top-30">
    <div class="right padding-10">
        В вашей корзине <a>10 товаров</a>
    </div>
    <h2>Оформление заказа</h2>
    <div>
        <ul class="order-crumbs">
            <li class="success"><a>Выбор товара</a></li>
            <li class="success"><a>Результаты поиска</a></li>
            <li class="success"><a>Выбор клиента</a></li>
            <li class="active"><span>Оформление заказа</span></li>
        </ul>
    </div -->
    <br>
    <form action="" class="form-horizontal">
        <input type="text" class="span12 size-16 padding-10 padding-right-0" id="search" placeholder="Поиск по каталогам">
        <button class="btn btn-success padding-10 padding-right-20 padding-left-20" type="button">Искать</button>
    </form>
    <div class="margin-right-20">
        <h2>Оформление</h2>

        <form class="form-horizontal">
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    На один из складов
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <label for="stock"></label>
                    <select placeholder="Выберите склад" id="stock">
                        <option value="">Склад на Антона валека</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    На другой адрес
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <label for="address">Укажите адрес:</label>
                    <textarea cols="40" rows="5" class="span6"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success">Продолжить оформление</button>
        </div>
    </div>
</div>
{% endblock %}