{% extends '__base_backend.html' %}
{% block container %}
<div class="margin-top-30">
    <div class="right padding-10">
        В вашей корзине <a>10 товаров</a>
    </div>
    <h2>Оформление заказа</h2>
    <div>
        <ul class="order-crumbs">
            <li class="success"><a>Выбор товара</a></li>
            <li class="success"><a>Результаты поиска</a></li>
            <li class="active"><span>Выбор клиента</span></li>
            <li><span>Оформление заказа</span></li>
        </ul>
    </div>
    <br>
    <form action="" class="form-search">
        <input type="text" class="span10 size-16 padding-10 padding-right-0" id="search" placeholder="Поиск по клиентам">
        <button class="btn btn-success padding-10 padding-right-20 padding-left-20" type="button">Искать</button>
    </form>
    <div class="margin-right-20">
        <table class="table table-bordered">
            <tr>
                <th class="span2">Фамилия</th>
                <th class="span1">Постоянный </th>
                <th class="span2">Контакты</th>
                <th class="span2">Примечания</th>
                <th class="span2"></th>
            </tr>

            <tr class="size-12">
                <td>
                    <div class="table__name-box">
                        <strong class="last-name">Петров</strong><br>
                        <span class="other-text">Иван Сегеевич</span>
                    </div>
                </td>
                <td>
                    <div class="icon_good_big"></div>
                </td>
                <td>
                    Тел. (343) 345 567<br>
                    Тел. (343) 345 546<br>
                    Иел  +7 912 434 34 33<br>
                    <a href="#" class="">dshh@mail.ru</a><br>
                    ICQ 1234434
                </td>
                <td>
                    Звонить только в рабочее
                    время поле 12.0 дня и до 19.00.
                    Платит всегда наличными
                </td>
                <td>
                    <a href="#" class="btn">Выбрать</a>
                </td>
            </tr>
         </table>
    </div>
</div>
{% endblock %}