{% extends '__base_backend.html' %}
{% block content %}
<div class="margin-top-30">
    <div class="right padding-10">
        В вашей корзине <a>10 товаров</a>
    </div>
    <h2>Оформление заказа</h2>
    <div>
        <ul class="order-crumbs">
            <li class="active"><span>Выбор товара</span></li>
            <li><span>Результаты поиска</span></li>
            <li><span>Выбор клиента</span></li>
            <li><span>Оформление заказа</span></li>
        </ul>
    </div -->
    <br>
    <form action="" class="form-horizontal">
        <input type="text" class="span12 size-16 padding-10 padding-right-0" id="search" placeholder="Поиск по каталогам">
        <button class="btn btn-success padding-10 padding-right-20 padding-left-20" type="button">Искать</button>
    </form>
    <div class="margin-right-20">
        <div class="number-stages">
            <div class="number-stages-box">
                <span class="number-stages_text">
                    1
                </span>
            </div>
        </div>
    <h2>Выберите производителя автомобиля</h2>
    <div class="clear"></div>
    <article>

        <div class="imgLinkInem">
            <figure>
                <a href="#" class="imgLinkInem_link">
                    <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                    <div class="imgLinkInem_text">
                        <fieldset>
                            Volvo
                        </fieldset>
                    </div>
                </a>
            </figure>
        </div>
        <div class="imgLinkInem">
            <figure>
                <a href="#" class="imgLinkInem_link">
                    <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                    <div class="imgLinkInem_text">
                        <fieldset>
                            Volvo
                        </fieldset>
                    </div>
                </a>
            </figure>
        </div>
        <div class="imgLinkInem">
            <figure>
                <a href="#" class="imgLinkInem_link">
                    <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                    <div class="imgLinkInem_text">
                        <fieldset>
                            Volvo
                        </fieldset>
                    </div>
                </a>
            </figure>
        </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div>
    </article>
    </div>
</div>
</div>
{% endblock %}