{% extends '__base_backend.html' %}
{% block content %}
<div class="margin-top-30">
    <div class="right padding-10">
        В вашей корзине <a>10 товаров</a>
    </div>
    <h2>Оформление заказа</h2>
    <div>
        <ul class="order-crumbs">
            <li class="success"><span>Выбор товара</span></li>
            <li class="active"><span>Результаты поиска</span></li>
            <li><span>Выбор клиента</span></li>
            <li><span>Оформление заказа</span></li>
        </ul>
    </div -->
    <br>
    <form action="" class="form-horizontal">
        <input type="text" class="span10 size-16 padding-10 padding-right-0" id="search" placeholder="Поиск по каталогам">
        <button class="btn btn-success padding-10 padding-right-20 padding-left-20" type="button">Искать</button>
    </form>
    <div class="margin-right-20">

    <div class="loaded_ajax loaded">
    <article>
        <div id="search_number">
            <form class=" form-search form-filtr">
                <ul class="margin-0">
                    <li class="inline">
                        <label class="checkbox size-11 margin-right-10">
                            <input type="checkbox" id="optionsCheckbox_one" value="1"/>
                                Искать замену
                        </label>
                    </li>
                    <li class="inline">
                        <label class="checkbox size-11 margin-right-10">
                            <input type="checkbox" id="otherManufacturerselect" value="1">
                             Показать других производителей
                        </label>
                     </li>
                </ul>
            </form>
            <br>
        </div>
        <div class="row-fluid">
             <div id="table_number" class="span9">
                 <table class="table_number">
                 <colgroup>
                     <col width="120px">
                     <col width="130px">
                     <col width="60px">
                     <col width="110px">
                     <col width="50px">
                     <col width="150px">
                 </colgroup>
                 <thead>
                 <tr>
                     <th>
                         <div class="gradtab ">Производитель<i class="arrow-thead"></i></div>
                     </th>
                     <th>
                         <div class="gradtab ">Информация<i class="arrow-thead"></i></div>
                     </th>
                     <th>
                         <div class="gradtab active" id="presence">Наличие<i class="arrow-thead"></i></div>
                     </th>
                     <th>
                         <div class="gradtab activeUP" id="cost">Цена в руб<i class="arrow-thead"></i></div>
                     </th>
                     <th>
                         <div class="gradtab active" id="time">Срок<i class="arrow-thead"></i></div>
                     </th>
                     <th>
                         <div class="gradtab " id="supplier">Поставщик<i class="arrow-thead"></i></div>
                     </th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td colspan="6">
                         <h4 class="resultat " data-toggle="collapse" data-target=".demo1">
                             <a href="#" data-toggle="button" class="link_in">
                                 Искомый номер:
                             </a>
                         </h4>
                     </td>
                 </tr>
                 </tbody>
                 <tbody class="demo1 collapse" style="height: auto; ">
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348717">
                             <span></span>
                             <i class="chance-icon-70"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">70%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">14112.05</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">21</strong> <span>(55)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348717">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Америка</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348723">
                             <span></span>

                             <i class="chance-icon-40"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">40%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">14848.42</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">30</strong> <span>(35)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348723">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Америка</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Москва</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348725">
                             <span></span>

                             <i class="chance-icon-95"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">95%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">16223.38</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">5</strong> <span>(20)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348725">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Москва</div>
                     </td>
                 </tr>
                 <tr class="ourManufacturer">
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>Audi,</span><br>
                             <span>Москва</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348728">
                             <span></span>

                             <i class="chance-icon-95"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">95%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">16374.59</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">3</strong> <span>(5)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348728">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Москва</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348721">
                             <span></span>

                             <i class="chance-icon-50"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">50%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">16390.49</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">14</strong> <span>(18)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348721">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Москва</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348720">
                             <span></span>

                             <i class="chance-icon-95"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">95%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">16644.11</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">9</strong> <span>(18)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348720">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Москва</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348716">
                             <span></span>

                             <i class="chance-icon-55"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">55%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">17563.00</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">16</strong> <span>(30)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348716">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Москва</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348724">
                             <span></span>

                             <i class="chance-icon-95"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">95%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">17672.06</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">3</strong> <span>(11)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348724">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Москва</div>
                     </td>
                 </tr>
                 <tr class="ourManufacturer">
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>Audi,</span><br>
                             <span>Россия</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348727">
                             <span></span>

                             <i class="chance-icon-75"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">75%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">17977.86</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">8</strong> <span>(15)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348727">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Россия</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Москва</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348718">
                             <span></span>

                             <i class="chance-icon-80"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">80%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">18411.25</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">4</strong> <span>(9)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348718">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Москва</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Россия</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348726">
                             <span></span>

                             <i class="chance-icon-60"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">60%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">19402.61</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">4</strong> <span>(7)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348726">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Россия</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>Seat,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong></strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348729">
                             <span></span>

                             <i class="chance-icon-45"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">45%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">20594.42</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">31</strong> <span>(30)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348729">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Россия</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348719">
                             <span></span>

                             <i class="chance-icon-65"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">65%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">20728.53</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">5</strong> <span>(10)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348719">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Россия</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>Volkswagen,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>Бампер пер.</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348730">
                             <span></span>

                             <i class="chance-icon-35"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">35%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">27191.98</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">18</strong> <span>(30)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348730">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>Volkswagen,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>Бампер пер.</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348731">
                             <span></span>

                             <i class="chance-icon-35"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">35%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">27772.35</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">20</strong> <span>(31)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348731">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 <tr class="otherManufacturer" >
                     <td>
                         <div>
                             <strong>
                                 4B0807103BK7DL </strong><br>
                             <span>VAG,</span><br>
                             <span>Европа</span>
                         </div>
                     </td>
                     <td>
                         <div>
                             <strong>БАМПЕР</strong><br>
                             <br>
                         </div>
                     </td>
                     <td class="flotBut" data-silector="allStatistic">
                         <div class="flot f1" id="pricePlot348722">
                             <span></span>

                             <i class="chance-icon-85"></i>
                         </div>
                         <strong class="delivery_Chance_Percent">85%</strong>
                     </td>
                     <td>
                         <div class="ta-center"><strong class="cost_detail">34126.67</strong></div>
                     </td>
                     <td>
                         <div><strong class="middle_delivery_time">30</strong> <span>(45)</span></div>
                     </td>
                     <td>
                         <div class="right">
                             <input type="hidden" class="quantity_default" value="1">
                             <a class="buttonBuy" data-toggle="modal" data-target="#buyModal" href="/basket/buy/348722">
                                 <i class="tim_icom_basket-mask sprite"></i>
                                 <span class="buttonBuy_text">
                                   Купить
                                 </span>
                                 <i class="arrow_right"></i>

                                 <div class="buttonBuy_fon"></div>
                             </a>
                         </div>
                         <div>Европа</div>
                     </td>
                 </tr>
                 </tbody>
                 <tbody>
                 <tr>
                     <td colspan="6">
                         <h4 class="resultat zamena_activ" data-toggle="collapse" data-target=".demo2" style="display: none;">
                             <div class="btn" data-toggle="button">
                                 <div class="icon_minus"></div>
                                 Замены:<!--TODO-->
                             </div>
                         </h4>
                     </td>
                 </tr>
                 </tbody>
                 </table>
             </div>
             <div class="span3">
                <div class="well" id="search-filter">
                    <div class="filter-result-informer" style="display: none;">
                        Выбрано запчастей: <strong>534</strong>. <a href="#" class="">Показать</a>
                        <div class=""></div>
                    </div>
                    <strong>Фирма</strong>
                    <ul class="no-bullet margin-left-0 margin-bottom-0 lh-large">
                        <li><a href="#" class="link_in grayLight size-10">Выбрать все</a></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Denso</a> <strong class="margin-left-10">(1240 - 2450 р.)</strong></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Nissan</a> <strong class="margin-left-10">(1342 - 2950 р.)</strong></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Toyota</a> <strong class="margin-left-10">(940 - 990 р.)</strong></li>
                        <li class="margin-bottom-10"></li>
                        <li><strong>Дополнительно</strong></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Быстро</a> </li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Быстро</a> </li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Дешево</a> </li>
                    </ul>
                </div>
             </div>
         </div>
    </article>
    <div class="modal" style="display: none;" id="buyModal">
        <div class="modal-body">
            <div class="buyModal_left">
                <strong class="buyModal_left_title">Положить в корзину</strong>

                <form id="addToBasket" class="form-inline" method="POST" action="">
                    <span class="buyModal_lef_minus">-</span>
                    <input type="text" class="buyModal_lef_input" name="count" value="1">
                    <input type="hidden" name="priceId" value="">
                    <input type="hidden" name="order" class="buyModal_silent_order_send" value="0">
                    <span class="buyModal_lef_plus">+</span><br>
                    <span class="buyModal_lef_pcs">шт.</span>
                    <button class="buyModal_lef_ok">
                        Ok
                    </button>

                    <i class="tim_icom_clous-grey sprite"></i>
                    <a class="close" data-dismiss="modal">
                        Отмена
                    </a>

                </form>
            </div>
            <div class="buyModal_fon-arrow"><div></div></div>
            <div class="buyModal_right">
                    <img src="/web/img/basket.png" style="padding-top:40px;">
            </div>
            <div class="buyModal_right_fon">
                <a href="#" class="buyModal_right_link">

                    <span class="buyModal_right_text">Оформить заказ</span>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function(){
        hider = null;

        var showInformer = function(obj) {
            clearTimeout(hider);

            $('.filter-result-informer').css({
                'left': (
                        -$('.filter-result-informer').width() - 20
                        ),
                'top': $(this).position().top -6
            }).show();
            hider = setTimeout('$(".filter-result-informer").fadeOut(100)', 2000);
        }
        $('#search-filter input[type="checkbox"]').change(showInformer);
        $('#search-filter a').click(showInformer);
    })
</script>
{% endblock %}