{% extends '__base_backend.html' %}
{% block content %}
<div class="margin-top-30">
    <div class="right padding-10">
        В вашей корзине <a>10 товаров</a>
    </div>
    <h2>Оформление заказа</h2>
    <div>
        <ul class="order-crumbs">
            <li class="active"><span>Выбор товара</span></li>
            <li><span>Результаты поиска</span></li>
            <li><span>Выбор клиента</span></li>
            <li><span>Оформление заказа</span></li>
        </ul>
    </div -->
    <br>
    <form action="" class="form-horizontal">
        <input type="text" class="span12 size-16 padding-10 padding-right-0" id="search" placeholder="Поиск по каталогам">
        <button class="btn btn-success padding-10 padding-right-20 padding-left-20" type="button">Искать</button>
    </form>
    <div class="margin-right-20">
        <div class="number-stages">
            <div class="number-stages-box">
                <span class="number-stages_text">
                    3
                </span>
            </div>
        </div>
        <h2>Выберите год выпуска и модификацию</h2>
    <div class="clear"></div>
    <article>
        <div class="offset1 grayLight size-12">Выберите параметры Вашего автомобиля:</div>
        <table class="year-release">
            <thead>
            <tr>
                    <td>
                        2006
                    </td>
                    <td>
                        2007
                    </td>
                    <td>
                        2008
                    </td>
                    <td>
                        2009
                    </td>
                    <td>
                        2010
                    </td>
                    <td>
                        2011
                    </td>
                </tr>
            </thead>
            <tr>
                <td ><a>Armada SE 2WD 2004-2006</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3"><a>Armada SE 2WD 2004-2006</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td colspan="3"><a>Armada SE 2WD 2004-2006</a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"><a>Armada SE 2WD 2004-2006</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td colspan="3"><a>Armada SE 2WD 2004-2006</a></td>
                <td></td>
            </tr>
        </table>
    </article>
    <article>
        <div class="row">


            <div class="offset1 span8" >
                <div class="row">
                    <div class="span3">
                        <i class="tim_icom_brace sprite"></i>
                        <table>
                            <tr>
                                <td class="gray padding-right-10">Год:</td><td class="black"><strong>1999</strong></td>
                            </tr><tr>
                                <td class="gray padding-right-10">Привод:</td><td class="black"><strong>передний</strong></td>
                            </tr><tr>
                                <td class="gray padding-right-10">Модификация:</td><td class="black"><strong>GT</strong></td>
                            </tr>
                        </table>
                    </div>
                    <div class="span5">
                        <h4>Характеристики:</h4>
                        <table>
                            <tr>
                                <td class="gray padding-right-10">Объем двигателя, см3</td><td class="black">2384</td>
                            </tr><tr>
                                <td class="gray padding-right-10">Тип двигателя</td><td class="black">бензин</td>
                            </tr><tr>
                                <td class="gray padding-right-10">Марка топлива</td><td class="black">АИ-95</td>
                            </tr><tr>
                                <td class="gray padding-right-10">Количество цилиндров</td><td class="black">4</td>
                            </tr><tr>
                                <td class="gray padding-right-10">Расположение цилиндров</td><td class="black">рядное</td>
                            </tr><tr>
                                <td class="gray padding-right-10">Объем двигателя, см3</td><td class="black">2384</td>
                            </tr><tr>
                                <td class="gray padding-right-10">Тип двигателя</td><td class="black">бензин</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr>
                <form class="form-inline">
                    <label class="checkbox">
                        <input type="checkbox"> Запомнить мой выбор и пропустить эти шаги в следующий раз
                    </label>
                </form>
            </div>
        </div>
    </article>

    </div>
</div>
{% endblock %}