{% extends '__base_backend.html' %}
{% block content %}
<h2>Ваши клиенты</h2>

<div class="maxwidth-container">
    <ul class="data-selekt margin-top-20">
        <li class="data-selekt__item active"><span class="data-selek__text">За все время</span></li>
        <li class="data-selekt__item "><span class="data-selek__text">За текущий месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">За прошлый месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">За период</span></li>
        <li class="data-selekt__form">
            <form action="" class="form-horizontal">
                <input type="text" class="datepicker span2">
                <a href="#" class="data-selekt__cal icon_data datepicker"></a>
                —
                <input type="text" class="datepicker span2">
                <a href="#" class="data-selekt__cal icon_data datepicker"></a>
            </form>
        </li>
        <li class="data-selekt__form right">
            <form action="" class="form-horizontal">
                <div class="input-append">
                    <input class="span2" id="" type="text"><button class="btn" type="button">Искать</button>
                </div>
            </form>
        </li>
    </ul>

    <label class="checkbox margin-bottom-10">
        <input type="checkbox"> Показывать только тех, у кого есть заказы в работе
    </label>
    <div class="margin-right-20 row">
        <table class="table table-bordered table-minwidth span13">
            <tr>
                <th class="span2">Фамилия, имя</th>
                <th class="span2">Контакты</th>
                <th class="span2">Баланс</th>
                <th class="span2">Наценка</th>
                <th class="span2">Заказы в работе</th>
                <th class="span4">Примечания</th>
            </tr>

            <tr class="size-12">
                <td>
                    <a href="#">Гюго Виктор</a>
                </td>
                <td>
                    <!-- <div class="icon_good_big"></div> -->
                    8-912-719-12-14
                    <a href="mailto:Ol-kysh@mail.ru" class="document">Ol-kysh@mail.ru</a>
                </td>
                <td>
                    <table class="table-clear total total-balance">
                        <colgroup>
                            <col width="45%">
                            <col width="40%">
                            <col width="15%">
                        </colgroup>
                        <tr>
                            <td>На счете</td>
                            <td><strong>12 000 руб.</strong></td>
                            <td rowspan="2">
                                <div style="width: 25px;height:25px;background-color:gray;">
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Заказов на сумму</td>
                            <td><strong>12 000 руб.</strong></td>
                        </tr>
                    </table>
                </td>
                <td>
                    35%
                </td>
                <td>
                    <a href="#" class="document">Заказ № 258079</a>
                    <a href="#" class="document">Заказ № 3680</a>
                </td>
                <td>
                    Очень милый дяденька, хорошо платит, улыбается и машет, а также пишет офигенные романы
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Жан Клод Ван Дам</a>
                </td>
                <td>8-912-719-12-14</td>
                <td>
                    <table class="table-clear total total-balance">
                        <colgroup>
                            <col width="45%">
                            <col width="40%">
                            <col width="15%">
                        </colgroup>
                        <tr>
                            <td>На счете</td>
                            <td><strong>0 руб.</strong></td>
                            <td>
                                <div style="width: 25px;height:25px;background-color:gray;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong></strong></td>
                        </tr>
                    </table>
                </td>
                <td>
                    15%
                </td>
                <td>
                    ___
                </td>
                <td>
                    ___
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Рабле Франсуа</a>
                </td>
                <td>8-912-719-12-14</td>
                <td>
                    <table class="table-clear total total-balance">
                        <colgroup>
                            <col width="45%">
                            <col width="40%">
                            <col width="15%">
                        </colgroup>
                        <tr>
                            <td>На счете</td>
                            <td><strong>0 руб.</strong></td>
                            <td>
                                <div style="width: 25px;height:25px;background-color:gray;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Заказов на сумму</td>
                            <td><strong>3 500 руб.</strong></td>
                        </tr>
                    </table>
                </td>
                <td>55%</td>
                <td><a href="#" class="document">Заказ № 8079</a></td>
                <td>Сосед по парковке, филосефЪ</td>
            </tr>

        </table>
    </div>
</div>


<div class="row">
    <div class="span9">
        <div class="add-more">
            <div class="row-fluid">
                <div class="span2">
                    <div></div>
                </div>
                <div class="span4 ">
                    <a href="#" class="link_in">Показать еще 20 клиентов</a>
                </div>
                <div class="span2">
                    <div></div>
                </div>
                <div class="span4 ">
                    <a href="#" class="">Показать все 123 клиента за период</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}