{% extends '__base_backend.html' %}
{% block content %}
<h1>Настройки</h1>
<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    Настройки магазина
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление сайтом
                </a>
            </li>
            <li class="horizontal-menu__item  active ">
                <a class="horizontal-menu__link" href="#">
                    Личные данные
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление аккаунтом
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        <form action="" class="form-horizontal ">

        <table class="table table-bordered table_no-hover">
            <tbody><tr>
                <th class=""><h3>Личные данные</h3></th>
            </tr>
            <tr class="table__second-header">
                <th class="">
                    Контактные данные
                </th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                            <div class="control-group ">
                                <label class="control-label">Фамилия</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Имя</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Отчество</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Телефон</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">E-mail</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                        <hr>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-warning">Сохранить изменения</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody></table>
        </form>
    </div>
    <div class="span3">
        <button class="btn btn-success w100">
            Сменить статус
        </button>
        <br>
        <br>
        <div class="well">

            <h4>Предупреждение</h4>
            <p class="">Вы зарегистрированы как физическое лицо. Чтобы совершать сделки,  вам  нужно сменить статус на юридическое лицо (или ИП) и заполнить необходимую информацию о своей организации. </p>
        </div>
    </div>
</div>
{% endblock %}