{% extends '__base_backend.html' %}
{% block content %}
<h1 class="margin-bottom-20">Тарифы</h1>
<div class="horizontal-menu">
    <ul class="horizontal-menu__list">
        <li class="horizontal-menu__item    ">
            <a class="horizontal-menu__link" href="#">
                Настройки магазина
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Управление сайтом
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Данные о компании
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Управление аккаунтом
            </a>
        </li>
    </ul>
</div>
<div class="clearfix margin-bottom-20">
    <div class="green-arrow">
        <a href="#" class="green-arrow__box t-decorationNorm">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont "><span>Вернуться к управлению сайтом</span></div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>
<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            <div class="span1">
                <span class="tarif-neme">1</span>
            </div>

            <div class="span11">
                <form class="form">
                    <span>Введите имя приобретенного  вами домена</span> <br>
                    <input type="text"> <br>
                    <a class="btn btn-warning" href="#">Подтвердить</a>
                </form>
                <hr>
            </div>
        </div>
    </div>
    <div class="span2">
       <div class="p10"></div>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4> Где взять домен?</h4>
                <p class="spmal-text">
                    Приобрести доменное имя можно у любого регистратора - например, nic.ru, webnames.ru или любого другого, на ваш выбор. Эта процедура проста и не займет много времени.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            <div class="span1">
                <span class="tarif-neme">2</span>
            </div>
            <div class="span11">
                <p>
                    — Зайдите в панель управления вашим доменом на сайте регистратора,
                    где был куплен домен <br>
                    — Перейдите к настройкам домена<br>
                    — Измените значения DNS-адресов на следующие:<br>
                </p>
                <p>
                    ns.1.teamparts.ru <br>
                    ns.2.teamparts.ru <br>
                </p>
                <p>
                    <strong>
                        Ваш домен зарегистрирован на сайте <a href="#">nic.ru</a>
                    </strong>
                </p>
                <a class="btn btn-warning" href="#">Перейти в личный кабинет</a>
                <br>
                <br>
                <p>
                    Например, у регистратора naunet.ru процедура смены dns-серверов следующим образом:
                </p>
                <iframe width="640" height="480" src="http://www.youtube.com/embed/cXw3Jhq6KLQ" frameborder="0" allowfullscreen></iframe>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            <div class="span1 margin-bottom-40">
                <span class="tarif-neme">3</span>
            </div>
            <div class="span11">
                <p>
                    Как только изменения будут подтверждены, адрес вашего сайта автоматически
                    сменится на указанный вами.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}