{% extends '__base_backend.html' %}
{% block content %}

<div class="row-fluid finance">

    <div class="horizontal-menu span7 margin-top-10">
        <div class="row-fluid">
            <ul class="horizontal-menu__list span12">
                <li class="horizontal-menu__item active">
                    <a href="#" class="horizontal-menu__link link_in">Расчеты с клиентами</a></li>
                <li class="horizontal-menu__item">
                    <a href="#" class="horizontal-menu__link link_in">Расчеты с поставщиками</a>
                </li>
                <li class="horizontal-menu__item">
                    <a href="#" class="horizontal-menu__link link_in">Оплата услуг сервиса</a>
                </li>
                <li class="horizontal-menu__item">
                    <a href="#" class="horizontal-menu__link link_in">Общие отчеты</a>
                </li>
            </ul>
        </div>
        <div class="tab-content margin-top-30 row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tab-pane active row-fluid" id="clients">
                            <div class="span12">
                                <h2>Финансовые расчеты с клиентами</h2>
                                <div class="search-form-box row-fluid">
                                    <input class="search-query typeahead span11" type="text" placeholder="Поиск по операциям">
                                    <button class="btn btn-warning span2">Искать</button>
                                </div>
                            </div>
                        </div>

                        <ul class="data-selekt row-fluid margin-top-20">
                            <li class="data-selekt__item active span2"><span class="data-selek__text">За текущий месяц</span></li>
                            <li class="data-selekt__item span2"><span class="data-selek__text">За прошлый месяц</span></li>
                            <li class="data-selekt__item span1"><span class="data-selek__text">За период</span></li>
                            <li class="data-selekt__form span3">
                                <form action="" class="form-horizontal row-fluid">
                                    <div class="span12">
                                        <input type="text" class="datepicker span5">
                                        <a href="#" class="data-selekt__cal datepicker icon_data span1"></a>
                                        <span class="separator span1">—</span>
                                        <input type="text" class="datepicker span5">
                                        <a href="#" class="data-selekt__cal datepicker icon_data span1"></a>
                                    </div>
                                </form>
                            </li>
                            <li class="select_button span3 margin-left-0">
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        Все
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"> Оплата заказа</a></li>
                                        <li><a href="#"> Предоплата по заказу</a></li>
                                        <li><a href="#"> Пополнение баланса</a></li>
                                        <li><a href="#"> Внесение средств на счет</a></li>
                                    </ul>
                                </div>
                                <p>Тип операции</p>
                            </li>
                            <!-- <li class="data-selekt__form  padding-right-20">
                                <form action="" class="form-horizontal">
                                    <div class="input-append">
                                        <input class="span2" id="" type="text"><button class="btn" type="button">Искать</button>
                                    </div>
                                </form>
                            </li> -->
                        </ul>
                    </div>
                </div>

                <!--<div class="margin-top-10">-->

                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-bordered account-history margin-bottom-0">
                                <colgroup>
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="31%">
                                    <col width="12%">
                                    <col width="12%">
                                    <col width="10%">
                                </colgroup>
                                <tr>
                                    <th>Дата</th>
                                    <th>Клиент </th>
                                    <th>Описание</th>
                                    <th>Приход</th>
                                    <th>Расход</th>
                                    <th class="a-center">Статус</th>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Иванов А.А.</a>
                                    </td>
                                    <td>
                                        <span class="small">Предоплата по <a href="#">заказу №6789</a></span>
                                    </td>
                                    <td>
                                        <strong class="green">- 3 200 р.</strong>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Ожидает оплаты" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-red.png" alt="">
                                            </a>
                                            <a href="#" class="document">Оплатить</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Ницше Ф.</a>
                                    </td>
                                    <td>
                                        <span class="small">Внесение средств на счет</span>
                                    </td>
                                    <td>
                                        <strong class="green">+ 2 700 р.</strong>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                       <div  class="informationMini-box">
                                           <a href="#" data-original-title="Ожидается зачисление платежа" data-placement="top" rel="tooltip">
                                               <img src="/static/img/status-gray.png" alt="">
                                           </a>
                                       </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                       <a href="#" class="client-name">Миша с парковки</a>
                                    </td>
                                    <td>
                                        <span class="small">Возврат предоплаты по <a href="#">заказу №6780 </a></span>
                                    </td>
                                    <td>
                                        <strong class="green">+ 2 850 р.</strong>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-green.png" alt="">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Иванов А.А.</a>
                                    </td>
                                    <td>
                                        <span class="small">Пополнение баланса (<a href="#">Посмотреть счет</a>)</span>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <strong class="red">- 3 200 р.</strong>
                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-green.png" alt="">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Иванов А.А.</a>
                                    </td>
                                    <td>
                                        <span class="small">Оплата <a href="#">заказа №6780 </a></span>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <strong class="red">- 1 500 р.</strong>
                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-green.png" alt="">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Миша с парковки</a>
                                    </td>
                                    <td>
                                        <span class="small">Предоплата по заказу №6780</span>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <strong class="red">- 3 850 р.</strong>
                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-green.png" alt="">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Иванов А.А.</a>
                                    </td>
                                    <td>
                                        <span class="small">Оплата <a href="#">заказа №6780 </a></span>
                                    </td>
                                    <td>
                                        <strong class="green">+ 2 850 р.</strong>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-green.png" alt="">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <time>
                                            20 декабря 2012, в 18:05
                                        </time>
                                    </td>
                                    <td>
                                        <a href="#" class="client-name">Иванов А.А.</a>
                                    </td>
                                    <td>
                                        <span class="small">Оплата <a href="#">заказа №6780 </a></span>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <strong class="red">- 3 850 р.</strong>
                                    </td>
                                    <td>
                                        <div  class="informationMini-box">
                                            <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                                                <img src="/static/img/status-green.png" alt="">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="table total">
                                <colgroup>
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="31%">
                                    <col width="12%">
                                    <col width="12%">
                                    <col width="10%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong class="green">+ 22 850 р.</strong></td>
                                        <td><strong class="red">- 12 850 р.</strong></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2"><div class="tim_icom_brace"></div></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!--</div>-->

                <div class="row-fluid">
                    <div class="span8">
                        <!-- <div class="paging paging-black">
                            <div class="paging-links">
                                <a>←</a> <a href="#" class="prev">Предыдущая</a> <a href="#">Следующая</a> <a href="#">→</a>
                            </div>
                            <ul>
                                <li class="active">
                                    <a>1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <a href="#">Последняя ></a>
                            </ul>
                        </div> -->
                    </div>
                    <div class="span4 margin-left-0">
                        <div class="in-total ">
                            <div class="in-total__text">
                                Итого сальдо за период: <strong>150 400 руб.</strong>
                            </div>
                            <div class="small">Сальдо на начало периода: <strong>156 800 руб.</strong></div>
                            <div class="small">Сальдо на конец периода: <strong>186 800 руб.</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="balance-bar span3">
        <div class="row-fluid">
            <div class="span2">
                <div class="icon_finance_yl"></div>
            </div>
            <div class="span10">
                <h2 class="size-19">
                    Ваш баланс:
                </h2>
                <a class="more-info margin-left-10" data-original-title="Справка" data-content="У вас в системе есть 2 виртуальных счета. Первый – ваш счет у поставщика, этими средствами вы можете оплачивать заказанные детали. Второй – счет в системе Teamparts для оплаты таких услуг, как использование saas-сервиса (абонентская плата) и другие дополнительные услуги в случае их заказа." data-placement="bottom" rel="popover">
                    <img alt="" src="/static/seller_control_panel/img/question-green.png">
                </a>
                <h3>У поставщика:</h3>
                <small>(оплата деталей)</small>
                <p class="large">250 300.00 руб.</p>
                <p>В обороте: <strong>250 300.00 руб.</strong></p>
                <p>Макс. кредит: <strong>50 000.00 руб.</strong></p>
                <div class="divider"></div>
                <h3>В системе Teamparts:</h3>
                <small>(оплата услуг сервиса)</small>
                <p class="large">5 000.00 руб.</p>
                <i class="exclamation-icon"></i>
                <p class="small">У вас есть <a href="#">неоплаченные счета</a></p>
                <a  href="#" class="btn span9">Пополнить баланс</a>
            </div>
        </div>
    </div>
    
</div>




<!-- <div class="margin-top-30">
    <h2>История списаний с баланса:</h2>
    <ul class="data-selekt">
        <li class="data-selekt__item active"><span class="data-selek__text">За текущий месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">За прошлый месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">За период</span></li>
        <li class="data-selekt__form">
            <form action="" class="form-horizontal">
                <input type="text" class="data-selekt__input span2">
                <a href="#" class="data-selekt__cal icon_data"></a>
                —
                <input type="text" class="data-selekt__input span2">
                <a href="#" class="data-selekt__cal icon_data"></a>
            </form>
        </li>
        <li class="data-selekt__form  padding-right-20">
            <form action="" class="form-horizontal">
                <div class="input-append">
                    <input class="span2" id="" type="text"><button class="btn" type="button">Искать</button>
                </div>
            </form>
        </li>

    </ul>

    <div class="row">
        <div class="span10">
            <table class="table table-bordered">
                <tr>
                    <th class="span2">Когда</th>
                    <th class="span2">Сумма </th>
                    <th class="span2">От кого/кому</th>
                    <th >Описание</th>
                    <th class="span2">Тип платежа</th>
                </tr>

                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_non-cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
                <tr>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                    <td>
                        <div class="icon_cash"></div>Элекетронный
                    </td>
                </tr>
            </table>
            <div class="in-total ">
                <div class="tim_icom_brace sprate"></div>
                <div class="in-total__text">
                    Итого расход за период: <strong>150 400 руб.</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="margin-top-30">
    <h2>
        <div class="left margin-right-20">Неоплаченные счета</div>

        <div class="btn-group margin-bottom-20">
            <a class="btn" rel="tooltip" data-placement="top">По заказам деталей</a>
            <a class="active btn " rel="tooltip" data-placement="top">По услугам сервиса</a>
        </div>
    </h2>

    <div class="row">
        <div class="span10">
            <table class="table table-bordered">
                <tr>
                    <th class="checkbox">
                        <input type="checkbox">
                    </th>
                    <th class="span2">Когда</th>
                    <th class="span2">Сумма </th>
                    <th class="span2">От кого</th>
                    <th >Основание счета</th>
                </tr>
                <tr>
                    <td class="checkbox">
                        <input type="checkbox">
                    </td>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                </tr>
                <tr>
                    <td class="checkbox">
                        <input type="checkbox">
                    </td>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                </tr>
                <tr>
                    <td class="checkbox">
                        <input type="checkbox">
                    </td>
                    <td>
                        <time>
                            20 декабря 2012, в 18:05
                        </time>
                    </td>
                    <td>
                        <strong class="table__money">
                            52 500 руб.
                        </strong>
                    </td>
                    <td>
                        Яндекс-Деньги
                    </td>
                    <td>
                        Оплата заказа №1234 Иванов И.И.
                    </td>
                </tr>
            </table>
            <div class="action-table">
                <div class="icon_arrow-up"></div>
                <div class="btn-group">
                    <button class="btn btn-warning">Оплатить</button>

                </div>
                <span class="action-table__text">выбранные</span>

            </div>
        </div>
    </div>
</div> -->

</div>
{% endblock %}