{% extends '__base_backend.html' %}
{% block container %}
    {% include 'system-backend/blocks/__head.html' %}
    <div class="top-menu__alert top-menu__alert_visible">
        <div class="wraper">
            <div class="container-fluid">
                <div class="in-block margin-right-20">
                    <img src="/static/seller_control_panel/img/watercolor.png" alt="">
                </div>
                <div class="in-block">
                    <p>Предпросмотр нового оформления вашего сайта. Если вам нравится, то вы можете сохранить изменения или вернуться к палитре.</p>
                    <a href="#" class="btn btn-yellow margin-right-10 ">Оставить это оформление</a>
                    <a href="#" class="btn btn-yellow margin-right-10">Вернуться к выбору</a>
                    <a href="#" class="t-decorationNorm yellow"><i class="close-icon">×</i> <span>Отменить изменения и вернуться к сайту</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 65px;">
        <div class="in-block margin-right-20">
            <img src="/static/seller_control_panel/img/watercolor.png" alt="">
        </div>
        <a class="btn btn-yellow" href="#">Сменить оформление сайта</a>
    </div>
    <style type="text/css">
        html { overflow: hidden; }
    </style>
    <iframe src="/system/index" style="" width="100%" height="800" frameborder="0" id="site-content"></iframe>
    {% include 'system-backend/blocks/__helper.html' %}
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var frameResize = function() {
                var getParentDivHeights = function() {
                    var parentDivHeights = 0;
                    var elems = $('body > *');

                    $.each(elems, function(i, obj){
                        if ( obj.tagName.toLowerCase() == 'iframe') {
                            return false;
                        }
                        parentDivHeights = parentDivHeights + $(obj).outerHeight( true );
                    });
                    return parentDivHeights;
                }();
                /**
                 * Нихарашо! Ебанная константа. Надо динамически её вытаскивать. Виновник
                 * - тег header, который, блядь, не знает своей нормальной высоты
                 * (потому, что ребенок .top-menu делает margin-bottom: 30px;)
                 */
                $('#site-content').height( $(window).outerHeight( true ) - getParentDivHeights - 17);
            }
            $(document).ready( frameResize );
            $(window).resize( frameResize );
            $('.top-ponel__collapse-link').click( function(){
                var a = setTimeout(frameResize, 500);
            });
        });
    </script>
{% endblock %}