{% extends '__base_backend.html' %}
{% block content %}
<h1 class="margin-bottom-20">Управление аккаунтом</h1>
<div class="horizontal-menu">
    <ul class="horizontal-menu__list">
        <li class="horizontal-menu__item    ">
            <a class="horizontal-menu__link" href="#">
                Настройки магазина
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Управление сайтом
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Данные о компании
            </a>
        </li>
        <li class="horizontal-menu__item  active ">
            <a class="horizontal-menu__link" href="#">
                Управление аккаунтом
            </a>
        </li>
    </ul>
    <div class="horizontal-menu_sub">
        <ul class="horizontal-menu_sub__list">
            <li class="horizontal-menu_sub__item "><a class="horizontal-menu_sub__link" href="#">
                Тарифы
            </a></li>
            <li class="horizontal-menu_sub__item active"><a class="horizontal-menu_sub__link" href="#">
                Рассылка
            </a></li>
            <li class="horizontal-menu_sub__item "><a class="horizontal-menu_sub__link" href="#">
                Логин и пароль
            </a></li>
        </ul>
    </div>
</div>
<form class="form ">
<table class="table table-bordered table-big-padding   table_no-hover ">
    <tbody>
    <tr>
        <th>
            Рассылка
        </th>
    </tr>
    <tr>
        <td>
                <p class="">
                    Вам приходят следующие рассылки от Teamparts
                </p>
                <label class="checkbox margin-left-20">
                    <input type="checkbox" name="" id="" value="option1">
                    Акции и новости сервиса
                </label>
                <label class="checkbox margin-left-20 margin-bottom-20">
                    <input type="checkbox" name="" id="" value="option1">
                    Отслеживание заказов (если ваш поставщик — Teamparts)
                </label>
                <span class="left grayLight margin-top-10" style="font-size:38px;">*</span>
                <p class="size-12 grayLight margin-left-20">
                    Если вы хотите отписаться - просто уберите галочки напротив ненужных пунктов <br> и нажмите «Cохранить изменения»
                </p>
        </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <a href="#" class="btn btn-warning">Сохранить изменения</a>
        </td>
        <td colspan="3">
        </td>
    </tr>
    </tfoot>
</table>
</form>
{% endblock %}