{% extends '__base_backend.html' %}
{% block container %}
    {% with nomargin=True %}
        {% include 'system-backend/blocks/__head.html' %}
    {% endwith %}
    <div class="top-sub-menu top-sub-menu_level-one">
        <div class="container-fluid">
        <span class="dis">
            Группировать:
        </span>
            <ul class="list">
                <li class="item ">
                    <a href="#" class="t-decorationNorm">
                        <span>По заказам</span>
                        <div class="arrow-el"></div>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="t-decorationNorm">
                        <span>По деталям</span>
                        <div class="arrow-el"></div>
                    </a>
                </li>
            </ul>
            <div class="tooltip fade right in" ><div class="tooltip-arrow"></div><div class="tooltip-inner">Вы можете группировать ваши заказы как по заказам комплексно, так и по отдельным деталям</div></div>
        </div>
    </div>

    <div class="container-fluid">
        <h1><span class="fwn">Заказ</span> №219233</h1>
        <div class="order-list__item margin-top-20 order-list__item_red order-list__item_alert" >
            <div class="marker__time">
                <div class="point"></div>
                <span>Заказан:</span>
                <time>20 декабря</time>
            </div>
            <div class="marker__time pull-right">
                <div class="point"></div>
                <span>Доставка</span>
                <time>20 декабря</time>
            </div>
            <div class="row-fluid">
                <div class="span1 a-center">
                    <span class="label v-bottom">Отказ</span>
                    <br>
                    <a href="#" class="size-10 v-top">Изменить</a>
                </div>
                <div class="span3">
                    <p class="dis">
                        Клиент: <a href="#" class="">Мастюгина О. С.</a> <br>
                        Доставка через FeedEx, по адресу: <br>
                        г. Екатеринбург, ул. Блюхера, 519
                    </p>
                </div>
                <div class="span6">
                    <table class="table-clear table__prise">
                        <tr>
                            <th><span>Сумма</span></th>
                            <th><span>Доставка</span></th>
                            <th><span>Итого</span></th>
                        </tr>
                        <tr>
                            <td><span>56 000,56 руб.</span></td>
                            <td><span>200 руб.</span></td>
                            <td>
                                <strong>
                                    56 200,56 руб.
                                </strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <h3 class="grayLighter">Детали выбранного заказа</h3>
        <table class="table-clear order-list order-list__grey">
        <tr>
            <td>

            </td>
            <td></td>
            <td>
                <div class="order-list__wraper-item" >
                    <div class="order-list__wraper-item" >

                        <div class="time">
                            <time style="left:30%;">
                                24 декабря 2012
                            </time>
                        </div>
                        <div class="order-list__item  order-list__item_detail" style="width:670%; left:30%;">
                            <div class="popover-box">
                                <div id="edit0" class="popover top hide fade " style="display: none;">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <div class="arrow"></div>
                                    <div class="popover-content size-15">
                                        <a href="#" class="">
                                            <i class="  icon-minus-sign black size-17"></i>Удалить
                                        </a>
                                        <hr class="margin-5">
                                        <a href="#" class="">
                                            <i class=" icon-retweet black size-17"></i>Заменить
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="textOverflow">

                                <strong><a href="#" class="link ">Диск сцепления, COVER-CLUTCH</a></strong>
                                <a href="#edit0"
                                   data-toggle="modal"
                                   data-target="#edit0"
                                   data-offset="true"
                                   class="link-edit"><i class="icon-pencil icon-large"></i></a><br>

                                <span class="gray size-11 ">30210Y066A</span>
                            </div>

                        </div>
                        <span style="left:700%" class="marker_line"></span>

                    </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>

            </td>
            <td></td>
            <td>

            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="order-list__wraper-item" >

                    <div class="time">
                        <time style="">
                            24 декабря 2012
                        </time>
                    </div>

                    <div class="order-list__item  order-list__item_detail" style="width:670%;">
                        <div class="popover-box">
                            <div id="edit1" class="popover top hide fade " style="display: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <a href="#" class="">
                                        <i class="  icon-minus-sign black size-17"></i>Удалить
                                    </a>
                                    <hr class="margin-5">
                                    <a href="#" class="">
                                        <i class=" icon-retweet black size-17"></i>Заменить
                                    </a>
                                </div>
                            </div>
                            <div id="solveProblem" class="popover top hide fade " style="display: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <a href="#" class="">
                                        <i class="  icon-minus-sign black size-17"></i>Убрать из заказа
                                    </a>
                                    <hr class="margin-5">
                                    <a href="#" class="">
                                        <i class=" icon-refresh black size-17"></i>Сменить поставщика
                                    </a>
                                    <hr class="margin-5">
                                    <a href="#" class="">
                                        <i class=" icon-retweet black size-17"></i>Заказать аналог или замену
                                    </a>
                                    <hr class="margin-5">
                                    <a href="#" class="">
                                        <i class="icon-comment black size-17"></i>Связаться с клиентом
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="textOverflow">
                            <strong><a href="#" class="link ">Диск сцепления, COVER-CLUTCH</a></strong>
                            <a href="#edit1"
                               data-toggle="modal"
                               data-target="#edit1"
                               data-offset="true"
                               class="link-edit"><i class="icon-pencil icon-large"></i></a><br>
                            <span class="gray size-11 ">30210Y066A</span>
                        </div>
                        <hr>
                        <div class="order-list__item_red margin-bottom-10">
                            <div class="label block">
                                <div class="row-fluid">
                                    <div class="span9 ">
                                        <a class="size-13" href="#">
                                            Еще одна деталь
                                        </a> <br>
                                        <span>30210Y066A</span>
                                    </div>
                                    <div class="span3 a-right">
                                        Отказ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textOverflow">

                        <a href="#solveProblem"
                           data-toggle="modal"
                           data-target="#solveProblem"
                           data-offset="true"
                           class="btn btn-green ">Решить проблему</a>
                        </div>
                    </div>
                    <span style="left:670%;" class="marker_line"></span>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>

            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>

            </td>
            <td></td>
            <td>

            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>

            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="order-list__wraper-item" >

                    <div class="time">
                        <time style="">
                            24 декабря 2012
                        </time>
                    </div>
                    <div class="order-list__item  order-list__item_detail" style="width:100%;">
                        <div class="popover-box">
                            <div id="edit2" class="popover top hide fade " style="display: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <a href="#" class="">
                                        <i class="  icon-minus-sign black size-17"></i>Удалить
                                    </a>
                                    <hr class="margin-5">
                                    <a href="#" class="">
                                        <i class=" icon-retweet black size-17"></i>Заменить
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="textOverflow">

                            <strong><a href="#" class="link ">Диск сцепления, COVER-CLUTCH</a></strong>
                            <a href="#edit2"
                               data-toggle="modal"
                               data-target="#edit2"
                               data-offset="true"
                               class="link-edit"><i class="icon-pencil icon-large"></i></a><br>

                            <span class="gray size-11 ">30210Y066A</span>
                        </div>
                        <hr>
                        <div class="order-list__item_red margin-bottom-10">
                            <div class="label block">
                                <div class="row-fluid">
                                    <div class="span9 ">
                                        <a class="size-13" href="#">
                                            Еще одна деталь
                                        </a> <br>
                                        <span>30210Y066A</span>
                                    </div>
                                    <div class="span3 a-right">
                                        Отказ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textOverflow">
                            <button type="button" class="btn btn-green ">Решить проблему</button>
                        </div>
                    </div>
                    <span style="left:100%;" class="marker_line"></span>
                </div>
            </td>
        </tr>
        </table>
        <div class="a-right size-16 margin-top-10 margin-bottom-20">
            <strong>
                <a href="#" class=""><i class="icon-plus"></i>Добавить деталь</a>
            </strong>
        </div>
        <h2>
            Счета по заказу <a class="btn btn-mini " href="#">Выставить счет</a>
        </h2>
        <div class="row">
            <div class="span10">
                <table class="table table-bordered">
                    <tbody><tr>
                        <th class="checkbox">
                            <input type="checkbox">
                        </th>
                        <th class="span2">Когда</th>
                        <th class="span2">Сумма </th>
                        <th>Основание счета</th>
                    </tr>
                    <tr>
                        <td class="checkbox">
                            <input type="checkbox">
                        </td>
                        <td>
                            <time>
                                20 декабря 2012, в 18:05
                            </time>
                        </td>
                        <td>
                            <strong class="table__money">
                                52 500 руб.
                            </strong>
                        </td>
                        <td>
                            Оплата заказа №1234 Иванов И.И.
                        </td>
                    </tr>
                    <tr>
                        <td class="checkbox">
                            <input type="checkbox">
                        </td>
                        <td>
                            <time>
                                20 декабря 2012, в 18:05
                            </time>
                        </td>
                        <td>
                            <strong class="table__money">
                                52 500 руб.
                            </strong>
                        </td>
                        <td>
                            Оплата заказа №1234 Иванов И.И.
                        </td>
                    </tr>
                    <tr>
                        <td class="checkbox">
                            <input type="checkbox">
                        </td>
                        <td>
                            <time>
                                20 декабря 2012, в 18:05
                            </time>
                        </td>
                        <td>
                            <strong class="table__money">
                                52 500 руб.
                            </strong>
                        </td>
                        <td>
                            Оплата заказа №1234 Иванов И.И.
                        </td>
                    </tr>
                    </tbody></table>
                <div class="action-table">
                    <div class="icon_arrow-up"></div>
                    <div class="btn-group">
                        <button class="btn btn-warning ">Оплатить</button>
                        <button class="btn  dropdown-toggle btn-warning " data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="">Один</a> </li>
                            <li><a href="#" class="">Один</a> </li>
                            <li><a href="#" class="">Один</a> </li>
                            <li><a href="#" class="">Один</a> </li>
                        </ul>
                    </div>
                    <span class="action-table__text">выбранные</span>

                </div>
            </div>
        </div>
            <h2 class="margin-top-20">История операция по заказу</h2>
            <ul class="history-list hover-off margin-bottom-30">
            <li class="event ">
                <div class="event__box">
                    <span class="event__hig">Звонок клиенту</span>
                    <span class="event__property">Позиция подтверждена</span>
                    <time class="event__time">22 января 2012, 22:45</time>
             </div>
            </li>
            <li class="event">
                <div class="event__box">
                    <span class="event__hig">Обновление статуса</span>
                    <span class="event__property">Присвоен статус: "New". Автор изменений: <a href="#" class="">Ольга Мастюгина</a></span>
                    <time class="event__time">22 января 2012, 22:45</time>
                </div>
            </li>
            <li class="event">
                <div class="event__box">
                    <span class="event__hig">Заметка</span>
                    <span class="event__property">Тут такая штука: клиент редиска, и хочет как всегда вчера - надо ему позвонить и объяснить, что получится только завтра</span>
                    <time class="event__time">22 января 2012, 22:45</time>
                </div>
            </li>
            <li class="event">
                <div class="event__box">
                    <span class="event__hig">Замена</span>
                    <span class="event__property">Деталь "<strong>wefwefwef</strong>" заменена на "<strong>wefwefewf</strong>"</span>
                    <time class="event__time">22 января 2012, 22:45</time>
                </div>
            </li>
            <li class="event">
                <div class="event__box">
                    <span class="event__hig fail">Отказ</span>
                    <span class="event__property">По детали "<strong>уцауцауцацу</strong>" пришел отказ от поставщика.</span>
                    <time class="event__time">22 января 2012, 22:45</time>
                </div>
            </li>
        </ul>
        </div>
    </div>
    {% include 'system-backend/blocks/__helper.html' %}
{% endblock %}