{% extends '__base_backend.html' %}
{% block content %}
<div class="">
    <div class="btn-group right margin-right-10">
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        Оформить новый заказ
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a href="#">Для себя</a></li>
          <li><a href="#">Для вашего клиента</a></li>
      </ul>
    </div>

    <ul class="nav nav-tabs size-17">
        <li><div class="padding-5 margin-right-10 margin-left-0 size-12">Группировать по:</div></li>
        <li class=""><a href="#">Заказам</a></li>
        <li class="active"><a href="#">Деталям</a></li>
    </ul>
    <div class="btn-group">
        <a class="active btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Показывать все заказы">Все</a>
        <a class="btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Только те заказы, по которым поставщик дал отказ в доставке">Проблемные</a>
        <a class="btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Новые заказы от пользователей">Новые</a>
        <a class="btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Заказы, которые должны придти на этой неделе">На эту неделю</a>
    </div>
    <br>
    <ul class="data-selekt">
        <li class="data-selekt__item active"><span class="data-selek__text">Текущий месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">Прошлый месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">Период</span></li>
        <li class="data-selekt__form">
            <form action="" class="form-horizontal">
                <input type="text" class="datepicker span2">
                <a href="#" class="data-selekt__cal icon_data datepicker"></a>
                —
                <input type="text" class="datepicker span2">
                <a href="#" class="data-selekt__cal icon_data datepicker"></a>
            </form>
        </li>
        <li class="data-selekt__item"><span class="data-selek__text">По статусу</span></li>
        <li class="data-selekt__form">
            <form action="" class="form-horizontal">
                <select class="span2">
                    <option>Не оплачен</option>
                    <option>Новый</option>
                    <option>В оплате</option>
                </select>
            </form>
        </li>
        <li class="data-selekt__form right padding-right-20">
            <form action="" class="form-horizontal">
                <div class="input-append">
                    <input class="span2" id="" type="text"><button class="btn" type="button">Искать</button>
                </div>
            </form>
        </li>
    </ul>
    <div class="margin-right-20">
        <table class="table table-bordered">
            <tr>
                <th class="span1">Номер</th>
                <th class="span1">Деталь</th>
                <th class="span2">Вероятность</th>
                <th class="span1">Срок</th>
                <th class="span1">Страна</th>
                <th class="span1">Количество</th>
                <th class="span1">Цена</th>
                <th class="">Статус</th>
            </tr>
            <tr>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>
                            30210Y066A <br>
                        </strong>
                        Nissan,<br>
                        Япония
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>Диск сцепления</strong><br>
                        COVER-CLUTCH <br>
                        <small>
                            Вес: 4.389
                        </small>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <div class="flot f5"   >
                            <span></span>
                            <script type="text/javascript">

                                $(function () {
                                    // data
                                    var data1 = [
                                        { label: "2",  data: 70},
                                        { label: "1",  data: 80}
                                    ];
                                    // DEFAULT
                                    $.plot($(".flot.f5"), data1,
                                        {
                                            series: {
                                                pie: {
                                                    show: true
                                                }
                                            }
                                        });
                                });
                            </script>
                        </div>
                        <strong>25%</strong>
                    </div>
                </td>
                <td>
                    <div class="product-information margin-left-0">
                        <div class="product-information__property">
                            <strong>6</strong> (13)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        Северная <br>
                        Америка
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>1</strong>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>4 345 </strong><span class="icom_rub_sh sprate"></span>
                    </div>
                </td>
                <td><span class="label label-orange">New</span></td>
             </tr>
            <tr>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>
                            30210Y066A <br>
                        </strong>
                        Nissan,<br>
                        Япония
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>Диск сцепления</strong><br>
                        COVER-CLUTCH <br>
                        <small>
                            Вес: 4.389
                        </small>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <div class="flot f5"   >
                            <span></span>
                            <script type="text/javascript">

                                $(function () {
                                    // data
                                    var data1 = [
                                        { label: "2",  data: 70},
                                        { label: "1",  data: 80}
                                    ];
                                    // DEFAULT
                                    $.plot($(".flot.f5"), data1,
                                        {
                                            series: {
                                                pie: {
                                                    show: true
                                                }
                                            }
                                        });
                                });
                            </script>
                        </div>
                        <strong>25%</strong>
                    </div>
                </td>
                <td>
                    <div class="product-information margin-left-0">
                        <div class="product-information__property">
                            <strong>6</strong> (13)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        Северная <br>
                        Америка
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>1</strong>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>4 345 </strong><span class="icom_rub_sh sprate"></span>
                    </div>
                </td>
                <td><span class="label label-orange">New</span></td>
             </tr>
            <tr>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>
                            30210Y066A <br>
                        </strong>
                        Nissan,<br>
                        Япония
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>Диск сцепления</strong><br>
                        COVER-CLUTCH <br>
                        <small>
                            Вес: 4.389
                        </small>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <div class="flot f5"   >
                            <span></span>
                            <script type="text/javascript">

                                $(function () {
                                    // data
                                    var data1 = [
                                        { label: "2",  data: 70},
                                        { label: "1",  data: 80}
                                    ];
                                    // DEFAULT
                                    $.plot($(".flot.f5"), data1,
                                        {
                                            series: {
                                                pie: {
                                                    show: true
                                                }
                                            }
                                        });
                                });
                            </script>
                        </div>
                        <strong>25%</strong>
                    </div>
                </td>
                <td>
                    <div class="product-information margin-left-0">
                        <div class="product-information__property">
                            <strong>6</strong> (13)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        Северная <br>
                        Америка
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>1</strong>
                    </div>
                </td>
                <td>
                    <div class="product-information__property margin-left-0">
                        <strong>4 345 </strong><span class="icom_rub_sh sprate"></span>
                    </div>
                </td>
                <td><span class="label label-orange">New</span></td>
             </tr>
          </table>
    </div>
    <div class="margin-right-20">
       <div class="row">
            <div class="span9">
                <div class="add-more">
                    <div class="row-fluid">
                        <div class="span2">
                            <div></div>
                        </div>
                        <div class="span4 ">
                            <a class="link_in" href="#">Показать еще 20 деталей</a>
                        </div>
                        <div class="span2">
                            <div></div>
                        </div>
                        <div class="span4 ">
                            <a class="" href="#">Показать все 123 детали за период</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}