{% extends '__base_backend.html' %}
{% block content %}
<div class="maxwidth-container">
    <div class="btn-group right margin-right-20">
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        Оформить новый заказ
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a href="#">Для себя</a></li>
          <li><a href="#">Для вашего клиента</a></li>
      </ul>
    </div>

    <ul class="nav nav-tabs size-17">
        <li><div class="padding-5 margin-right-10 margin-left-0 size-12">Группировать по:</div></li>
        <li class="active"><a href="#">Заказам</a></li>
        <li><a href="#">Деталям</a></li>
    </ul>
    <div class="btn-group">
        <a class="active btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Показывать все заказы">Все</a>
        <a class="btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Только те заказы, по которым поставщик дал отказ в доставке">Проблемные</a>
        <a class="btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Новые заказы от пользователей">Новые</a>
        <a class="btn size-15 padding-10" rel="tooltip" data-placement="top" data-original-title="Заказы, которые должны придти на этой неделе">На эту неделю</a>
    </div>
    <br>

    <ul class="data-selekt">
        <li class="data-selekt__item active"><span class="data-selek__text">Текущий месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">Прошлый месяц</span></li>
        <li class="data-selekt__item"><span class="data-selek__text">Период</span></li>
        <li class="data-selekt__form">
            <form action="" class="form-horizontal">
                <input type="text" class="datepicker span2">
                <a href="#" class="data-selekt__cal icon_data datepicker"></a>
                —
                <input type="text" class="datepicker span2">
                <a href="#" class="data-selekt__cal icon_data datepicker"></a>
            </form>
        </li>
        <li class="data-selekt__item"><span class="data-selek__text">По статусу</span></li>
        <li class="data-selekt__form">
            <form action="" class="form-horizontal">
                <select class="span2">
                    <option>Не оплачен</option>
                    <option>Новый</option>
                    <option>В оплате</option>
                </select>
            </form>
        </li>
        <li class="data-selekt__form right">
            <form action="" class="form-horizontal">
                <div class="input-append">
                    <input class="span2" id="" type="text"><button class="btn" type="button">Искать</button>
                </div>
            </form>
        </li>
    </ul>
    <div class="margin-right-20 row">
        <table class="table table-bordered orders-table span13">
            <tbody>
            <colgroup>
                <col width="10%">
                <col width="22%">
                <col width="22%">
                <col width="22%">
                <col width="22%">
                <col width="22%">
            </colgroup>
            <tr>
                <th class="span1">№ заказа</th>
                <th class="span1">Дата заказа</th>
                <th class="span1">Покупатель</th>
                <th class="span1">Сумма</th>
                <th class="span1">% суммы</th>
                <th class="span1">Статус</th>
                <th class="span1"></th>
            </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">№1</a></td>
                    <td><time>29 октября 2012, в 13:06</time></td>
                    <td><a href="/acoounts/show/71" class="black">Мастюгина О. С.</a></td>
                    <td><strong>121.40 руб.</strong></td>
                    <td><strong>0.00%</strong></td>
                    <td><span class="label label-orange">New</span></td>
                    <td>
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="span9">
                <div class="add-more">
                    <div class="row-fluid">
                        <div class="span2">
                            <div></div>
                        </div>
                        <div class="span4 ">
                            <a class="link_in" href="#">Показать еще 20 клиентов</a>
                        </div>
                        <div class="span2">
                            <div></div>
                        </div>
                        <div class="span4 ">
                            <a class="" href="#">Показать все 123 клиента за период</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}