{% extends '__base_backend.html' %}
{% block content %}
<h1>Оплата счетов</h1>
<div class="clearfix margin-bottom-20">
    <div class="green-arrow">
        <a href="#" class="green-arrow__box t-decorationNorm">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont "><span>Вернуться к финансам</span></div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>
<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <tbody><tr>
                <th class="span2">Когда</th>
                <th class="span2">Сумма </th>
                <th class="span2">От кого/кому</th>
                <th>Описание</th>
            </tr>

            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            <tr>
                <td>
                    <time>
                        20 декабря 2012, в 18:05
                    </time>
                </td>
                <td>
                    <strong class="table__money">
                        52 500 руб.
                    </strong>
                </td>
                <td>
                    Яндекс-Деньги
                </td>
                <td>
                    Оплата заказа №1234 Иванов И.И.
                </td>
            </tr>
            </tbody></table>
        <div class="in-total ">
            <div class="tim_icom_brace sprate"></div>
            <div class="in-total__text">
                Итого: <strong>150 400 руб.</strong>
            </div>
        </div>
        <form action="" class="form-horizontal margin-top-20 margin-bottom-40">
            <div class="control-group">
                <label class="control-label" for="">Способ оплаты</label>
                <div class="controls">
                    <select>
                        <option>робокасса</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>  <br><br>
                </div>
                <div class="control-group">
                <div class="controls">
                    <button class="btn btn-warning">Оплатить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
