{% extends '__base_backend.html' %}
{% block content %}
<h1>Настройки</h1>
<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item  active  ">
                <a class="horizontal-menu__link" href="#">
                    Настройки магазина
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление сайтом
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Данные о компании
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid margin-bottom-20">
        <div class="span9">
            <table class="table table-bordered  table-big-padding">
                <tbody>
                <tr>
                    <th class="" colspan=""><h3 class="black"><img class="v-middle" src="/static/seller_control_panel/img/parts-catalogs.png" alt=""> Марки автомобилей</h3></th>
                    <th></th>
                    <th></th>
                    <th class="border_grey span1 a-center" >
                        <a href="#parts-catalogs" class="linc-collapse linc-collapse__up linc-collapse_table_js" >Свернуть</a>
                    </th>
                </tr>
                </tbody>
                <tbody id="parts-catalogs" class="collapse in">
                <tr class="table__second-header">
                    <th class="span4">
                        Производитель автомобилей
                    </th>
                    <th>
                        Использовать на сайте
                    </th>
                    <th class="span2" colspan="2">
                        Порядок
                        <a class="more-info" rel="popover" data-placement="right" data-content="Порядок выведения марок  в ленте логотипов на сайте. Если вы хотите поменять этот порядок – просто перетащите строку с нужной маркой выше или ниже по списку" data-original-title="Порядок выведения"><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
                    </th>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Toyota</strong>
                    </td>
                    <td>
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                    <td colspan="2"><a href="#"><span class="icon icon-random"></span></a></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Nissan</strong>
                    </td>
                    <td>
                        <div class="icon_bad_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Включить</a>
                    </td>
                    <td colspan="2"><a href="#"><span class="icon icon-random"></span></a></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Honda</strong>
                    </td>
                    <td>
                        <div class="icon_bad_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Включить</a>
                    </td>
                    <td colspan="2"><a href="#"><span class="icon icon-random"></span></a></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Mazda</strong>
                    </td>
                    <td>
                        <div class="icon_bad_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Включить</a>
                    </td>
                    <td colspan="2"><a href="#"><span class="icon icon-random"></span></a></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">BMW</strong>
                    </td>
                    <td>
                        <div class="icon_bad_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Включить</a>
                    </td>
                    <td colspan="2"><a href="#"><span class="icon icon-random"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span3 a-center">
                    <div class="reference-i">
                        <span>?</span>
                    </div>
                    <span class="reference-i__text">Справка</span>
                </div>
                <div class="span9">
                    <h4>Марки автомобилей</h4>
                    <p class="spmal-text">
                        Выберите марки, запчасти на которые вы будете продавать. Порядок марок в списке отображает порядок выведения логотипов марок на сайте. Если вы хотите его поменять – просто перетащите строку с нужной маркой выше или ниже по списку
                    </p>
                </div>

            </div>
        </div>

    </div>
<div class="row-fluid margin-bottom-20">
        <div class="span9">
            <table class="table table-bordered table-big-padding  ">
                <tbody>
                <tr>
                    <th class="span4" ><h3 class="black"><img class="v-middle" src="/static/seller_control_panel/img/Suppliers.png" alt=""> Поставщики</h3></th>
                    <th class=""></th>
                    <th class="border_grey span1 a-center" >
                        <a href="#Suppliers" class="linc-collapse linc-collapse__up linc-collapse_table_js" >Свернуть</a>
                    </th>
                </tr>
                </tbody>
                <tbody id="Suppliers" class="collapse in">
                <tr class="table__second-header">
                    <th class="">
                        Название поставщика
                    </th>
                    <th colspan="">
                        Использовать на сайте
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Emex</strong>
                    </td>
                    <td colspan="">
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Exist</strong>
                    </td>
                    <td colspan="">
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Honda</strong>
                    </td>
                    <td colspan="">
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Прайс с базы</strong> <small class="size-12 grayLight">Это ваш прайс-лист</small>
                    </td>
                    <td colspan="">
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Прайс Коляна</strong> <small class="size-12 grayLight">Это ваш прайс-лист</small>
                    </td>
                    <td colspan="">
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                    <td></td>
                </tr>

                <tr class="table_no-hover">
                    <td colspan="3">
                        <small class="grayLight" >Если у вас есть собственный склад запчастей, вы можете загрузить его и не работать с другими поставщиками</small>
                        <br>
                        <a href="#" class="btn btn-warning margin-top-10 margin-bottom-10 ">Добавить собственный прайс</a>
                        <br>
                        <a href="#" class="">Требований к прайс-листу в Exel-формате</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <div class="span3 a-center">
                    <div class="reference-i">
                        <span>?</span>
                    </div>
                    <span class="reference-i__text">Справка</span>
                </div>
                <div class="span9">
                    <h4>Поставщики</h4>
                    <p class="spmal-text">
                        Вы можете выбрать одного или нескольких поставщиков, через которых вы сможете заказывать необходимые детали
                    </p>
                </div>

            </div>
        </div>

    </div>
<div class="row-fluid margin-bottom-20">
        <div class="span9">
            <table class="table table-bordered table-big-padding  ">
                <tbody>
                <tr>
                    <th class="span4" ><h3 class="black"><img class="v-middle" src="/static/seller_control_panel/img/payment-methods.png" alt=""> <span class="v-middle">Методы оплаты</span> </h3></th>
                    <th class=""></th>
                    <th class="border_grey span1 a-center" >
                        <a href="#payment-methods" class="linc-collapse linc-collapse__up linc-collapse_table_js" >Свернуть</a>
                    </th>
                </tr>
                </tbody>
                <tbody id="payment-methods" class="collapse in">
                <tr class="table__second-header">
                    <th class="">
                        Метод оплаты
                    </th>
                    <th colspan="">
                        Использовать на сайте
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Наличные</strong>
                    </td>
                    <td colspan="2">
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">QIWI-кошелек</strong>
                    </td>
                    <td colspan="2">
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong class="gray size-16">Робокасса</strong>
                    </td>
                    <td colspan="2">
                        <div class="box-edit">
                            <a href="#" class="icon_edit"></a>
                        </div>
                        <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Платежные системы</h4>
                <p class="spmal-text">
                    Возможность работы с платежными системами появится в самое ближайшее время, ждать совсем недолго :-)
                </p>
            </div>

        </div>
    </div>
    </div>
<div class="row-fluid margin-bottom-20">
    <div class="span9">
        <table class="table table-bordered table-big-padding  ">
            <tbody>
            <tr>
                <th  colspan="2"><h3 class="black"><img class="v-middle" src="/static/seller_control_panel/img/delivery-methods.png" alt=""> Методы доставки</h3></th>
                <th class=""></th>
                <th class="border_grey span1 a-center" >
                    <a href="#delivery-methods" class="linc-collapse linc-collapse__up linc-collapse_table_js" >Свернуть</a>
                </th>
            </tr>
            </tbody>
            <tbody id="delivery-methods" class="collapse in">
            <tr class="table__second-header">
                <th class="">
                    Метод доставки
                </th>
                <th colspan="" class="span3" >
                    Описание
                </th>
                <th colspan="2"  class="span4">
                    Использовать на сайте
                </th>
            </tr>
            <tr>
                <td>
                    <strong class="gray size-16">Самовывоз</strong>
                </td>
                <td class="size-12">Забираете сами товар с нашего склада по адресу ул. Блюхера, 58</td>
                <td colspan="2">
                    <div class="box-edit">
                        <a href="#" class="icon_edit"></a>
                    </div>
                    <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="gray size-16">Курьерская доставка</strong>
                </td>
                <td class="size-12">Доставка по вашему адресу. Только для Екатеринбурга. Бесплатна при заказа на сумму от 3000 р.</td>
                <td colspan="2">
                    <div class="box-edit">
                        <a href="#" class="icon_edit"></a>
                    </div>
                    <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                </td>
            </tr>


            <tr class="table_no-hover">
                <td colspan="4">
                    <a href="#" class="btn btn-warning margin-top-10 margin-bottom-10 ">Добавить новый метод доставки</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid margin-bottom-20">
    <div class="span9">
        <table class="table table-bordered table-big-padding  ">
            <tbody>
            <tr>
                <th  colspan="2"><h3 class="black"><img class="v-middle" src="/static/seller_control_panel/img/warehouse-management.png" alt=""> Управление складами</h3></th>
                <th class=""></th>
                <th class="border_grey span1 a-center" >
                    <a href="#warehouse-management" class="linc-collapse linc-collapse__up linc-collapse_table_js" >Свернуть</a>
                </th>
            </tr>
            </tbody>
            <tbody id="warehouse-management" class="collapse in">
            <tr class="table__second-header">
                <th class="">
                    Метод доставки
                </th>
                <th colspan="" class="span3" >
                    Описание
                </th>
                <th colspan="2"  class="span4">
                    Использовать на сайте
                </th>
            </tr>
            <tr>
                <td>
                    <strong class="gray size-16">Гараж</strong>
                </td>
                <td class="size-12">Екатеринбург, ул. Блюхера, 58</td>
                <td colspan="2">
                    <div class="box-edit">
                        <a href="#" class="icon_edit"></a>
                    </div>
                    <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="gray size-16">Подполье</strong>
                </td>
                <td class="size-12">Екатеринбург, ул. Садовая, 34, строение 3</td>
                <td colspan="2">
                    <div class="box-edit">
                        <a href="#" class="icon_edit"></a>
                    </div>
                    <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
                </td>
            </tr>


            <tr class="table_no-hover">
                <td colspan="4">
                    <a href="#" class="btn btn-warning margin-top-10 margin-bottom-10 ">Добавить новый склад</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Склады</span>
            </div>
            <div class="span9">
                <h4>Склады</h4>
                <p class="spmal-text">
                    Вы можете заказывать запчасти как для клиентов, так и для себя, на свой склад. Чтобы была возможность отправлять запчасть на склад, необходимо указать его название и адрес. Складов может быть сколько угодно.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        <table class="table table-bordered table_no-hover">
            <tbody><tr>
                <th class="">Другие настройки</th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                        <form action="" class="form-horizontal">
                            <div class="control-group ">
                                <label class="control-label">Предоплата</label>
                                <div class="controls">
                                    <input type="text" class="input-small a-right"> <strong class="size-20">%</strong>
                                    <p class="help-block">Размер предоплаты, которую должен внести клиент для оформления заказа</p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Наценка</label>
                                <div class="controls">
                                    <input type="text" class="input-small a-right"> <strong class="size-20">%</strong>
                                    <p class="help-block">Ваша наценка на товары поставщика</p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Повышение
                                    цены </label>
                                <div class="controls">
                                    <input type="text" class="input-small a-right"> <strong class="size-20">%</strong>
                                    <a class="more-info" rel="popover" data-placement="right" data-content=" Со времени бронирования детали до времени отгрузки стоимость детали у поставщика может увеличиться. При каком максимальном проценте увеличения вы разрешаете оформить заказ автоматически?" data-original-title="Согласен на повышение цены"><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
                                    <p class="help-block">Мах % увеличения стоимости детали для ее автоматического заказа</p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Описание компании</label>
                                <div class="controls">
                                    <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Краткое и запоминающееся описание вашей компании привлечет больше покупателей, а полезная информация поможет им сориентироваться и сделать выбор в вашу пользу." data-original-title="   Описание компании:"><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>

                                    <textarea rows="6" class="span6" style="float: left" ></textarea>
                                    <br class="clear clearfix">
                                    <p class="help-block">Выводится на портале Teamparts.org
                                    </p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <div class="controls">
                                    <button href="#" class="btn btn-warning">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody></table>
    </div>
</div>
{% endblock %}