

// фон шапки на гловно
// можно передовать любые значение валидные  background
@headerFonIndex:#349938;
@searchFonIndex:#1E3F04;

@greyCol:#efefef;
//наборы цветов для сайта
@colorSet1:#349938;
@colorSet2:#A8BD83;
@colorSet3:#749662;
//@colorSet4:;
@buttonIndex1: #FFB228;
@buttonIndex2:#BE4E04;

@buttonOher1:lighten(@buttonOher2, 15%);
@buttonOher2:#d16a1a;

// Links
// -------------------------
@linkColor:             #32992E;
@linkColorHover:        darken(@linkColor, 15%);
