

// фон шапки на гловно
// можно передовать любые значение валидные  background
@headerFonIndex:#67629E;
@searchFonIndex:#1A1244;

@greyCol:#efefef;
//наборы цветов для сайта
@colorSet1:#4A476F;
@colorSet2:#AFACCE;
@colorSet3:#64599E;
//@colorSet4:;
@buttonIndex1: #FFF72F;
@buttonIndex2:#A59800;
.header .btn-search:hover{
  color:#fff;
  span  {
    color:#fff;
  }
}
@buttonOher1:lighten(@buttonOher2, 15%);
@buttonOher2:#49448A;

// Links
// -------------------------
@linkColor:#563ea7;
@linkColorHover:        darken(@linkColor, 15%);
