{% extends '__base_frontend.html' %}
{% block content %}
<h1>Оформление заказа</h1>
<div class="nav-basket">
    <ul>
        <li class="active">
            <div class="box">
                <div class="box-number">
                    <span>1</span>
                </div>
                <span class="text">Список товаров </span>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="box-number">
                    <span>2</span>
                </div>
                <span class="text">Данные для заказа</span>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="box-number">
                    <span>3</span>
                </div>
                <span class="text">Проверка заказа</span>
            </div>
        </li>
    </ul>
</div>
<div class="nav-basket__help nav-basket__help_a3">
    <div class="row-fluid">
        <div class="span1">
            <img src="/static/img/nav-basket__info.png" alt="">
        </div>
        <div class="span11">
            <strong>Ур-ра, готово!</strong> <br>
           <span class="size-12">
                Все верно, так, как вы хотели? Можно ведь и <a href="#" class="white">изменить данные</a>. Или смело жмите кнопку «оформить»!
           </span>
        </div>

    </div>
</div>
<article>


<table class="table_number  margin-0">
<colgroup>
    <col width="125px">
    <col width="130px">
    <col width="60px">
    <col width="70px">
    <col width="50px">
    <col width="80px">
    <col width="80px">
    <col width="100px">
</colgroup>
<thead>
<tr>
    <th><div class="gradtabl"></div><div class="gradtab ">Производитель</div></th>
    <th><div class="gradtab ">Информация</div></th>
    <th><div class="gradtab ">Наличие</div></th>
    <th><div class="gradtab ">Срок </div></th>
    <th><div class="gradtab ">Поставщик</div></th>
    <th><div class="gradtab ">Кол-во </div></th>
    <th class=" "><div class="gradtabr"></div><div class="gradtab a-center">Цена (за 1)</div></th>
    <th class=" "><div class="gradtab a-center">Стоимость</div></th>

</tr>

</thead>
<tbody class="collapse  ">
<tr  >
    <td>
        <div >
            <strong>30210Y066A</strong><br>
            <span>Nissan,</span><br>
            <span>Япония</span>
        </div>
    </td>
    <td>
        <div >
            <strong>Диск сцепления</strong><br>
            <span>COVER-CLUTCH</span><br>
            <span class="gray size-11">Вес: 4.389</span>
        </div>
    </td>
    <td class="flotBut "data-silector="allStatistic">
        <div class="flot f5" data-tooltip title="Процент вероятности наличия детали у поставщика"  >
            <span></span>
            <script type="text/javascript">

                $(function () {
                    // data
                    var data1 = [
                        { label: "2",  data: 70},
                        { label: "1",  data: 80}

                    ];
                    // DEFAULT
                    $.plot($(".flot.f5"), data1,
                            {
                                series: {
                                    pie: {
                                        show: true
                                    }
                                }
                            });

                });

            </script>
        </div>
        <strong>25%</strong>
    </td>
    <td><div ><strong>6</strong><span> (10)</span></div></td>
    <td>
        <div >
            Северная<br>
            Америка
        </div>
    </td>
    <td>
        <div class="a-center"><strong>4</strong></div>
    </td>

    <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
    <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
</tr>


</tbody>


</table>
    <div class="row-fluid">
        <div class="span6">
            <dl class="dl-horizontal">
                <dt class="gray">Покупатель: </dt>
                <dd class="margin-bottom-10">Иванов Иван <br>
                    +7 (932) 6067617 <br>
                    o.mastyugina@yandex.ru
                </dd>
                <dt class="gray">Доставка:  </dt>
                <dd class="margin-bottom-10"> Самовывоз; <br>
                    г.Екатеринбург по адресу: ул.Мичурина, 106
                </dd>
                <dt class="gray">Метод оплаты:  </dt>
                <dd class="margin-bottom-10"> Наличный рассчет
                </dd>
            </dl>
        </div>
        <div class="span6">
            <table class="size-12 w-100 margin-top-20  margin-bottom-10 a-right">
                <colgroup>
                    <col width="auto">
                    <col width="100">
                </colgroup>
                <tr>
                    <td >Стоимость товаров:</td>
                    <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
                </tr>
                <tr>
                    <td >Доставка:</td>
                    <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
                </tr>
                <tr>
                    <td >Итого к оплате:</td>
                    <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
                </tr>
                <tr>
                    <td >Предоплата:</td>
                    <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> (70%)</td>
                </tr>
            </table>

        </div>
   </div>
    <dl>
        <dt class="gray">Дополнительная информация:   </dt>
        <dd class="">
            В результатах подбора будет приведена статистика запросов на Яндексе, включающих заданное вами слово или словосочетание (слева), и других запросов, которые делали искавшие его люди (справа).
        </dd>
    </dl>
    <div class="row-fluid margin-top-40">
        <div class="span4">
            <hr class="margin-top-30">
        </div>
        <div class="span4">
            <a class="btn btn-big finihs-basket "><span class="btn-search_text">Оформить!</span></a>

        </div>
        <div class="span4">
            <hr class="margin-top-30">
        </div>
    </div>
</article>
{% endblock %}