{% extends '__base_frontend_wide.html' %}
{% block aside %}
{% endblock %}

{% block content %}
<div class="span12 content margin-bottom-80">
    <div class="row contacts">
        <div class="span6">
             <h1>Контактные данные</h1>
             <dl class="dl-horizontal">
                 <dt><strong>Адрес:</strong></dt>
                 <dd>Город, улица, дом, офис</dd>
                 <dt><strong>Телефон:</strong></dt>
                 <dd><p>8-911-123-45-67</p><p>8-(333)-123-45-67</p></dd>
                 <dt><strong>Skype:</strong></dt>
                 <dd>ваш_логин</dd>
                 <dt><strong>E-mail:</strong></dt>
                 <dd>info@ваш_сайт.ru</dd>
                 <dt><strong>Время работы:</strong></dt>
                 <dd><p>Дни недели</p><p>Время работы</p></dd>
             </dl>
             <div>
                 <p>Текстовый блок для указания дополнительной информации: например, как к вам добраться на машине или пешком, какие рядом есть общеизвестные опознавательные места, когда вам лучше звонить и прочее полезное</p>
             </div>
        </div>
        <div class="span6 a-center">
            <iframe width="560" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D1%83%D0%BB.%D0%91%D0%BB%D1%8E%D1%85%D0%B5%D1%80%D0%B0,+58&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=58.598104,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=ulitsa+Blyukhera,+58,+Ekaterinburg,+Sverdlovskaya+oblast',+Russia,+620137&amp;t=m&amp;ll=56.864411,60.670967&amp;spn=0.017172,0.045404&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D1%83%D0%BB.%D0%91%D0%BB%D1%8E%D1%85%D0%B5%D1%80%D0%B0,+58&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=58.598104,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=ulitsa+Blyukhera,+58,+Ekaterinburg,+Sverdlovskaya+oblast',+Russia,+620137&amp;t=m&amp;ll=56.864411,60.670967&amp;spn=0.017172,0.045404&amp;z=14" class="map-link"><i class="icon-signin"></i>Посмотреть на Google-картах</a></small>
        </div>
    </div>
    <div class="row contacts">
        <div class="span9">
            <h1>Реквизиты</h1>
            <dl class="dl-horizontal">
                <dt><strong>Наименование:</strong></dt>
                <dd>ООО Ваша организация</dd>
                <dt><strong>Юр. адрес:</strong></dt>
                <dd>Город, улица, дом, офис</dd>
                <dt><strong>Телефон:</strong></dt>
                <dd><p>8-911-123-45-67</p></dd>
                <dt><strong>ИНН:</strong></dt>
                <dd>1234567890</dd>
                <dt><strong>КПП:</strong></dt>
                <dd>1234567890</dd>
                <dt><strong>ОГРН:</strong></dt>
                <dd>12345678901234</dd>
                <dt><strong>Документы:</strong></dt>
                <dd>
                    <div class="docs">
                        <img src="/static/img/doc.png" alt="">
                        <a href="#">Свидетельство о государственной регистрации</a>
                        <span class="small">docx,23 кб</span>
                    </div>
                    <div class="docs">
                        <img src="/static/img/doc.png" alt="">
                        <a href="#">Свидетельство о постановке на учет в налоговом органе</a>
                        <span class="small">doc,58 кб</span>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
   
{% endblock %}