{% extends '__base_frontend.html' %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet"  href="/static/seller_control_panel/css/edit.css" >
{% endblock %}

{% block site_head %}
<div class=" header  tsb-edit_top-left">
    <a href="#" class="edit edit-width-auto padding-left-30 white size-11 padding-top-5 red-bg">Изменить&nbsp;изображение</a>
    <div class="row">
        <div class="span5 a-center">
            <div class="di_in-block">
                <div class="nav-defolt ">
                    <a href="#" class="sprite tim_icom_home"></a>
                    <a href="#" class="sprite tim_icom_meseg"></a>
                    <a href="#" class="sprite tim_icom_links"></a>
                </div>
                <div class="main-logo_box tsb-edit_top-left">
                    <a href="#" class="edit"></a>
                    <a href="#" class="main-logo_link transparent-back">
                        <img class="main-logo" src="/static/dil-my/tim-del_logobig.png">
                        <!-- <img class="main-logo" src="/static/seller_control_panel/img/test-logo-big.png"> -->
                    </a>
                </div>
            </div>
        </div>
        <div class="span7">
            <div class="lk ">
                <div class="lk_login white">
                    <div class="lk_input-box di_in-block">
                        <i class="icon-user"></i>
                        <a href="#" class="link_in">
                            Войти
                        </a>
                    </div>
                    <div class="lk_register-box di_in-block">
                        <a href="#" class="">Зарегистрироваться</a>
                    </div>
                </div>
                <div class="lk_in white" style="display: none;">
                    <div class="lk_data-box di_in-block">
                        <i class="icon-user"></i>
                        <a href="#">
                            Личные данные
                        </a><br>

                        <a href="#" class="">
                            История заказов
                        </a>
                    </div>
                    <div class="lk_edit-box di_in-block">
                        <i class="tim_icom_edit sprite"></i><a href="#" class="">Выход</a>
                    </div>
                </div>
            </div>
            <div class="  header_description">
                <h3 class="header_description_heading"><a href="#" class="edit"></a>Поиск и заказ запчастей для иномарок</h3>
            </div>
        </div>
        <br class="clear clearfix"><br>
    </div>
    <div class="row">
        <div class="span12">
            <form class="form-search di_block search">
                <div class="search-fon">

                </div>
                <div class="search-box">
                    <div class="search-form-box">
                        <input type="text" class="search-query" placeholder="Поиск по номеру детали или VIN автомобиля">
                        <i class="icon-ajax">
                            <img src="/static/img/ajax-loader.gif" class="icon-ajax_img" alt="Идет загрузка...">
                        </i>
                        <button class="btn btn-search" type="submit"><span class="btn-search_text">Искать</span></button>
                    </div>
                    <div class="search-help-box">
                        <div class="search-help_text">
                            Примеры запросов:
                        </div>
                        <div id="carousel_container">
                            <div id="left_scroll" class="tim_icom_arow-left-blue sprite"></div>
                            <div id="carousel_inner">
                                <ul id="carousel_ul">
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            SJNBAAN16UO411167
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            15208-9F600
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            WAUHE5438LN600047
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            MR 552951
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            SJNBAAN16UO411167
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            15208-9F600
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            WAUHE5438LN600047
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            MR 552951
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            SJNBAAN16UO411167
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="link_in di_in-block">
                                            15208-9F600
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="right_scroll" class="tim_icom_arow-right-blue sprite"></div>
                        </div>

                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
{% block is_index %}index-{% endblock %}
{% block content %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#content" data-toggle="tab"><span>Содержимое страницы</span></a></li>
        <li><a href="#settings" data-toggle="tab"><span>Настройки страницы</span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="content">
            <article>
                <h1 class="tsb-edit_before">
                    <a href="#" class="edit"></a> Заголовок для важной информации
                </h1>
                <p>
                    Полезный текст. Возможно, небольшой рассказ о вашей компании и специфике услуг, или описание какой-то услуги подробно, или что-то очень важное, что вы хотите донести до клиентов.
                    Здесь может быть больше еще больше еще больше еще больше еще больше еще больше еще больше еще больше еще больше еще больше еще больше еще больше текста. Примерно столько будет оптимальным.

                </p>
                <div class="row-fluid elementGroupIndex">
                    <div class="span4 tsb-edit_top-left">
                        <a href="#" class="edit"></a>
                        <img src="/static/dil-my/tim-del_11.png">
                        <a href="#">Новая акция</a>
                        <p class="gray size-12">
                            Это промо-блок. Здесь вы можете кратко рассказать, например, о своей новой классной акции
                        </p>
                    </div>
                    <div class="span4 tsb-edit_top-left">
                        <a href="#" class="edit"></a>
                        <img src="/static/dil-my/tim-del_13.png">
                        <a href="#">Новая услуга</a>
                        <p class="gray size-12">
                            Это промо-блок. Он служит для рассказа об услугах и товарах, на которые вы хотите обратить внимание пользователя
                        </p>
                    </div>
                    <div class="span4 tsb-edit_top-left">
                        <a href="#" class="edit"></a>
                        <img src="/static/dil-my/tim-del_15.png">
                        <a href="#">Новая вакансия</a>
                        <p class="gray size-12">
                            Это промо-блок. Рассказать о новой вакансии здесь самое место! Изображения можете выбирать на ваше усмотрение – с ними блок привлечет больше внимания.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <a href="#" class="tsb-edit_link-in margin-bottom-15">
                    <span class="edit"></span>
                        <span class="link__text">
                            Создать текстовый блок
                        </span>
                </a>
                <div class="new-bar-index">
                    <h2>
                        Новости компании
                    </h2>
                    <a href="#" class="tsb-edit_link">
                        <span class="edit"></span>
                        <span class="link__text">
                            Добавить новость
                        </span>
                    </a>
                    <div class="row  new-bar-index_cont">
                        <div class="span1 new-bar-index_data">
                            24 декабря
                        </div>
                        <div class="span8 new-bar-index_text">
                            <a href="#">Важная новость 1.</a> Краткое описание важной новости. Сами знаете, длинное никто читать не будет.
                            <a class="pen-i" href="#"></a><a class="del-i" href="#"></a>
                        </div>
                    </div>
                    <div class="row  new-bar-index_cont">
                        <div class="span1 new-bar-index_data">
                            24 декабря
                        </div>
                        <div class="span8 new-bar-index_text">
                            <a href="#">Важная новость 2.</a>Краткое описание важной новости. Сами знаете, длинное никто читать не будет. <a class="pen-i" href="#"></a><a class="del-i" href="#"></a>
                        </div>
                    </div>
                    <div class="row  new-bar-index_cont">
                        <div class="span1 new-bar-index_data">
                            24 декабря
                        </div>
                        <div class="span8 new-bar-index_text">
                            <a href="#">Важная новость 3.</a>Краткое описание важной новости. Сами знаете, длинное никто читать не будет.<a class="pen-i" href="#"></a><a class="del-i" href="#"></a>
                        </div>
                    </div>
                    <div class="row  new-bar-index_cont">
                        <div class="span1 new-bar-index_data">
                            24 декабря
                        </div>
                        <div class="span8 new-bar-index_text">
                            <a href="#">Важная новость 4.</a> Краткое описание важной новости. Сами знаете, длинное никто читать не будет. <a class="pen-i" href="#"></a>
                            <a class="del-i" href="#"></a>
                            <a href="#" class="size-10 red">Удалить страницу</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="tab-pane" id="settings">
            <form action="" class="form-horizontal">
                <!-- <div class="control-group ">
                    <label class="control-label">Заголовок</label>
                    <div class="controls">
                        <input type="text" class="input-large">
                        <p class="help-block">Заголовок будет отображаться сверху страницы, а также в меню</p>
                    </div>
                </div> -->
                <div class="control-group ">
                    <label class="control-label">Ключевые слова</label>
                    <div class="controls">
                        <div class="row">
                            <div class="span3 margin-left-20">
                                <textarea rows="5" class="input-large"></textarea>
                                <p class="help-block">Не более 255 символов</p>
                            </div>
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span3 a-center">
                                        <div class="reference-i">
                                            <span>?</span>
                                        </div>
                                        <span class="reference-i__text">Справка</span>
                                    </div>
                                    <div class="span9">
                                        <p class="spmal-text size-12">
                                            Указание ключевых слов и описание страницы поможет вашему сайту быть выше в поисковых результатах. Если вы не знаете, как лучше заполнить эти поля, можете проконсультироваться у нашего онлайн-специалиста или оставьте их пустыми — это необязательная информация.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="control-label" for="">
                        Описание
                    </label>
                    <div class="controls">
                        <div class="row">
                            <div class="span3 margin-left-20">
                                <textarea rows="5" class="input-large"></textarea>
                                <p class="help-block">Не более 255 символов</p>
                            </div>
                        </div>
                        
                        <hr>
                        <label class="checkbox di_in-block">
                            <input type="checkbox" value="" id="">
                            Выводить&nbsp;в&nbsp;меню
                        </label>
                        <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Выводить ли эту страницу в нижнем меню вашего сайта, или она будет доступна только по ссылке" data-original-title="Справка"><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
                        <br >
                        <label class="checkbox di_in-block">
                            <input type="checkbox" value="" id="">
                            Опубликовано
                        </label>
                        <a class="more-info margin-left-10" rel="popover" data-placement="right" data-original-title="Справка" data-content="Будет ли страница отображаться на сайте или вы пока не хотите ее показывать" data-original-title=""><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">Порядок в меню</label>
                    <div class="controls">
                        <input type="text" id="" class="input-mini">
                        <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Значение влияет на то, в какой последовательности пункты будут выводиться в меню: чем меньше значение, тем выше приоритет вывода" data-original-title="Справка"><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>

                        <p class="help-block">
                            Чем меньше значение, тем выше приоритет.
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">Ссылка на страницу</label>
                    <div class="controls">
                        <pre class="span6 prettyprint"><!-- <a href="#" target="blank"> --><span>http://kolesa.teamparts.ru/pages/test/</span><!-- </a> --></pre>
                        <a class="more-info margin-left-10" rel="popover" data-placement="right" data-original-title="Справка" data-content="Это адрес данной страницы. Вы можете использовать его при создании ссылки на неё."><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
                    </div>
                </div>
                <hr>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-warning">Сохранить страницу</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
