{% extends '__base_lk.html' %}

{% block lk_content %}
<article>

    <h2>Ваши отзывы</h2>
    <p>Поделитесь своим мнением с окружающими, помогите им сделать правильный выбор!</p>
    <br />

    <div class="nav-basket__help nav-basket__help_a3">
        <div class="row-fluid">
            <div class="span1"><img src="/static/img/nav-basket__info.png" alt=""></div>
            <div class="span11">
               <span class="size-12">
                    Пусто. Пока вы не оставляли ни одного отзыва, а нам так нужно ваше мнение о нашей работе!
               </span>
            </div>
        </div>
    </div>
    <div class="nav-basket__help nav-basket__help_a3">
        <div class="row-fluid">
            <div class="span1"><img src="/static/img/nav-basket__info.png" alt=""></div>
            <div class="span11">
               <span class="size-12">
                    Спасибо, нам действительно важно мнение наших клиентов! Ваш отзыв появится на портале teamparts.ru
               </span>
            </div>
        </div>
    </div>
    <div class="nav-basket__help nav-basket__help_a3">
        <div class="row-fluid">
            <div class="span1"><img src="/static/img/nav-basket__info.png" alt=""></div>
            <div class="span11">
               <span class="size-12">
                    Извините, отзывы могут оставить только те, кто уже оформлял заказ в магазине
               </span>
            </div>
        </div>
    </div>

    <form class="form">
        <div class="row-fluid">
            <div class="span2">&nbsp;</div>
            <div class="span10">
                <div class="control-group">
                    <label for="review-input" class="control-label"><strong>Написать отзыв:</strong></label>

                    <div class="controls">
                        <p>
                            <ul class="rate left" rel="3">
                                <li class="a"></li>
                                <li class="a"></li>
                                <li class="a"></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <br>
                        </p>
                        <textarea  id="review-input" placeholder="Текст отзыва" class="span6" rows="5"></textarea>
                    </div>
                </div>
                <button class="btn next-basket"><span class="btn-search_text">Опубликовать</span></button>
             </div>
        </div>
    </form>

    <h3 class="size-22 normal margin-bottom-20">Опубликованные отзывы <span class="grayLight">(23)</span></h3>

    <div class="review-list">
        <ul>
            <li>
                <div class="row-fluid">
                    <div class="span2">
                        <ul class="rate static" rel="3">
                            <li class="a"></li>
                            <li class="a"></li>
                            <li class="a"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="grayLight size-11">Отличный магазин</span>
                    </div>
                    <div class="span8 size-13">
                        <div class="grayLight size-13 margin-bottom-10">
                            <i class="right">15 февраля</i>
                            <br>
                        </div>

                        <p class="margin-bottom-20 size-12">
                            Очень редко определяется системой через USB 2.0 и даже через USB 3.0, через SATA все хорошо, но это все таки внешний жесткий диск а через USB не определяется. Покупал в магазине РиК, пытался сдать на первой неделе после покупки, отказали из-за потертостей на поверхности HDD, а ведь я его никуда от системного блока и не относил(но тем не менее они появились), сдал по гарантии, проблема не подтвердилась как сказали мне в сервисном центре, при них решил проверить HDD подключив его в ноуту, и о чудо он работает! На радостях купил контроллер USB 3.0 все установил, прошло дней 5 эксплуатации с учетом что я его ни разу за это время не отключал и не перемещал!
                        </p>

                        <div class="hr"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</article>
{% endblock %}