{% extends '__base_lk.html' %}

{% block lk_content %}
<article>
    <div class="row margin-bottom-60">
        <div class="span6">
            <h2>Контактные данные:</h2>
            <form class="form-horizontal">
                <div class="control-group">
                    <label for="input01" class="control-label">Вас зовут:</label>
                    <div class="controls">
                        <input type="text" id="input01" class="input-xlarge margin-top-5" placeholder="Имя">
                        <input type="text" id="input01" class="input-xlarge margin-top-5" placeholder="Фамилия">
                    </div>
                </div>
                <div class="control-group">
                    <label for="textarea" class="control-label">Адрес:</label>
                    <div class="controls">
                        <textarea rows="3" id="textarea" class="input-xlarge resize_auto"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="input01" class="control-label">Телефон:</label>
                    <div class="controls">
                        <input type="text" id="input01" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label for="input01" class="control-label">Email:</label>
                    <div class="controls">
                        <input type="email" id="input01" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <div class="margin-left-70 margin-bottom-10">Я хочу получать оповещения о заказах</div>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> По sms
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"> По e-mail
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn next-basket"><span class="btn-search_text">Сохранить</span></button>
                    </div>
                </div>
            </form>
            <h2>Изменение пароля:</h2>
            <form class="form-horizontal">
                <div class="control-group">
                    <label for="input01" class="control-label">Старый пароль:</label>
                    <div class="controls">
                        <input type="text" id="input01" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label for="input01" class="control-label">Новый пароль:</label>
                    <div class="controls">
                        <input type="text" id="input01" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label for="input01" class="control-label">Повторите:</label>
                    <div class="controls">
                        <input type="text" id="input01" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn next-basket"><span class="btn-search_text">Изменить</span></button>
                    </div>
                </div>
            </form>
            <hr>
            <h2>Изменение e-mail:</h2>
            <form class="form-horizontal">
                <div class="control-group">
                    <label for="input01" class="control-label">Новый e-mail:</label>
                    <div class="controls">
                        <input type="text" id="input01" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn next-basket"><span class="btn-search_text">Изменить</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>
{% endblock %}