{% extends '__base_frontend.html' %}
{% block content %}
    <a class="btn" data-toggle="modal" href="#add-stock" >tp_review-13 ДОБАВИТЬ СКЛАД</a>
    <div class="modal" id="add-stock" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Добавить склад</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Адрес
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <a class="btn" data-toggle="modal" href="#Create-shipping-method" >tp_review-13 Создать метод доставки</a>
    <div class="modal" id="Create-shipping-method" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Создать метод доставки</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Описание
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <a class="btn" data-toggle="modal" href="#Edit-Garage" >tp_review-13 Редактировать: Гараж</a>
    <div class="modal" id="Edit-Garage" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Редактировать: Гараж</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Адрес
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div> <a href="#" class="red size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Edit-Courier" >tp_review-13 Редактировать: Курьерская доставка</a>
    <div class="modal" id="Edit-Courier" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Редактировать: Курьерская доставка</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Описание
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div> <a href="#" class="red size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Change-settings-Robokassa" >tp_review-13 Изменить настройки: Робокасса</a>
    <div class="modal" id="Change-settings-Robokassa" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Изменить настройки: Робокасса</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Логин магазина в обменном пункте</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Пароль 1</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Пароль 2</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Change-settings-QIWI" >tp_review-13 Изменить настройки: QIWI</a>
    <div class="modal" id="Change-settings-QIWI" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Изменить настройки: QIWI</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">ID магазина</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Пароль</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Change-settings-real" >tp_review-13 Изменить настройки: Наличные</a>
    <div class="modal" id="Change-settings-real" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Изменить настройки: Наличные</h3>
            <hr>
            <form class="form ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#add-price" >tp_review-13 Добавить прайс</a>
    <div class="modal" id="add-price" style="display: none;">
        <div class="modal-body ">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Добавить прайс</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="margin-bottom-10">
                    <span>Выберите .xls файл на вашем компьютере</span><br>

                    <input class="margin-top-5" type="file">
                </div>

                <div class="btn btn-warning ">Загрузить</div>


            </form>
        </div>
    </div>
    <a class="btn" data-toggle="modal" href="#Editing-price-list" >tp_review-13 Редактирование прайс-листа</a>
    <div class="modal" id="Editing-price-list" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Редактирование прайс-листа</h3>
            <hr>
            <form class="form-horizontal form-inline padding-left-80">
                        <label class="checkbox  margin-bottom-20">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>

                        <br>
                        <br>
                        <img src="/static/seller_control_panel/img/xls.png" class="pull-left padding-right-10 " alt="">
                        <span class="size-14">Выгрузука с данными.xls</span><br>
                        <small class="size-11 grayLight">58 кб., добавлен 24.10.2012</small>
                        <br class="clear ">
                        <div class="margin-top-10"></div>
                        <strong>Загрузить новый</strong> <br>
                        <input type="file">
                        <br>
                        <br>
                        <div class="btn btn-warning ">Сохранить</div> <a href="#" class="red size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>

            </form>
        </div>
    </div>

    <a class="btn" data-toggle="modal" href="#account-funding" >tp_review-18 “Пополнить счет магазина”</a>
    <div class="modal" id="account-funding" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Пополнить счет</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <label class="control-label" for="">
                        Способ оплаты
                    </label>

                    <div class="controls">
                        <select id="">
                            <option>Робокасса</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label  padding-top-15" for="">Сумма пополнения</label>
                    <div class="controls">
                        <input class="input-fat input-small" type="text" id=""> <strong>руб.</strong>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Пополнить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#blocking-sites" >tp_review-35 “уведомления при блокировке сайта в случае неуплаты.”</a>
    <div class="modal" id="blocking-sites" style="display: none;">
        <div class="modal-body">
            <h3>Уважаемый пользователь</h3>
            <br>
            <form class="form-horizontal ">
                <p class="size-15">Сожалеем, но ваш сайт заблокирован за неуплату. Вы можете это исправить, оплатив счета за пользование сервисом Teamparts.</p>
                <hr>
                <span class="size-25 grayLight">Ваш баланс:</span><strong class="size-25 black">-0. 50 руб.</strong>
                <br>
                <br>
                <button class="btn btn-warning margin-bottom-10">Пополнить балланс</button>
                <button class="btn btn-warning margin-left-10 margin-bottom-10">Оплатить счета</button>
                <p class="help-block grayLight">
                    Все вопросы вы можете задать по телефону 8-800-1000-768
                </p>
            </form>

        </div>

    </div>


{% endblock %}