{% extends '__base_frontend.html' %}
{% block content %}
<div class="breadCrumbs">
    <div class="you-looking"><span class="you-looking_text">Вы ищите:</span></div>
    <div class="breadCrumbs-box">
        <a href="#">Ford</a> <a href="#">Shelby Mustang</a> <a href="#">2009</a> года, модификация <a href="#">GT</a>, двигатель <a href="#">2.0</a>
    </div>
</div>
<div class="number-stages">
    <div class="number-stages-box">
        <span class="number-stages_text">
            5
        </span>
    </div>
</div>
<div class="search-results">
    <div class="search-results-box">
        <div class="search-results_dis">Найдено деталей:</div>
        <br><div class="search-results_text">
            <span class="search-results_number">51154</span><a href="#" class="search-results_link">показать</a><span class="search-results_arow"> →</span>
        </div>
    </div>
</div>
<h2>Выбор детали</h2>
<div class="clear"></div>
<article>
    <img src="/static/dil-my/shema.png" width="100%">
    <table class="parts-list">

        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
        <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
        </tr>
    </table>
</article>
{% endblock %}