{% extends '__base_frontend.html' %}
{% block content %}
<div class="breadCrumbs">
    <div class="you-looking"><span class="you-looking_text">Вы ищите:</span></div>
    <div class="breadCrumbs-box">
        <a href="#">Ford</a> <a href="#">Shelby Mustang</a> <a href="#">2009</a> года, модификация <a href="#">GT</a>, двигатель <a href="#">2.0</a>
    </div>
</div>
<div class="number-stages">
    <div class="number-stages-box">
        <span class="number-stages_text">
            2
        </span>
    </div>
</div>
<div class="search-results">
    <div class="search-results-box">
        <div class="search-results_dis">Найдено деталей:</div>
        <br><div class="search-results_text">
            <span class="search-results_number">51154</span><a href="#" class="search-results_link">показать</a><span class="search-results_arow"> →</span>
        </div>
    </div>
</div>
<h2>Выберите производителя автомобиля</h2>
<div class="clear"></div>
<article>

    <div class="columns4">
        <div class="columns-box">
            <div class="columns_left">
            </div>
            <div class="columns_right">
                <a href="#"> 100nx</a>
                <a href="#">350Z </a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>A</strong>
            </div>
            <div class="columns_right">
                <a href="#">AD Van</a>
                <a href="#">AD Wagon</a>
                <a href="#">Almera</a>
                <a href="#">Almera Classic</a>
                <a href="#">Armada</a>
                <a href="#">Avenir</a>
                <a href="#">Avenir Salut</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>B</strong>
            </div>
            <div class="columns_right">
                <a href="#">Bluebird</a>
                <a href="#">Bluebird Sylphy</a>
            </div>
        </div>
        <div class="columns-box">
        <div class="columns_left">
            <strong>C</strong>
        </div>
        <div class="columns_right">
            <a href="#">Caravan</a>
            <a href="#">Cedric</a>
            <a href="#">Cefiro</a>
            <a href="#">Cube</a>
        </div>
        </div>
            <div class="columns-box">
            <div class="columns_left">
                <strong>E</strong>
            </div>
            <div class="columns_right">
                <a href="#">Elgrand</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>G</strong>
            </div>
            <div class="columns_right">
                <a href="#">Gloria</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>J</strong>
            </div>
            <div class="columns_right">
                <a href="#">Juke</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>L</strong>
            </div>
            <div class="columns_right">
                <a href="#">Largo</a>
                <a href="#">Laurel</a>
                <a href="#">Liberty</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>M</strong>
            </div>
            <div class="columns_right">
                <a href="#">March</a>
                <a href="#">March Box</a>
                <a href="#">Maxima</a>
                <a href="#">Micra</a>
                <a href="#">Moco</a>
                <a href="#">Murano</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>N</strong>
            </div>
            <div class="columns_right">
                <a href="#">Navara</a>
                <a href="#">Note</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>P</strong>
            </div>
            <div class="columns_right">
                <a href="#">Pathfinder</a>
                <a href="#">Patrol</a>
                <a href="#">Prairie</a>
                <a href="#">Prairie Joy</a>
                <a href="#">Presage</a>
                <a href="#">Presea</a>
                <a href="#">Primera</a>
                <a href="#">Primera Wagon</a>
                <a href="#">Pulsar</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>Q</strong>
            </div>
            <div class="columns_right">
                <a href="#">Qashqai</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>R</strong>
            </div>
            <div class="columns_right">
                <a href="#">R Nessa</a>
            </div>
        </div>
        <div class="columns-box">
            <div class="columns_left">
                <strong>S</strong>
            </div>
            <div class="columns_right">
                <a href="#">Serena</a>
                <a href="#">Silvia</a>
                <a href="#">Skyline</a>
                <a href="#">Sunny</a>
            </div>
        </div>
    </div>
</article>
{% endblock %}