{% extends '__base_frontend.html' %}
{% block content %}
<div class="breadCrumbs">
    <div class="you-looking"><span class="you-looking_text">Вы ищите:</span></div>
    <div class="breadCrumbs-box">
        <a href="#">Ford</a> <a href="#">Shelby Mustang</a> <a href="#">2009</a> года, модификация <a href="#">GT</a>, двигатель <a href="#">2.0</a>
    </div>
</div>
<div class="number-stages">
    <div class="number-stages-box">
        <span class="number-stages_text">
            1
        </span>
    </div>
</div>
<div class="search-results">
    <div class="search-results-box">
        <div class="search-results_dis">Найдено деталей:</div>
        <br><div class="search-results_text">
            <span class="search-results_number">51154</span><a href="#" class="search-results_link">показать</a><span class="search-results_arow"> →</span>
        </div>
    </div>
</div>
<h2>Выберите производителя автомобиля</h2>
<div class="clear"></div>
<article>

    <div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div>
    <div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div>
    <div class="imgLinkInem">
        <figure>
            <a href="#" class="imgLinkInem_link">
                <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
                <div class="imgLinkInem_text">
                    <fieldset>
                        Volvo
                    </fieldset>
                </div>
            </a>
        </figure>
    </div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div><div class="imgLinkInem">
    <figure>
        <a href="#" class="imgLinkInem_link">
            <img src="/static/dil-my/design_seconds_1_03-02.png" class="imgLinkInem_img">
            <div class="imgLinkInem_text">
                <fieldset>
                    Volvo
                </fieldset>
            </div>
        </a>
    </figure>
</div>
{% endblock %}