{% extends '__base_frontend.html' %}
{% block content %}
<div class="breadCrumbs">
    <div class="you-looking"><span class="you-looking_text">Вы ищите:</span></div>
    <div class="breadCrumbs-box">
        <a href="#">Ford</a> <a href="#">Shelby Mustang</a> <a href="#">2009</a> года, модификация <a href="#">GT</a>, двигатель <a href="#">2.0</a>
    </div>
</div>
<article>
    <h1>Результаты поиска цен и заменителей</h1>
    <div id="search_number"  >
        <form class=" form-search form-filtr">

            <ul class="a-justify margin-0">
                <li>
                    <label class="checkbox size-11 margin-right-10">
                        <input type="checkbox" id="optionsCheckbox" value="option2">
                        Искать замену
                    </label>
                </li>
                <li>
                    <div id="slider">
                        <span>%</span>
                    </div>
                </li>
                <li>
                    <div class="di_in-block ta-right">
                        <a class="link_in  size-11  popup-onhover-show" rel="broad_search" href="">Расширенный поиск</a>
                    </div>
                </li>
            </ul>
        </form>

    </div>
    <div id="broad_search" class="popup-onhover">
        <div class="icon_arow_big"><img src="/static/img/icon_arow_big.png" class="di_in-block" ></div>
        <form>
            <div class="row-fluid">
                <div class="span6 padding-top-10">
                    <h5 class="gray">По номеру автозапчасти</h5>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="" value="option1" checked="">
                        Все
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="" value="option1">
                        До 3-х дней
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="" value="option1" >
                        До 15-и дней
                    </label>
                </div>
                <div class="span6 margin-0 padding-top-10"><div class="margin-left-20">
                    <h5 class="gray">По номеру автозапчасти</h5>
                    <label class="radio">
                        <input type="radio" name="optionsRadios2" id="" value="option1" checked="">
                        Быстро
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios2" id="" value="option1" >
                        Дешево
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios2" id="" value="option1" >
                        В наличии
                    </label>
                    <button class="btn  right margin-bottom-10">
                        Искать
                    </button></div>

                </div>
                <div class="clear_bo"></div>
            </div>
        </form>
    </div>
    <div id="table_number"  >
    <div class="row-fluid">
        <div class="span10">
        <table class="table_number ">
        <colgroup>
            <col width="120px">
            <col width="130px">
            <col width="60px">
            <col width="40px">
            <col width="50px">
            <col width="150px">
        </colgroup>
        <thead>

        <tr>
            <th><div class="gradtabl"></div><div class="gradtab activeDOUN">Производитель<i class="arrow-thead"></i></div></th>
            <th><div class="gradtab ">Информация<i class="arrow-thead"></i></div></th>
            <th><div class="gradtab">Наличие<i class="arrow-thead"></i></div></th>
            <th><div class="gradtab">Цена в <select id="select_mony " class="selectBlock span1" >
                <option selected>руб</option>
                <option>евр</option>
                <option>руб</option>
                <option>евр</option>
            </select></div></th>
            <th><div class="gradtab activeUP">Срок <i class="arrow-thead"></i></div></th>
            <th><div class="gradtabr"></div><div class="gradtab">Поставщик<i class="arrow-thead"></i></div></th>

        </tr>
        </thead>
        <tbody>
        <tr >
            <td colspan="6">
                <h4 class="resultat " data-toggle="collapse" data-target=".demo1">
                    <div  class="btn" data-toggle="button">
                        <div class="icon_minus"></div>Искомый номер:
                    </div>
                </h4>
            </td>
        </tr>
        </tbody>
        <tbody class="collapse  demo1">
        <tr  >
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span>
                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td class="flotBut "data-silector="allStatistic">
                <div class="flot f1"   >
                    <span></span>
                    <script type="text/javascript">

                        $(function () {
                            // data
                            var data1 = [
                                { label: "2",  data: 70},
                                { label: "1",  data: 80}

                            ];
                            // DEFAULT
                            $.plot($(".flot.f1"), data1,
                                    {
                                        series: {
                                            pie: {
                                                show: true
                                            }
                                        }
                                    });

                        });

                    </script>
                </div>
                <strong>25%</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td class="flotBut " data-silector="allStatistic"><div class="flot f2" >
                <span></span>
                <script type="text/javascript">

                    $(function () {
                        // data
                        var data2 = [
                            { label: "2",  data: 70},
                            { label: "1",  data: 80}

                        ];
                        // DEFAULT
                        $.plot($(".flot.f2"), data2,
                                {
                                    series: {
                                        pie: {
                                            show: true
                                        }
                                    }
                                });

                    });

                </script>
            </div>
                <strong>25%</strong></td>
            <td><div class="ta-center" ><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td class="flotBut "  data-silector="allStatistic"><div class="flot f3">
                <span></span>
                <script type="text/javascript">

                    $(function () {
                        // data
                        var data3 = [
                            { label: "2",  data: 70},
                            { label: "1",  data: 80}

                        ];
                        // DEFAULT
                        $.plot($(".flot.f3"), data3,
                                {
                                    series: {
                                        pie: {
                                            show: true
                                        }
                                    }
                                });

                    });

                </script>
            </div>
                <strong>25%</strong></td>
            <td><div class="ta-center" ><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td class="flotBut " data-silector="allStatistic"><div class="flot f4"  >
                <span></span>
                <script type="text/javascript">

                    $(function () {
                        // data
                        var data4 = [
                            { label: "2",  data: 70},
                            { label: "1",  data: 80}

                        ];
                        // DEFAULT
                        $.plot($(".flot.f4"), data4,
                                {
                                    series: {
                                        pie: {
                                            show: true
                                        }
                                    }
                                });

                    });

                </script>
            </div>
                <strong>25%</strong></td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td class="flotBut "  data-silector="allStatistic"><div class="flot f5">
                <span></span>
                <script type="text/javascript">

                    $(function () {
                        // data
                        var data5 = [
                            { label: "2",  data: 70},
                            { label: "1",  data: 80}

                        ];
                        // DEFAULT
                        $.plot($(".flot.f5"), data5,
                                {
                                    series: {
                                        pie: {
                                            show: true
                                        }
                                    }
                                });

                    });

                </script>
            </div>
                <strong>25%</strong></td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>

        </tbody>

        <tbody>
        <tr >
            <td colspan="6">
                <h4 class="resultat " data-toggle="collapse" data-target=".demo2">
                    <div class="btn"  data-toggle="button">
                        <div class="icon_minus"></div>Замены:
                    </div>
                </h4>
            </td>
        </tr>
        </tbody>
        <tbody class="collapse  demo2">
        <tr  >
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span><BR>
                    <div class="icon_renew v-middle" rel="tooltip" title="Замена"><span></span></div><strong class="gray size-11">30210Y066A</strong><br>

                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td class="flotBut " data-silector="allStatistic">
                <div class="flot f11" >
                    <span></span>
                    <script type="text/javascript">

                        $(function () {
                            // data
                            var data11 = [
                                { label: "2",  data: 70},
                                { label: "1",  data: 80}

                            ];
                            // DEFAULT
                            $.plot($(".flot.f11"), data11,
                                    {
                                        series: {
                                            pie: {
                                                show: true
                                            }
                                        }
                                    });

                        });

                    </script>
                </div>
                <strong>25%</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span><br>
                    <div class="icon_renew v-middle" rel="tooltip" title="Замена"><span></span></div><strong class="gray size-11">30210Y066A</strong><br>
                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td class="flotBut " data-silector="allStatistic">
                <div class="flot f12" >
                    <span></span>
                    <script type="text/javascript">

                        $(function () {
                            // data
                            var data12 = [
                                { label: "2",  data: 70},
                                { label: "1",  data: 80}

                            ];
                            // DEFAULT
                            $.plot($(".flot.f12"), data12,
                                    {
                                        series: {
                                            pie: {
                                                show: true
                                            }
                                        }
                                    });

                        });

                    </script>
                </div>
                <strong>25%</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="span2">
            <div class="well size-11 margin-top-20 contacts-bar">
            <table width="100%">
                <tr>
                    <td class="span9"><strong>Фирма</strong></td>
                    <td class="span3"><strong>Цена</strong></td>
                </tr>
                <tr>
                    <td class="span9"><a href="#" class="link_in">Denso</a></td>
                    <td class="span3"><strong>81 р.</strong></td>
                </tr>
                <tr>
                    <td class="span9"><a href="#" class="link_in">Denso</a></td>
                    <td class="span3"><strong>81 р.</strong></td>
                </tr>
                <tr>
                    <td class="span9"><a href="#" class="link_in">Denso</a></td>
                    <td class="span3"><strong>81 р.</strong></td>
                </tr>
                <tr><td colspan="2"><hr class="margin-0"></td></tr>
                <tr>
                    <td colspan="2"><a href="#" class="link_in">Toyota</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#" class="link_in">Champion</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#" class="link_in">NGK</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#" class="link_in">Toyota</a></td>
                </tr>
            </table>

            </div>
        </div>
    </div>
</article>
{% endblock %}