/*-----------------------------------------------------------------------------
Screen Stylesheet

Version:   2.1
Author:    meded90
E-mail:    meded90@gmail.com
Website:   http://www.signception.ru/
Skype:     meded90
-----------------------------------------------------------------------------*/
.nav-basket ul li .box .box-number {
  margin-left: 3px;
  margin-right:3px;
  margin-top: -6px;
}

.finance .search-form-box .search-query {
	width: 89%;
}

.finance .search-form-box .btn {
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    width: 9%;
}

.finance .data-selekt__item.span1 {
    width: 80px;
}

.top-sub-menu_level-three {
    zoom:1;
    position: relative;
    margin-bottom: 0;
}