/*-----------------------------------------------------------------------------
Screen Stylesheet

Version:   2.1
Author:    meded90
E-mail:    meded90@gmail.com
Website:   http://www.signception.ru/
Skype:     meded90
-----------------------------------------------------------------------------*/
.imgLinkInem_text {text-align: center;}

 /**shops*/
.region-select .modal .modal-body{
   min-width: 670px;
}

.region-select .modal .modal-body .region-part:last-child {
    min-width: 230px;
}

.region-select #select-region .modal-body .info-box {
    padding-left: 15px;
}

.search-bar .inner .row-fluid input[type="search"] {
    padding: 12px 5px 0 30px;
}

/**frontend**/
.nav-basket ul .box-number {
    margin-right: 7px;
}

.balance-refill-basket {
    padding: 10px 15px 5px 10px;
}

.balance-refill-basket button {
    margin: 7px 0 0 52px;
}

.balance-refill-basket p {
    font-size: 21px;
}

/**backend**/
.top-ponel__collapse-dis {
    color: #878484;
    border-left: 1px solid #919090;
}

.top-ponel__collapse-link {
    display: block;
}

.top-ponel__collapse-link-text {
    border-bottom: 1px dotted #EDE8EA;
}

.top-ponel__notice a {
    display: block;
    width: 130px;
}

.top-ponel__notice a img
.top-ponel__notice a span{
    display: block;
    float: left;
}

.top-ponel__notice a .index {
    margin-top: 4px;
}

.popover {
    behavior: url(/static/js/pie-1.0.0/PIE.htc);
}

.top-menu__item {
    border-left: 1px solid #000;
}

.top-menu__item_for-status {
    border: none;
}

.balance-bar a.btn {
    min-height: 18px;
}

.helper__link.btn-clear {
    behavior: url(/static/js/pie-1.0.0/PIE.htc);
}

.top-menu__item.active .top-menu__link {
  background: transparent url("../seller_control_panel/img/arrow-up.jpg") no-repeat 140px 47px;
}

/**финансы**/
.finance .data-selekt__form input.datepicker {
    width: 80px;
    min-height: 20px;
    padding: 3px 0 3px 2px;
}
.finance .data-selekt__form .data-selekt__cal {
    margin: 0 2px;
}
.finance .data-selekt__form .separator {
    margin:0;
    padding: 0;
}
.finance .data-selekt__form .form-horizontal {
    min-width: 300px;
    margin-top:5px;
}

.finance .balance-bar {
    max-width: 300px;
}

/*details list**/
.top-sub-menu .tooltip-inner {
    max-width: 2000px;;
}

.top-sub-menu_level-three {
    zoom:1;
    position: relative;
    margin-bottom: 0;
}






