@font-face {
  font-family: 'MetaPro-Normal';
  src: url('../font/MetaPro-Normal.eot');
  src: url('../font/MetaPro-Normal.eot') format('embedded-opentype'),
  url('../font/MetaPro-Normal.woff') format('woff'),
  url('../font/MetaPro-Normal.ttf') format('truetype'),
  url('../font/MetaPro-Normal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaPro-Bold';
  src: url('../font/MetaPro-Bold.eot');
  src: url('../font/MetaPro-Bold.eot') format('embedded-opentype'),
  url('../font/MetaPro-Bold.woff') format('woff'),
  url('../font/MetaPro-Bold.ttf') format('truetype'),
  url('../font/MetaPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
