@import "bootstrap/variables";
// Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'bootstrap/responsive';
@import 'my_framework/my_framework';
@import 'costom-Font';
@import 'font-awesome';
@import 'datepicker.less';

@import '../../less/modal-window.less';
@import '../../less/general-variables.less';


html{
}
body{
}
a [class^="icon-"],
a [class*=" icon-"] {
  text-decoration:none;
  margin:0 4px;
}
.icon-arrow{
   @size:1em;
  &_top{
    display:inline-block;
    .ie7-inline-block();
    .arrow(top,@size);
  }
  &_bottom{
    display:inline-block;
    .ie7-inline-block();
    .arrow(bottom,@size);
  }
  &_right{
    display:inline-block;
    .ie7-inline-block();
    .arrow(right,@size);
  }
  &_left{
    display:inline-block;
    .ie7-inline-block();
    .arrow(left,@size);
  }
}
[class*="icon_"],
.sprate{
  background-image:url(../img/csg-4fb626d10bded.png);
  display:inline-block;
  .ie7-inline-block();
}
.sprite{
  background:url('../img/csg-4f98f02623aa8.png') no-repeat top left;
  .di_in-block();
}
.tim_icom_arow-doun-grayLight-mini{
  background-position:0 0;
  width:7px;
  height:4px;
}
.tim_icom_arow-doun-grey-mini{
  background-position:0 -54px;
  width:7px;
  height:4px;
}
.tim_icom_arow-doun-grey{
  background-position:0 -108px;
  width:11px;
  height:6px;
}
.tim_icom_arow-left-blue{
  background-position:0 -164px;
  width:5px;
  height:9px;
}
.tim_icom_arow-right-blue{
  background-position:0 -223px;
  width:5px;
  height:9px;
}
.tim_icom_arow-up-blak-mini{
  background-position:0 -282px;
  width:7px;
  height:4px;
}
.tim_icom_arow-up-grey-mini{
  background-position:0 -336px;
  width:7px;
  height:4px;
}
.tim_icom_arow-up-grey{
  background-position:0 -390px;
  width:11px;
  height:6px;
}
.tim_icom_basket-big{
  background-position:0 -446px;
  width:28px;
  height:24px;
}
.tim_icom_basket-in{
  background-position:0 -520px;
  width:19px;
  height:17px;
}
.tim_icom_basket-mask{
  background-position:0 -587px;
  width:14px;
  height:12px;
}
.tim_icom_brace{
  background-position:0 -649px;
  width:134px;
  height:12px;
}
.tim_icom_clous-grey{
  background-position:0 -711px;
  width:7px;
  height:7px;
}
.tim_icom_clous-red{
  background-position:0 -768px;
  width:7px;
  height:7px;
}
.tim_icom_edit{
  background-position:0 -825px;
  width:12px;
  height:12px;
}
.tim_icom_fon-stage-big{
  background-position:0 -887px;
  width:66px;
  height:66px;
}
.tim_icom_fon-stage{
  background-position:0 -1003px;
  width:38px;
  height:38px;
}
.tim_icom_home-mask{
  background-position:0 -1091px;
  width:12px;
  height:12px;
}
.tim_icom_home{
  background-position:0 -1153px;
  width:12px;
  height:12px;
}
.tim_icom_links-mask{
  background-position:0 -1215px;
  width:12px;
  height:12px;
}
.tim_icom_links{
  background-position:0 -1277px;
  width:12px;
  height:12px;
}
.tim_icom_meseg-mask{
  background-position:0 -1339px;
  width:12px;
  height:12px;
}
.tim_icom_meseg{
  background-position:0 -1401px;
  width:12px;
  height:12px;
}
.tim_icom_print-mask{
  background-position:0 -1463px;
  width:14px;
  height:14px;
}
.tim_icom_question{
  background-position:0 -1527px;
  width:33px;
  height:27px;
}
.tim_icom_rub{
  background-position:0 -1604px;
  width:7px;
  height:9px;
}
.tim_icom_search{
  background-position:0 -1663px;
  width:16px;
  height:16px;
}
.tim_icom_tree-up{
  background-position:0 -1729px;
  width:22px;
  height:14px;
}
.tim_icom_tree{
  background-position:0 -1793px;
  width:22px;
  height:14px;
}

td.showDragHandle, th.showDragHandle{
  background-image:url(../img/updown2.gif);
  background-position:center center;
  background-repeat:no-repeat;
}

td.showDragHandle{
  cursor:move;
}

.icom_rub_sh{
  background-position:0 0;
  width:8px;
  height:11px;
}
.icon_clous{
  background-position:0 -61px;
  width:21px;
  height:21px;

}
.icon_arrow-up{
  background-position:0 -132px;
  width:12px;
  height:17px;
}
.icon_bad_big{
  background-position:0 -199px;
  width:21px;
  height:21px;
}
.icon_bad_min{
  background-position:0 -270px;
  width:12px;
  height:12px;
}
.icon_cash{
  background-position:0 -332px;
  width:18px;
  height:18px;
}
.icon_client{
  background-position:0 -400px;
  width:36px;
  height:36px;
}
.icon_data{
  background-position:0 -486px;
  width:18px;
  height:18px;
}
.icon_edit{
  background-position:0 -554px;
  width:30px;
  height:30px;
}
.icon_finance{
  background-position:0 -634px;
  width:36px;
  height:36px;
}
.icon_finance_yl{
  background-position:0 -720px;
  width:36px;
  height:36px;
}
.icon_good_big{
  background-position:0 -806px;
  width:21px;
  height:21px;
}
.icon_good_min{
  background-position:0 -877px;
  width:12px;
  height:12px;
}
.icon_non-cash{
  background-position:0 -939px;
  width:18px;
  height:18px;
}
.icon_orders{
  background-position:0 -1007px;
  width:36px;
  height:36px;
}
.icon_settings{
  background-position:0 -1093px;
  width:36px;
  height:36px;
}
.icon_your-site{
  background-position:0 -1179px;
  width:36px;
  height:36px;
}
.iconupdate{
  background-position:0 -1265px;
  width:16px;
  height:16px;
}
.tim_icom_brace{
  background-position:0 -1331px;
  width:134px;
  height:12px;
}
.tim_icom_tree-up{
  background-position:0 -1393px;
  width:22px;
  height:14px;
}
.tim_icom_tree{
  background-position:0 -1457px;
  width:22px;
  height:14px;
}

.iconupdate{
  display:inline-block;
  .ie7-inline-block();
  vertical-align:middle;
  .opacity(50); //(1 — 100)
  .transition(opacity 100ms);
  &:hover{
    .opacity(100); //(1 — 100)
  }
  .icom_rub_sh{
    display:inline-block;
    .ie7-inline-block();
    vertical-align:middle;
  }
}
.tim_icom_brace{
  display:block;
}
.icon-clous{
  .icon_clous;
  .sprate;

}
.icon_clous, .icon-clous{
  vertical-align:middle;
}
.remove{
  cursor:pointer;
  @sizen:15px;
  display:inline-block;
  .ie7-inline-block();
  float:left;
  margin-left:-32px;
  padding:4px;
  vertical-align:middle;
  color:#c9c9c9;
  .border-radius(100px);

  .square(@sizen); //(height = width)
  text-align:center;
  line-height:@sizen;
  font-size:@sizen;
  &:hover{
    color:#fff;
    background-color:#c9c9c9;
  }
}

.header{
  max-height:191px;
}
.top-ponel{
  background-color:#373737;
  height:30px;
  border-bottom:1px solid #000;
}
.top-ponel__out{
  display:inline-block;
  .ie7-inline-block();
  text-decoration:none;
  margin-top:4px;
  float:right;
  @color:#b33919;
  background-color:@color;
  color:#fff;
  vertical-align:middle;
  padding:0 14px;
  .border-radius(11px); //(@radius: 5px)
  .transition(background-color 100ms);

  .top-ponel__out-text{
    text-decoration:underline;
    font-size:12;
    line-height:22px;

  }
  &:hover{
    background-color:@color - #111;
    color:#fff;
    .top-ponel__out-text{
      text-decoration:none;
    }
  }
}
.top-ponel__question-green{
  float:right;
  padding-top:5px;
  white-space:nowrap;
}
.top-ponel__spliter{
  width:0;
  height:30px;
  border-right:1px solid #000000;
  border-left:1px solid #fff;
  .opacity(30); //(1 — 100)
  margin:0 20px;
}
.top-ponel__notice{
  float:left;
  > a{
    vertical-align:middle;
    margin-top:3px;
    padding:2px 7px 4px;
    display:inline-block;
    .border-radius(3px);
    .ie7-inline-block();
    color:#fff;
    text-decoration:none;
    img{
      vertical-align:middle;
    }
    span{
      vertical-align:middle;
    }
    &:hover{
      background-color:rgba(0, 0, 0, .1);
      color:#fff;
    }
    &.active{
      background-color:rgba(0, 0, 0, .3);
      .box-shadow(inset 1px 1px 2px rgba(0, 0, 0, 0.73)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
    }
    .index{
      padding:0 2px 0 0;
      .box-sizing(border-box);
      .square(13px); //(height = width)
      background-color:#dc3e14;
      .border-radius(100px);
      font-size:8px;
      line-height:14px;
      display:inline-block;
      .ie7-inline-block();
      text-align:center;
      vertical-align:top;
      font-style:normal;
    }

  }
  .popover-box{
    .popover{
      width:460px;
      margin-left:0;
      left:-20px;
      .end{
        text-align:center;
        color:#b8b8b8;
        font-size:14px;
        line-height:round(14px*1.3);
      }
      .add{
        text-align:center;
        display:block;
        font-size:14px;
        line-height:round(14px*1.3);
        text-decoration:none;
        span{
          border-bottom:1px dashed;
        }
        &:hover{
          span{
            border-bottom:none;
          }
        }
      }
      .arrow{
        left:35px;
      }
    }
  }
}
.top-ponel__collapse-link{
  text-decoration:none;
  display:inline-block;
  .ie7-inline-block();
  font-size:12px;
  line-height:31px;
  color:#fff;
  float:left;
  border-right:1px solid rgba(255, 255, 255, .2);
  padding-right:12px;
  &::before{
    .transition(all 0.35s );

    content:"";
    .arrow(top,5px,rgba(255,255,255,.2));
    margin-left:2px;
    margin-right:5px;
    margin-top:-5px;
  }
  &.active{
    &::before{
      .arrow(bottom,5px,rgba(255,255,255,.2));
    }
  }
  &:hover{
    text-decoration:none;
    color:#fff;

    .top-ponel__collapse-link-text{
      border-bottom:transparent;
    }
  }
}
.top-ponel__collapse-link-text{
  border-bottom:1px dotted rgba(255, 255, 255, .5);
}
.top-ponel__collapse-dis{
  float:left;
  padding-left:12px;
  display:inline-block;
  .ie7-inline-block();
  font-size:12px;
  line-height:31px;
  font-weight:bold;
  border-left:1px solid rgba(0, 0, 0, .2);
  color:rgba(255, 255, 255, .3);
}
.top-menu{
  position:relative;
  background-color:#39404a;
  background-image:url(../img/top-menu_fon.png);
  background-repeat:repeat-x;
  background-position:bottom left;
  border-top:1px solid #737373;
  height:auto;
  margin-bottom:30px;
  max-height: 160px;
}
.top-menu__item{
  border-left:rgba(0, 0, 0, .2) 1px solid;
  margin-left:-1px;

  float:left;
  height:auto;
  width:17%;
  &_for-status{
    width:15%;
    border-left:none;
    .collapse{
      overflow:hidden !important;
      &.in{
        overflow:visible !important;
      }
    }
  }
  .top-menu__more-info{
    overflow:hidden;
    .nobreak {
      white-space: nowrap;
    }
  }
  .top-menu__more-info__box{
    margin:25px 0 0;
    height:77px;

  }
  .top-menu__more-info__cont{
    margin-left:25px;
    text-shadow:1px 1px 0 #000;
    color:#bbc2cd;
    font-size:12px;
    line-height:round(12px*1.3);

  }
  .top-menu__more-info__var{
    text-shadow:1px 1px 0 #000;
    margin-left:10px;
    color:#fff;
    font-size:12px;
    line-height:round(12px*1.3);
    font-weight:bold;
  }
  .top-menu__link{
    text-decoration:none;
    height:57px;
    display:block;
    .transition(background-color 100ms);
    [class*="icon"]{
      display:inline-block;
      .ie7-inline-block();
      line-height:57px;
      vertical-align:middle;
      margin-left:25px;
    }
    .top-menu__link__comt{
      display:inline-block;
      .ie7-inline-block();
      line-height:57px;
      vertical-align:middle;
      margin-left:3px;
      font-size:18px;
      color:#fff;
      text-decoration:underline;
    }
    &:hover{
      background-color:rgba(0, 0, 0, .1);
      text-decoration:none;
      .top-menu__link__comt{
        text-decoration:none;
      }
    }
  }
  &:first-child{
    border-left:none;
  }
  &.active{
    background-image:url(../img/top-menu_fon_a.png);
    .box-shadow( 0 7px  9px #000 inset); //@shadow: 0 1px 3px rgba(0,0,0,.25)
    background-position:bottom;
    border-right-color:transparent;
    position:relative;
    .top-menu__link{
      font-family:'MetaPro-Normal', arial;
      text-decoration:none;
      cursor:default;
      &:hover{
        background-color:rgba(0, 0, 0, .0);
      }
      .top-menu__link__comt{
        color:#cbcbcb;
        text-decoration:none;
      }
      &::after{
        position:absolute;
        .arrow(top,10px,#fff);
        margin:0;
        margin-left:-12px;
        bottom:0;
       left: 50%;
      }
    }
  }

}
.top-sub-menu{
  #gradient > .vertical(#fff,#d7d7d7);
  .clearfix();
//  outline:1px solid rgba(0, 0, 0, 0.49);

  line-height:60px;
  .dis{
    float:left;
    vertical-align:middle;
    color:#929292;
    font-size:12px;
    margin-right:20px;
  }
  .list{
    list-style:none;
    float:left;
    margin:0;
    .item{
      float:left;
      line-height:inherit;
      font-size:22px;
      a{
        padding:0 20px;

        color:#5d6b7e;
        text-shadow:1px 1px 0 #fff;
        display:inline-block;
        .ie7-inline-block();
      }

      &.active{
        a{

          text-decoration:none;
          cursor:default;
          position:relative;
          #gradient > .vertical(#778392, #30343b);
          .box-shadow(~"0 7px 9px black inset, 0px -1px 0px 0 rgba(255, 255, 255, 0.18) inset"); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
          span{
            text-decoration:none;
            color:#fff;
            text-shadow:1px 1px 0 #2b2f35;
          }
        }
        .arrow-el{
          position:absolute;
          @sizen:10px;
          .arrow(bottom, @sizen,rgba(0,0,0,0.40));
          left:50%;
          bottom:-@sizen*2;
          margin-left:-@sizen+1;
          z-index:2;
          &::before{
            position:absolute;
            content:"";
            @sizen:10px;
            .arrow(bottom, @sizen,rgba(255,255,255,0.4));
            top:-@sizen;
            left:-@sizen - 2;
            margin:0;
          }
          &::after{
            position:absolute;
            content:"";
            @sizen:10px;
            .arrow(bottom, @sizen,#30343b);
            top:-@sizen - 1;
            left:-@sizen - 1;
            margin:0;
          }
        }
      }
    }
  }
  &_level-one{
    .box-shadow(0 0 1px rgba(0, 0, 0, 0.49)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
  }
  &_level-two{
    line-height:55px;
    outline:1px solid rgba(255, 255, 255, 0.5);
    #gradient > .vertical( #343a41,#828d9c);
    .dis{
      margin-left:10px;
      color:#fff;
      text-shadow:1px 1px 0 rgba(0, 0, 0, 0.23);
    }
    .list{
      overflow:hidden;
      .item{
        a{
          border:1px transparent solid;
          padding:0 15px;
          border-top:0;
          border-bottom:0;
          span{
            font-size:15px;
            color:#fff;
            text-shadow:1px 1px 0 rgba(0, 0, 0, 0.40);
          }
        }
        &.active{
          a{
            outline:1px solid #8a95a3;
            outline:1px solid rgba(255, 255, 255, 0.20);
            outline-offset:1px;
            border-color:#747f8e;
            border-color:rgba(0, 0, 0, 0.2);
            span{

            }
          }
        }
      }
    }
  }
  &_level-three {
    #gradient > .vertical(#d8dfe7, #fff);
    border:none;
    outline:none;
    line-height:76px;
    margin-bottom:-30px;
    .box-shadow(inset 1px 0 0px rgba(0, 0, 0, 0.49)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
    h3 {
      display:inline;
    }
    .btn-group {
      display:inline-block;
      .ie7-inline-block();
      vertical-align:middle;
    }
    .insert-data{
      display:inline-block;
      .ie7-inline-block();
      margin-right:2%;
      vertical-align:middle;
    }

  }
  .tooltip{
    margin-left:10px;
    position:relative;
    float:left;
    padding-top:0;
    padding-bottom:0;
    vertical-align:middle;
    z-index:1;
  }
  .tooltip-inner{
    display:inline-block;
    .ie7-inline-block();
    line-height:20px;
    max-width:10000%;
  }

}
.insert-data {
  text-align:center;
  line-height:10px;
  .btn {
    .buttonBackground(#434b56,#373e47);
    color:#fff;
    .box-shadow(none);
    padding:1px ;
    font-size:10px;
    vertical-align:top;
  }
  input {
    line-height:17px;
    padding-top:1px;
    padding-bottom:1px;
    vertical-align:top;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    color:#585858;
    border:1px solid #93999a;
    .box-shadow( 0 3px 3px -2px rgba(147,153,154,0.41)  inset );
    &:focus {


    }
  }
}
.help-text{
  line-height:16px;
  float:right;
  color:#555556;
  text-align:right;
  margin-top:15px;

}
.for-status{
  margin:17px 0;
  padding:15px;
  background-color:#2a2f35;
  line-height:round(10px*1.3);
  .popover-box{
    .popover{
      left:-120%;
      width:320px;
      margin:0;
      margin-top:18px;
      .arrow{
        left:60%;
      }
      table{
        margin:0;
      }
    }
  }
  &__procent{
    font-family:'MetaPro-Bold', arial;
    font-size:33px;
    line-height:33px;
    color:#a2abb7;
    display:inline-block;
    vertical-align:top;
    .ie7-inline-block();
    &_dis{
      font-family:'MetaPro-Bold', arial;
      line-height:38px;
      font-size:33px;
      vertical-align:top;
      color:#a2abb7;
      display:inline-block;
      .ie7-inline-block();
    }

  }
  &__dis{
    text-align:center;
    color:#a2abb7;
    font-size:10px;

  }
  &__linc-dis{
    color:#fff;
    font-size:9px;
    line-height:round(9px*1.3);
    &:hover{
      color:#fff;
    }
  }
}

.balance-bar{
  margin-top:0;
  // float:right;
  background-color:#fcf8e3;
  border:1px solid #fbeed5;
  .border-radius(3px); //(@radius: 5px)
  padding:16px 15px 20px 10px;
  h2 {
    color: #dcd093;
    font: normal 26px/16px Arial;
    padding: 10px 0 25px;
    .pull-left;
  }
  h3 {
    font: normal 18px/16px Arial;
    clear: both;
  }
  a.more-info {
    .pull-left;
    padding-top: 8px;
  }
  small {
    font-size: 12px;
    color: #9d956c;
  }
  p {
    font: normal 14px/16px Arial;
    margin-bottom: 6px;
  }
  p.small {
    font-size: 13px;
  }
  .large {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 20px 0;
  }
  .divider {
    background-color:#dcd093;
    height: 1px;
    margin: 20px 0;
  }
  .btn {
    color: #857312;
    margin-top: 10px;
    #gradient > .vertical(#fbf6dc, #f6ebb3);
    border-color: #dcd4ad;
    &:hover {
      background-color: #f6ebb3;
    }
  }
  .span2{
    text-align:center;
  }
  .icon_finance_yl{
    display:inline-block;
    .ie7-inline-block();
  }
}
.data-selekt{
  margin-left:0;
  margin-bottom: 0;
}

i.exclamation-icon {
  width: 19px;
  height: 19px;
  background: url('../img/exclamation-yellow.png');
  display: block;
  float: left;
  margin: -2px 10px 0 -26px;
}

.data-selekt__item{
  display:inline-block;
  .ie7-inline-block();
  margin-left:3px;
  padding:4px;
  margin-bottom:20px;
  text-decoration:none;
  background-color:transparent;
  position:relative;
  .border-radius(2px); //(@radius: 5px)
  .transition(all 50ms);
  cursor:pointer;
  &::before{
    content:"";
    .arrow(bottom,5px,transparent);
    position:absolute;
    text-align:center;
    bottom:-10px;
    left:50%;
  }
  .data-selek__text{
    color:@linkColor;
    text-decoration:none;
    border-bottom:1px dotted;
  }
  &.active{
    cursor:default;
    .data-selek__text{
      color:#fff;
      border-bottom:none;
    }
    background-color:#e88d2c;
    &::before{
      .arrow(bottom,5px,#e88d2c);
    }
    &:hover{
      .data-selek__text{
        color:#fff;
      }
    }
  }
  &:hover{
    .data-selek__text{
      color:@linkColorHover;
    }
  }
}
.data-selekt__form{
  white-space:nowrap;
  display:inline-block;
  .ie7-inline-block();
}
.data-selekt__input{
}
.data-selekt__cal{
  display:inline-block;
  .ie7-inline-block();
  margin-left:-28px;
  line-height:30px;
  padding-top: 0;
  // margin-right:5px;
  vertical-align:middle;
}
.data-selekt__result{
  float:right;
  font-weight:bold;
  font-size:16px;
  line-height:round(16px*1.3);
  list-style:none;
}
.icon_non-cash,
.icon_cash{
  display:inline-block;
  .ie7-inline-block();
  vertical-align:middle;
  margin-right:5px;
}
time{
  font-size:10px;
  line-height:round(11px*1.1);
  color:#777;
}
.table__money{
  font-size:15px;
  line-height:round(15px*1.1);
  color:#000;
  font-weight:bold;
}
.table__name-box{
  .last-name{
    font-size:13px;
    line-height:round(13px*1.1);
    font-weight:bold;
  }
  .other-text{
    font-size:11px;
    line-height:round(11px*1.1);
    font-weight:normal;
  }
}
.in-total{
  margin-left: 150px;
  margin-top:-10px;
  /*.pull-right;*/
  .total-sum {
    margin-bottom: 10px;
    strong {
      margin-right: 10px;
    }
  }
}
.in-total__text{
  color:#fff;
  text-shadow:-1px -1px 0 #000;
  font-size:15px;
  line-height:round(15px*1.3);
  background-color:#838383;
  margin-top:4px;
  margin-bottom: 7px;
  padding:5px 7px;
  display:inline-block;
  .ie7-inline-block();
  .border-radius(4px); //(@radius: 5px)
}
.table td.checkbox,
.table th.checkbox{
  width:20px;
  padding:0;
  min-height:auto;
  input[type="checkbox"]{
    float:none;
    margin:13px 0 8px 10px;
  }

}
.action-table{
  margin-top:-13px;
  margin-left:15px;
  line-height:30px;
  .btn-group{
    display:inline-block;
    .ie7-inline-block();
    vertical-align:middle;
  }
  .icon_arrow-up{
    display:inline-block;
    .ie7-inline-block();
    vertical-align:top;
  }
}
.action-table__text{
  font-size:12px;
  line-height:round(12px*1.3);
  color:#000;
  vertical-align:middle;

}
.box-edit{
  position:relative;
  .icon_edit{
    position:absolute;
    right:-39px;
    top:0;
    .transition(opacity 100ms);
    .opacity(0); //(1 — 100)
  }
}
.add-more{
  background-color:#fcf8e3;
  border:1px solid #fbeed5;
  padding:0 10px;
  .border-radius(15px); //(@radius: 5px)
  a{
    font-size:15px;
    line-height:37px;
    color:#b09b2e;
    vertical-align:middle;

    &:hover{
      color:#b09b2e -#111;
    }
  }
}

.horizontal-menu{
  margin-bottom:7px;
}
.horizontal-menu__list{
  margin:0;
}
.horizontal-menu__item{
  display:inline-block;
  .ie7-inline-block();
  height:20 xp;
  padding:3px 0 5px;

  .horizontal-menu__link{
    font-size:15px;
    line-height:20px;
    height:20px;
    vertical-align:middle;
    margin:0 9px;
  }
  &.active{
    .border-radius(3px); //(@radius: 5px)
    background-color:#394049;
    .horizontal-menu__link{
      text-decoration:none;
      border-bottom-color:transparent;
      cursor:default;
      color:#fff;
      position:relative;
      &::before{
        content:"";
        .arrow(bottom,6px,#394049);
        position:absolute;
        left:50%;
        bottom:-18px;
        margin-left:-5px;
      }


    }
    &:hover{
      .horizontal-menu__link{
        color:#fff;
      }
    }

  }
}
.horizontal-menu__item_more{
  @size:5px;
  .horizontal-menu__link{
    &::after{
      content:"";
      .arrow(bottom,@size,@linkColor);
      margin-left:3px;
      margin-top:4px !important;
    }
    &:hover{
      &::after{
        content:"";
        .arrow(bottom,@size,@linkColorHover);
      }
    }
  }
  &.active{
    .horizontal-menu__link{
      &::after{
        content:"";
        .arrow(bottom,@size,#fff);
      }
      &:hover{
        &::after{
          content:"";
          .arrow(bottom,@size,#fff);
        }
      }
    }
  }
}

.horizontal-menu_sub{
  .border-radius(3px); //(@radius: 5px)
  background-color:#394049;
  margin-bottom:20px;
  display:inline-block;
  .ie7-inline-block();

}
.horizontal-menu_sub__list{
  margin:0;
  display:inline-block;
  .ie7-inline-block();
}
.horizontal-menu_sub__item{
  display:inline-block;
  .ie7-inline-block();
  margin:0 10px;
  .horizontal-menu_sub__link{

    vertical-align:middle;
    font-size:13px;
    line-height:30px;
    color:#fff;
    &:hover{
      color:#fff;
    }
  }
  &.active{
    .horizontal-menu_sub__link{
      text-decoration:none;
      cursor:default;
      color:#8f97a1;
      &:hover{
        color:#8f97a1;
      }
    }

  }
}
.orders-table{
  font-size:12px;
  line-height:round(12px*1.1);
  color:#000; // открытие закрытие описания
  .item{
    .tree-but{
      .sprate();
      .tim_icom_tree();
    }
    &.active{
      background-color:#f6f7f8;
      border-bottom:transparent;
      .tree-but{
        .tim_icom_tree-up();
      }
      & + .item-dis td .item-dis__box{
        display:block;
      }
      &:hover{
        td{
          background-color:#f6f7f8;
        }
      }
    }
  }
  .item-dis td .item-dis__box{
    display:none;
  }

//оформление элементов

  .item-dis{
    .hig{
      margin-top:10px;
      margin-bottom:20px;
      font-size:18px;
      line-height:round(18px*1.1);
    }
    td{
      padding-top:0;
      padding-bottom:0;
      border-top:none;
      background-color:#f6f7f8;
    }
    &:hover{
      td{
        background-color:#f6f7f8;
      }
    }
  }
  .history-item{


  }

}
.history-list{
  list-style:none;
  margin-left:30px;
  .event{
    .product-information{
      display:inline-block;
      .ie7-inline-block();
      background-color:#edf4f7;
      .border-radius(3px); //(@radius: 5px)
      padding:5px;
      margin:4px 0 4px 10px;

    }
    .event__box{
      padding:4px 4px;
      display:inline-block;
      .ie7-inline-block();
      .border-radius(3px); //(@radius: 5px)
      border:1px solid transparent;
      .event__hig{
        display:inline-block;
        .ie7-inline-block();
        font-weight:bold;
        position:relative;
        padding-left:15px;
        &::before{
          position:absolute;
          left:0;
          top:1px;
          content:"";
          display:inline-block;
          .ie7-inline-block();
          .icon_good_min();
          .sprate();
        }
        &.fail{
          &::before{
            content:"";
            .icon_bad_min();
          }
        }
      }
      .event__time{
        font-size:11px;
        display:block;
        color:#9a9a9a;
        padding-left:15px;
      }
      .event__property{
        min-width:130px;
        margin-left:20px;
      }
      .btn-group{
        margin-bottom:0px;
        margin-left:20px;
        margin-top:-11px;
        position:relative;
        top:6px;
        display:none;
      }
//      &:hover{
//        border-color:#e4ddbb;
//        background-color:#fcf8e3;
//        .event__hig{
//        }
//        .event__property{
//        }
//        & > .btn-group{
//          display:inline-block;
//          .ie7-inline-block();
//        }
//      }
    }
  }
}
.product-information{
  display:inline-block;
  .ie7-inline-block();

}
.product-information__property{
  display:inline-block;
  .ie7-inline-block();
  min-width:110px;
  margin-left:10px;
  vertical-align:top;
}

.flot{

  vertical-align:middle;
  .size(20px, 20px);
  display:inline-block;
  .ie7-inline-block();
  margin-bottom:-2px;

  & + strong{
    display:inline-block;
    vertical-align:bottom;
    margin-bottom:2px;
  }
}
.legend{
  position:absolute;
  top:0;
  left:0;
  .size(20px,20px);
  background:url("../img/mask_flot.png") no-repeat;

  div,
  table{
    display:none;
  }
}

.newdesign_plate{
  background:#eaeaea;
  .border-radius(5px);
  height:100px;
  line-height:100px;
  width:100px;
  margin:50px 0 0 50px;
  &:hover{
    background:#efefef;
    .box-shadow(inset 2px 2px 5px #999);
  }
  a{
    display:block;
    width:100%;
    height:100%;
  }
}

.helper{
  position:fixed;
  right:80px;
  bottom:0;
  display:table; //  height:48px;
  #gradient > .vertical(#416da2, #2c4a76);
  .border-radius(4px 4px 0 0);
  .transition(all 100ms);
  &.open{
  }
  &__wraper{
    display:table-row;
  }

  &__first-col{
    display:table-cell;
    padding:8px;
    border-right:1px solid #5a7599;
  }
  &__second-col{
    display:table-cell;
    padding:8px;
    border-left:1px solid #192940;

  }
  &__link{ //    .btn-clear;
    color:#fff;
    padding:5px 10px 7px;
    text-decoration:none;
    .border-radius(2px);
    filter:none;
    &:hover{
      color:#fff;
      background-color:rgba(0, 0, 0, .10);
    }
    img{
      vertical-align:middle;
    }
    .helper.open &{
      padding:5px 10px 7px;

    }
    &.active{
      .box-shadow(inset 1px 1px 2px rgba(0,0,0,0.73)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
      background-color:rgba(0, 0, 0, 0.60);
    }
  }
  &__tit{
    margin-left:4px;
    font-size:14px;
    line-height:round(14px*1.3);
    text-decoration:none;
    text-shadow:1px 1px 0 rgba(0, 0, 0, .40);
    vertical-align:middle;
    .transition(all 100ms);
    display:inline-block;
    .ie7-inline-block();
    white-space:nowrap;
    width:0;
    .opacity(0); //(1 — 100)
    overflow:hidden;
    .helper.open &{
      width:auto;
      .opacity(100); //(1 — 100)
    }
  }

  &__quotes{
    .size(100%, 15px); //(height, width)
    display:table-cell;
    background-color:rgba(255, 255, 255, .10);
    .transition(all 100ms);
    i{
      margin-left:4px;
      margin-right:4px;
      margin-bottom:-3px;
      display:inline-block;
      .ie7-inline-block();
      background-repeat:no-repeat;
      .square(12px); //(height = width)
      background-image:url(../img/quotes-left.png);
      .helper.open &{
        background-image:url(../img/quotes-right.png);

      }
    }
    &:hover{
      background-color:rgba(255, 255, 255, .20);

    }
  }
  .popover-box{
    width:33px;
    .popover{
      .popover-content{
        padding:12px 20px;
      }
      width:530px;
      margin-left:-417px !important;
      .arrow{
        left:417px;
      }

    }
  }
}
.helper.open .popover{
  margin-left:-285px !important;

  .arrow{
    left:53.6%;
  }
}
.close-icon{
  color:inherit;
  .transition(all 100ms);
  .opacity(30); //(1 — 100)
  font-size:25px;
  vertical-align:middle;
  a:hover &{
    color:inherit;
    .opacity(60); //(1 — 100)
  }
}
.top-menu__alert{
  z-index:1010;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  display:none;
  &_visible{
    display:block;
  }
  &.top-menu__alert_viseble+ .container-fluid{
    .top-menu__item.active .top-menu__link::after{
      border-bottom-color:#fcf8e2;
    }
  }
  .wraper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding:20px 0;
    #gradient > .vertical(#fefcf0,#fdf9e5);
    border-bottom:1px solid #ede7c6;
    &::before{
      content:"";
      position:absolute;
      bottom:-2px;
      left:0;
      right:0;
      height:1px;
      background-color:#fdf9e5;
    }
  }
}

#informModal{
  .alert.alert-info{
    color:#1b4c7a;
  }
}
.linc-collapse{
  text-decoration:none;
  text-shadow:none;
  font-weight:bold;
  font-size:12px;
  line-height:round(12px*1.3);
  color:#3a567b;
  white-space:nowrap;
  color:in;
  &:hover{
    color:#3a567b - #111;

  }
  &__up{
    &::after{
      margin-left:5px;
      content:"";
      .arrow(top,5px,#3a567b);
      vertical-align:super;
    }
  }
  &__doun{
    &::after{
      margin-left:5px;
      .arrow(bottom,5px,#3a567b);
      vertical-align:text-bottom;
    }
  }
}
.reference-i{
  background-color:#eeeeee;
  color:#fff;
  font-size:40px;
  line-height:round(44px);
  font-weight:bold;
  .border-radius(3px);
  text-align:center;
  display:block;
  margin-left:50%;
  position:relative;
  left:-20px;
  .square(44px); //(height = width)
}
.reference-i__text{
  color:#d5d5d5;
  font-size:11px;
  line-height:round(11px*1.3);
}
.green-arrow{

  &__box{
    padding-right:10px;
    margin-left:-15px;
    color:#fff;
    float:left;
    &:hover{
      color:#fff;
    }
  }
  &__arow{
    float:left;
    background-image:url(../img/green-arrow__arow.png);
    .size(35px, 23px); //(height, width)\
  }
  &__cont{
    background-image:url(../img/green-arow__fon.png);
    height:27px;
    padding:0 4px;
    float:left;
    margin-top:4px;
    line-height:20px;
    span{
      vertical-align:middle;
    }
  }

  &__hr{
    height:1px;
    position:relative;
    bottom:-17px;
    margin-left:10px;
    border-top:1px #e5e5e5 dashed;
    overflow:hidden;
  }
}
.tarif-neme{
  color:#8090a5;
  font-size:68px;
  line-height:round(68px);
  display:block;
  &-small {
	  color:#8090a5;
	  display:block;
	  font-size:34px;
	  line-height:round(34px);
	  margin-bottom: 20px;
	  margin-top: -10px;
  }
}

.more-info{
  cursor:pointer;
}

.order-crumbs{
  display:table;
  width:100%;
  margin:0;
  padding:0;
  li{
    display:table-cell;
    text-align:center;
    border-right:1px solid #fff;
    background:#eee;
    padding:15px;
    font-size:17px;
    &.success{
      background:#fcf8e3;
    }
    &.active{
      background:#fcf8e3;
      border-bottom:3px solid #efe9ca;
    }
  }
}

/**
 * А тут ацкий пиздинг верстки из соседнего teamparts-system
 */
@colorSet1:#4a7f94;
@colorSet2:#7f97ac;
@colorSet3:#97b753;
@buttonIndex1:#ed782d;
@buttonIndex1:lighten(@buttonIndex2, 10%);
@buttonIndex2:#d63714;

@buttonOher1:lighten(@buttonOher2, 10%);
@buttonOher2:#dd6d1a;

.di_in-block{
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align:top;
}
.number-stages{
  .di_in-block();
  background-color:#aaa;
  float:left;
  margin:-5px 10px 20px 0;
  width:40px;
  height:40px;
  line-height:40px;
  border-radius:30px;
  .number-stages-box{
    text-align:center;
    .number-stages_text{
      line-height:38px;
      font-size:24px;
      font-weight:bold;
      color:@white;
      text-shadow:1px 1px 0 #000;
    }
  }
}
.imgLinkInem{
  margin-left:20px;
  width:100px;
  margin:0 25px 20px;
  .di_in-block();
  figure{
    margin:0;
    .imgLinkInem_link{
      .imgLinkInem_img{
      }
      .imgLinkInem_text{
        text-align:center;
        line-height:25px;

      }
    }
  }
}

.columns4{
  margin-bottom:60px;
  .content-columns(4,10px);
  .columns-box{
    margin-bottom:20px;
    .columns_left{
      margin-right:-30px;
      float:left;
      .di_in-block();
      strong{
        line-height:16px;
        font-size:16px;
        color:@grayLight;
      }

    }
    .columns_right{
      margin-left:30px;
      a{
        display:block;
      }
    }
  }
}
.year-release{
  text-align:center;
  width:100%;
  background-color:#f2f5fa;
  table-layout:fixed;
  vertical-align:30px;
  font-size:12px;
  margin:10px 0 20px;
  tr:last-child td{
    padding-bottom:10px;
  }
  thead{
    td{
      font-weight:bolder;
      color:#999999;
      padding:10px 0;
    }
  }

  td{
    border-left:1px solid #d5dbdc;

    text-shadow:1px 1px 1px #fff;
    &:first-child{
      border:none;
    }
  }
  a{
    display:block;
    color:#fff;
    cursor:pointer;
    text-shadow:1px 1px 0 #000;
    background-color:@colorSet2;
    font-weight:bolder;
    font-family:arial;
    padding:8px 3px;
    .border-radius(2px);
    &:hover{
      background-color:@colorSet3;
    }
  }
}
#tab{
  margin:10px 0 20px -10px;

  li{
    height:30px;
    position:relative;
    margin-right:10px;
    .border-radius(2px);
    .di_in-block();
    &.active{
      cursor:default;
      background-color:@linkColor;
      &::before{
        bottom:-15px;
        line-height:18px;
        color:@linkColor;
        content:"◥ ◤";
        font:20px bolder cursive;
        left:50%;
        margin-left:-15px;
        position:absolute;
        white-space:nowrap;
        word-spacing:-10.9px;
      }

      a{
        cursor:default;
        border-color:transparent;
        color:@white;
        text-decoration:none;
        &:hover{
          color:@white;
          text-decoration:none;
        }
      }
    }
    a{
      font-size:18px;
      margin:0 12px;
      line-height:30px;
      .link_in();
    }
  }

}
#tree{

  ul{

    list-style:none;
    display:blok;
    li{

      background:url("../img/tim_icom_arow-doun-grayLight-mini.png");
      background-position:left 7px;
      background-repeat:no-repeat;
      display:blok;
      >ul{
        .transition(all 100ms);
        overflow:hidden;
        height:0;
      }

      a{
        font-weight:bold;
        font-size:13px;
        text-decoration:none;
        margin-left:10px;
      }
    }
    .tree_branch{
      li{
        a{

        }
      }
    }
    .tree_item{

      background:none;
      a{
        font-weight:normal;
        color:#000;
        text-decoration:underline;
        &:hover{
          text-decoration:none;

        }
      }

    }
  }
  li.active{

    background:url("../img/tim_icom_arow-up-blak-mini.png") left 7 pxno-repeat;
    >ul{
      height:auto;
      display:block;
    }
  }
}
#tree,
#Avtokomplit{
  margin:0 0 60px;
  display:none;
  &.active{
    display:block;
  }
  .search-name{
    border-color:#949494;
  }
}
.parts-list{
  width:100%;
  table-layout:auto;
  margin-top:20px;
  margin-bottom:60px;
  td{
    font-size:12px;
    line-height:28px;
    padding:0 10px;
    color:#000;
  }

  tr:hover{
    background-color:#fcf8e3;
    .order-but{
      .opacity(100); //(1 — 100)
    }
  }
  .order-but{
    background-color:#fcf8e3;
    cursor:pointer;
    text-decoration:none;

    line-height:12px;
    padding:4px 10px;
    background-color:@buttonOher2;
    display:inline-block;
    .border-radius(3px);
    text-decoration:none;
    .transition(opacity 100ms);
    .opacity(20); //(1 — 100)
    span{
      text-decoration:underline;
      color:#ffffff;
    }
    &:hover{
      background-color:darken(@buttonOher2, 15%);
      span{
        text-decoration:none;
      }
    }
  }

}

.select-tems{
  margin: 20px -15px 20px 0;
  position: relative;
  .item{

    margin-right:25px;
    margin-bottom:25px;
    display:inline-block;
    .ie7-inline-block();
    padding:11px;
    .border-radius(3px);
    border:1px dashed #cccccc;
    background-color:#f6f6f6;
    .transition(background-color 100ms); // анимация
    &:hover{
      background-color:#fffef8;
      .link{
        text-decoration:none;
      }
    }
    .box{
      display:inline-block;
      .ie7-inline-block();
      text-decoration:none;
    }
    &.active{
      background-color:#f8f1ca;
      .link{
        color:#b0b0b0;
        text-decoration:none;
        cursor:default;
        :hover{
          color:#b0b0b0;
        }
      }
    }
  }
  img{
    display:block;
    margin-bottom:20px;
    .box-shadow(0 0 10px rgba(0,0,0,.4));
  }
  &.no-img-shadow img {
    padding: 0;
    margin-bottom: 0;
    .box-shadow(0 0 0 0) !important;
  }
  .text{
    font-size:13px;
    font-weight:bold;
    color:#999999;
    text-shadow:1px 1px 0 #fff;
  }
  .link{
    float:right;
    font-weight:bold;
    font-style:13px;
    text-decoration:underline;
    .ok{
      margin-right:4px;
    }
  }
}
.ok{
  background-image:url(../img/ok.png);
  .size(11px, 13px); //(height, width)
  display:inline-block;
  .ie7-inline-block();
  .active &{
    background-image:url(../img/ok-d.png);
  }
}
.tour-box{

  background-image:url(../img/tour/tour-bg.png);
  .size(800px, 1000px); //(height, width)
  margin:0 auto 40px;
}
#tour{
  margin:0 62px;
  .carousel{

  }
  .tour_clous{
    background-image:url(../img/tour/images/tour_clous.png);
    .size(23px , 22px); //(height, width)
    position:absolute;
    top:140px;
    right:-10px;
    .opacity(60);
    .transition(opacity 100ms); // анимация
    &:hover{
      .opacity(100);
    }

  }
  .tour_left{
    background-color:transparent;
    border:transparent;
    background-image:url(../img/tour/images/tour_left.png);
    .size(49px , 55px); //(height, width)
  //    left: 40px;
    .transition(opacity 100ms); // анимация
    .opacity(60);
    &:hover{
      .opacity(100);
    }

  }
  .tour_right{
    background-color:transparent;
    border:transparent;
    background-image:url(../img/tour/images/tour_right.png);
    .size(47px , 58px); //(height, width)
    .opacity(60);
    .transition(opacity 100ms); // анимация
    &:hover{
      .opacity(100);
    }
    right:40px;

  }
}
.table_number{
  border-spacing:10px 0;
  position:relative;
  margin-top:0px;
  margin-bottom:60px;
  width:100%;
  h4{
    .btn{
      font-size:15px;
      font-weight:bold;
      color:@colorSet1;
      display:block;
      background:none;
      border:none;
      text-shadow:none;
      text-align:left;
      .box-shadow(none);

    }
  }
  .newListSelected{
    vertical-align:middle;
    .size(16px,40px);
    .newList{
      width:40px;
    }
  }

  thead{
    th{
      padding:0;
      margin:0;
    }
    .gradtabl{
      float:left;
      background:url("../img/gradtabl.png");
      &+.gradtab{
        padding-left:12px;
        margin-left:8px;
      }
    }
    .gradtabr{
      float:right;
      background:url("../img/gradtabr.png");
      .size(36px,8px);
      &+.gradtab{
        padding-right:0;
        margin-right:8px;
      }
    }

    .gradtab{
      cursor:pointer;
      height:36px;
      background:url("../img/gradtab.png") repeat-x;
      text-align:left;
      font-size:11px;
      color:#9e9e9e;
      vertical-align:middle;
      font-weight:normal;
      padding:9px 0 0 8px;
      position:relative;

      &:first-child{

      }

    }
    .gradtab.activeUP{
      color:#565656;
      .arrow-thead{
        .sprite();
        .tim_icom_arow-up-grey-mini();
        vertical-align:middle;
        margin:0 0 2px 2px;
      }
    }
    .gradtab.activeDOUN{
      color:#565656;
      .arrow-thead{
        .sprite();
        .tim_icom_arow-doun-grey-mini();
        vertical-align:middle;
        margin:0 0 2px 2px;
      }
    }

  }
  td{
    background:none;
    padding:6px;
    &[colspan]{
      padding-top:0px;
    }

  }
  .icon_minus{
    .sprite();
    .tim_icom_arow-doun-grey();
    margin:-2px 7px 0 0;
    vertical-align:middle;
  }
  .active .icon_minus{
    .tim_icom_arow-up-grey();
  }
  .collapse.in{
    display:none !important;
  }
  .collapse{
    tr{
      line-height:13px;
      border-bottom:1px solid @grayLighter - #111;

      .fl_right{
        opacity:0.5;
        filter:~'alpha(opacity="50")';
        cursor:pointer;
      }

      .flot{

        vertical-align:middle;
        .size(20px, 20px);
        .di_in-block();
        margin-bottom:-2px;
        opacity:0.5;
        filter:~'alpha(opacity="50")';

        & + strong{
          display:inline-block;
          vertical-align:bottom;
          margin-bottom:2px;
        }
      }
      .legend{
        position:absolute;
        top:0;
        left:0;
        .size(20px,20px);
        background:url("../img/mask_flot.png") no-repeat;

        div,
        table{
          display:none;
        }
      }
      .buttonBuy{
        .border-radius(3px 0 0 3px);
        margin-right:3px;
        width:81px;
        height:26px;
        text-decoration:none;
        display:inline-block;
        position:relative;
        background-color:#efefef;

        .buttonBuy_text{
          position:absolute;
          font-size:11px;
          top:6px;
          left:23px;
          color:#a4a4a4;
          margin-right:7px;
          text-decoration:underline;
          &:hover{
            text-decoration:none;
          }
        }
        .tim_icom_basket-mask{
          background-color:#a4a4a4;
          vertical-align:middle;
          position:absolute;
          left:11px;
          top:9px;
        }
        .arrow_right{
          position:absolute;
          top:0;
          right:-9px;
          width:0;
          height:0;
          border-top:13px solid transparent;
          border-bottom:13px solid transparent;
          border-left:9px solid #efefef;
        }
        &:hover{
          .buttonBuy_text{
            text-decoration:none;
          }
          .tim_icom_basket-mask{
          }
          .arrow_right{
          }
          .buttonBuy_fon{.opacity(50);
          }
        }
        &:active{
          .buttonBuy_text{
            text-decoration:none;
          }
          .tim_icom_basket-mask{
          }
          .arrow_right{
          }
          .buttonBuy_fon{.opacity(0);
          }
        }

      }
      &:hover{
        .buttonBuy{

          background-color:@colorSet1;
          .buttonBuy_text{
            color:#fff;
          }
          .tim_icom_basket-mask{
            margin-left:5px;
            background-color:transparent;
            .tim_icom_basket-in();
            left:1px;
            top:4px;
          }
          .arrow_right{
            border-left-color:@colorSet1;
          }
          .buttonBuy_fon{
            background:url("../img/buttonBuy_fon.png") 0 0 no-repeat;
            position:absolute;
            left:0;
            top:0;
            right:-10px;
            bottom:0;
          }

        }
        .flot{
          opacity:1;
          filter:~'alpha(opacity="100")';
        }
      }
    }
  }
  .more_info{
    background-color:#f5f5f5;
    border:1px solid #b5b5b5;
    padding:0 15px 20px 15px;

    .border-radius(5px);
    &> div{
      position:relative;
      margin:-10px 0 0 10px;
      background:url("../img/icon_arowe_top_tabe.png") no-repeat;
      *background:none;
      .size(10px,18px);
    }
    table{
      margin:15px 0 0;
    }
    th{
      font-size:11px;
      font-weight:normal;
      color:@gray;
      text-align:left;
      div{
        padding:0 6px;
        margin-bottom:10px;
      }
    }
    tr{
      text-align:left;
      border-bottom-color:transparent;
    }
    .flot{
      opacity:1;
      filter:~'alpha(opacity="100")';
    }
  }
  &.table_info{
    .resultat{
      border-top:1px solid #DDD;
    }
    thead + .resultat{
      border-top:1px solid transparent;
    }

  }
}
.form-filtr{
  font-size:11px;
  line-height:15px;
  margin:40px 0 0 0;
  .search_parameter{
    .search_parameter_value{
      padding:0 2px;
      .di_in-block();
    }
    .active{
      background-color:@red;
      .border-radius(2px);
      cursor:default;
      a{
        color:@white;
        border:none;
        cursor:default;
      }
    }

  }
  .search-query{
    margin-bottom:4px;
    background:#fff url("../img/icon_search-query.png") no-repeat 10px 50%;
    padding-left:25px;
  }
  hr{
    margin:12px 0 16px;
  }
}

.demo-ponel{
  padding:10px;
  #gradient > .vertical(#F3F3F3, #CCC );
  border-bottom:1px solid #000;
  .dis{
    color:@gray;
    text-shadow:1px 1px 0 #fff;
  }
}
.tim_icom_basket-mask{
  display:none !important;
  .square(0); //(height = width)
}

.order-list{
  .markerColor(@color:#79BFE0) {

    background-color:@color;
    &::before{
      background-color:@color;
    }
    &:hover{
      background-color:@color - #111;
      &::before{
        background-color:@color - #111;
      }
    }
  }
  .itemColor(@color:#79BFE0) {
    color:darken(@color, 25%);
    background-color:lighten(@color, 35%);
    border-color:lighten(@color, 25%);
    &[href]:hover{
      background-color:lighten(@color, 32%);
      border-color:lighten(@color, 22%);
      cursor:pointer;
      text-decoration:none;
    }
    .label{
      background-color:@color;

    }
    .text{
      color:darken(@color, 25%);
      display:inline-block;
      .ie7-inline-block();
    }

& ~ .marker{
  .markerColor(lighten(@color, 10%));
  &.error{
    .markerColor(@color);
  }
}
  }
@borderColorHover:#e8e8e8;
tr{
  &:last-child{
    td{
      padding-bottom:16px;
    }
  }
}
td, th{
  border-left:#f2f2f2 1px solid;
  &:first-child{
    border-left-color:transparent;

  }
  &:last-child{
    .box-sizing(border-box);
    border-right:1px solid transparent;
    &.hover{
      border-right:1px solid @borderColorHover;
    }
  }
  &.hover{
    background-color:#f9f9f9;
    > .wraper__th{
      background-color:#f9f9f9;
    }
    border-color:@borderColorHover;
    + td{
      border-left-color:@borderColorHover;
    }
    + th{
      border-left-color:@borderColorHover;
    }
  }
  &.today{

  }
  &.four-line{
    border-left-color:#becee4 !important;
  }
}

th{
  font-weight:none;
  border-top:1px solid transparent;
  text-align:center;
  color:#c2c6ca;
  font-weight:normal;
  .wraper__four{
    padding-bottom:8%;
    background-color:#f5f9fe;
    position:relative;
    span{
    //    padding:20% 0; //      width:20px;
      position:absolute;
      width:100%;
      left:0;
      top:50%;
      right:0;
      margin-top:-8px;
      display:inline-block;
      .ie7-inline-block();
    }
  }
  .wraper__th{
    padding-bottom:55%;
    background-color:#f5f9fe;
    position:relative;
    span{
    //    padding:20% 0; //      width:20px;
      position:absolute;
      width:100%;
      left:0;
      top:50%;
      right:0;
      margin-top:-8px;
      display:inline-block;
      .ie7-inline-block();
    }
  }
  &.output{
    color:#f8c6ca;
  }
  &.today{
    &.hover{
      border-color:transparent;
    }
    .wraper__th{
      position:relative;
//      .box-sizing(border-box);
      #gradient > .vertical(#8898aa,#515b6b);
      .border-radius(2px);
//      border:1px solid #5e666f;
      color:#fff;
      text-shadow:1px 1px 0 #515b68;

      &::after{
        position:absolute;
        content:"";
        .arrow(bottom,6px,#4c5566);
        left:50%;
        bottom:-12px;
        margin:0;
        margin-left:-6px;
      }
      &::before{
        content:"Сегодня";
        position:absolute;
        left:0;
        right:0;
        top:-17px;
        color:#8797a9;
        font-size:9px;
        text-shadow:none;
      }
    }
  }

}
td{
  &.today{
    background-color:#fffff1;
    border-color:#f3f1d4;
    +td{
      border-color:#f3f1d4;
    }
  }
}

&__wraper-item{
  margin-top:10px; //    margin-bottom:10px;
  position:relative;
  margin-left:-1px;
  height:38px;
}
&__grey{
  background-color:#fafafa;
  border:1px solid #f2f2f2;
  td, th{
    border-left:#f2f2f2 1px solid;
    border-right:#f2f2f2 1px solid ;
    &:first-child{
      border-left-color:#f2f2f2;
    }
    &:last-child {
      border-right:#f2f2f2 1px solid ;
    }
    &.hover{
      background-color:inherit;
      > .wraper__th{
        background-color:inherit;
      }
      border-color:inherit;
      + td{
        border-left-color:inherit;
      }
      + th{
        border-left-color:inherit;
      }
    }
  }
}
.marker{
  text-decoration:none;
  position:absolute;
  top:-7px;
  display:inline-block;
  .ie7-inline-block();
  color:#fff;
  color:rgba(255, 255, 255, 0.60);
  font-size:8px;
  line-height:13px;
  min-width:13px;
  text-align:center;
  .border-radius(100px);
  background-color:#79bfe0;
  margin-left:-6px;
  cursor:pointer;
  .transition(background-color 200ms);
  &::before{
    .transition(background-color 200ms);
    background-color:#79bfe0;
    content:"";
    display:block;
    top:12px;
    left:50%;
    margin-left:-0.5px;
    z-index:0;
    position:absolute;
    width:1px;
    height:33px;
  }
  &.error{
    &::before{
      width:3px;
      margin-left:-1.5px;
    }
  }
}
.time {
  height:100%;
  margin-top:20px;
  time{
    white-space: nowrap;
    width:auto;
    position:absolute;
    left:10px;
    bottom:100%;
    color:#b2b2b2;
    z-index:2;
  }
}
.marker_line{
  width:1px;
  position:absolute;
  bottom:0;
  margin-left:-10px;
  bottom:100%;
  background-color:#97b0d1;
  &::before,
  &::after{
    background-color:#97b0d1;
    content:"";
    position:absolute;
    .square(5px); //(height = width)
    bottom:0;
    left:-2px;
    .border-radius(100px);
  }
  &::after {
    bottom:auto;
    top:0;
  }
}
.four {
  th {
    background-color:#f5f9fe;
    color:#b1b9c2;
    font-weight:bold;
    font-size:14px;
    padding:1.5% ;
    text-align:left;
    border-bottom:1px solid #f5f9fe;
    border-left-color:transparent;
    &.four-line{
      border-left-color: #BECEE4;
    }
    &.hover{
      background-color:#f5f9fe;
      border-color:#f5f9fe;
      + th {
        border-color:#f5f9fe;
        &.four-line{
          border-left-color: #BECEE4;
        }
      }
      &.four-line{
        border-left-color: #BECEE4;
      }
    }
  }
}
&__item{
  padding:5px 10px 5px ;
  background-color:#cde7f8;
  border:1px solid #91d1ef;
  .border-radius(2px);
  .box-sizing(border-box);
  position:absolute;
  left:0;
  right:0;
  top:0;
  line-height: 26px;
  text-decoration:none;

  hr {
    border-bottom:0;
    border-top-color:#000000;
    margin-top:10px;
    margin-bottom:10px;
    .opacity(10); //(1 — 100)
  }
  .dis {
    color:#000;
    text-shadow:1px 1px 0 #fff;
  }
  .label{
    padding:5px 10px;
    background-color:#34a5e6;
    text-shadow:1px 1px 0 rgba(0, 0, 0, 0.40);
    span{
      text-shadow:none;
      .opacity(60); //(1 — 100)
    }
    a{
      text-shadow:none;
      color:#fff;
      &:hover{
        color:#fff;
      }
    }
  }
  .text{
    color:#0e5173;
    text-shadow:1px 1px 0 #fff;
    vertical-align:middle;
    position:relative;
    z-index:1;
    display:block;
    margin:0;
    line-height:14px;
    max-height: 25px;
  }
  .number {
    font-size:10px;
    .opacity(60); //(1 — 100)
  }
  &.hoverSowe {
    .transition(all 200ms);

    &::before{
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      right:10px;
      width:30%;
      #gradient > .horizontal(rgba(211,238,255,0), #CDE7F8);
      filter:none;
      background-color:transparent;
      z-index:1;
      .transition(opacity 200ms);
    }
    &::after {
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      width:10px;
      background-color:#CDE7F8;
      z-index:1;
    }
    &:hover{
      &::before,&::after{
        content:"";
        .opacity(0); //(1 — 100)
      }
    }
    &.hoverSoweFinish{

      &::before,&::after{
        content:"";
        z-index:-1;
      }
    }
  }
  &_alert {
    position:relative;
    margin-bottom:20px;
    overflow:visible;
  }
  &_red{
    .itemColor(#e66f34);
  }
  &_green{
    .itemColor(#99c425);
  }
  &_purple{
    .itemColor(#a05ddf);
  }
  &_good{
    .itemColor(#34a5e6);
  }
  &_detail{
    line-height:1.3333em;
    padding-right:10px;
    .label {
      div{
      .text-overflow();
      }
    }
  }
}
.textOverflow {
  .text-overflow();
}
.popover.top{
  margin-bottom:18px;
}
  }
.marker__time {
  position:absolute;
  left:3px;
  top: -17px;
  font-size: 11px;
  line-height: 16px;
  color:#d1d1d1;
  border-left:1px solid;
  .point{
    position:absolute;
    top:0;
    left:-4px;
    background-color:#d1d1d1;
    .border-radius(100px);
    .square(7px); //(height = width)
  }
  span{
    margin-left:10px;
  }
  time{
    color:#b2b2b2;
    margin-right:10px;
  }
  &.pull-right{
    left:auto;
    right:3px;
    border-left:0;
    border-right:1px solid;
    .point{
      left:auto;
      right:-4px;
    }
  }
}
.link-edit{
  cursor:pointer;
  text-decoration:none;
  color:#000;
  .opacity(40); //(1 — 100)
  .transition(opacity 300mc);
  &:hover{
    color:#000;
    .opacity(70); //(1 — 100)
  }
}
.ajax-lider{
  background-color:#f5f9fe;
  border:1px solid #e8f0f9;
  text-align:center;
  line-height:50px;
  img{
    vertical-align:middle;
  }
}
.table__prise {
  width:auto;
  margin-top:15px;
  text-align:left;
  color: inherit;
  line-height:1.333em;
  th{
    padding:15px;
    padding-top:5px;
    padding-bottom:2px;
    font-size:11px;
  }
  td {
    padding:15px;
    padding-top:0;
    padding-bottom:2px;
    font-size:18px;
  }
  span{
    .opacity(60); //(1 — 100)
  }
  strong {
    font-size:24px;
  }

}
.form-search_temprats {
  display:inline-block;
  .ie7-inline-block();
  margin:0;
  padding:0;
  position:relative;
  line-height: 25px;
  .border-radius(100px);
  .box-shadow( 0 1px 0 rgba(255,255,255,0.32)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
  i:first-child {
    position:absolute;
    left: 11px;
    margin-top: 1px;
    font-size:18px;
    color:#c5c5c5;
    z-index:3;
    vertical-align: middle;
  }
  .search-query {
    padding-left: 29px;
    padding-right: 20px;
    .border-radius(100px 0 0 100px);
    border-color:#5c697b;
    .box-shadow(inset 0 1px 3px rgba(0,0,0,0.23)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
    font-size:12px;
  }
  .btn{
    .buttonBackground(#eff4fc,#adb3bb);
    color:#37475c;
    font-weight:bold;
    padding-left:20px;
    padding-right:20px;
    margin-left:-20px;
    position:relative;
    z-index:2;
    border:#5C697B 1px solid;
    .border-radius(~"100px  !important");
  }
}
.fwn{
  font-weight:normal;
}

#search-filter {
  position: relative;
}
.filter-result-informer {
  position: absolute;
  z-index: 100;
  min-width: 220px;
  .border-radius(2px);

  padding: 4px 12px;
  line-height: 18px;
  background: #3a424b;
  color: @white;

  div {
    .arrow(right,13px,#3a424b);
    position: absolute;
    right: -25px;
    top: 0;
  }

  a {
    color: #d6e3f4;
  }
}
.upload-area {
  background: #f6f6f6;
  border: 3px dashed #c5c5c5;
  text-align: center;
  padding: 30px;
  .border-radius(4px);
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  .arrow-insite {
    background: url('../img/upload-arrow-cursor.png') no-repeat left top;
    height: 67px;
    width: 59px;
    position: absolute;
    margin: -50px 0 0 40px;
  }
  .bigicon-plus {
    background: url('../img/bigicon-plus.png') no-repeat left center;
    min-height: 36px;
    line-height: 36px;
    display: inline-block;
    padding-left: 45px;
  }
  .size-24 {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
  }
}
.resize-area {
  h3 {
    margin-bottom: 10px;
  }
  &__background {
    background: #363636;
    .box-shadow(inset 0 15px 35px #111);
    position: relative;
    &__inner {
      min-height: 250px;
    }
    &__confirm-button {
      position: absolute;
      bottom: 30px;
      width: 100%;
    }
  }
  margin-bottom: 50px;
}

.form-horizontal .controls .edit-service {
  margin-left: 20px;
  textarea {
    max-width: 100%;
  }
}

.address-controls .controls-row input,
.address-controls .controls-row select {
  margin-bottom: 20px;
}

.document-title {
  margin: 5px 0 3px 0;
  font-size: 14px;
}

/***finance****/

.finance {
  .horizontal-menu__link {
    border-bottom: 1px solid;
  }
}

.tab-content {
  h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 12px;
  }
  .btn-warning {
    padding: 6px 25px;
    margin-top: 1px;
  }
}

 .select_button {
    list-style: none;
    display: inline-block;
    margin: 0 0 4px 65px;
    float: right !important;
    .data-selek__text {
      .pull-left;
      margin-right: 8px;
      padding-top: 5px;
    }
    .dropdown-menu {
      right: 0;
      left: inherit;
    }
    p {
      float:right;
      margin-right: 10px;
      padding-top: 5px;
    }
    .btn-group {
      .pull-right;
      button {
        .caret {
          margin-left: 57px;
        }
      }
    }
  }

.finance .search-form-box{
  margin-bottom: 10px;

  .search-query{
      background: url("../../img/tim_icom_search.png") no-repeat scroll 10px 50% #FFFFFF;
      border: 1px solid #cfcfcf;
      border-radius: 4px 4px 4px 4px;
      color: #000000;
      font-size: 14px;
      height: auto;
      line-height: 19px;
      @inputPaddingRight:20;
      @inputPaddingLeftL: 30;
      padding: 7px 20px 7px  30px;
      .inBorder-box();
//      width: 90%;
      float: left;
  }
}

.finance .account-history {
    .small {
      color: #777777;
      font-size: 12px;
    }
    .client-name {
      font-size: 14px;
    }
    .informationMini-box {
      text-align: center;
    }
  }

.account-history {
  time {
    font-size: 12px;
  }
}

 .finance .tim_icom_brace {
      width: 184px;
      height: 12px;
      background: url("../img/tim-icom-brace-large.png")
    }

    strong {
      font-size: 14px;
      white-space: nowrap;
    }
    strong.green {
      color: #94B341;
    }

    .finance .in-total {
//      .pull-right;
//      margin-right:52px;
      margin-left: 0;
    }

  table.total {
    .no-border;
    margin-bottom: 10px;
    tr {
      td {
        border: none;
        padding-bottom: 2px; 
        &:first-child {
          border: none;
        }
      }
    }
  }



  .finance table.total tr:hover td {
    background-color: #fff;
  }

  .paging.paging-black .paging-links {
    a {
        font: bold 15px/20px Arial;
        color: #323941;
        padding-right: 3px;
        &.prev {
            padding-right: 15px;
           }
        &:first-child, &:last-child {
            text-decoration: none;
            color: #000;
        }
    }
}
  .finance {
    .search-form-box {
      .search-query {
        width: 88%;
      }
      .btn {
        width: 10%;
        margin-left: 2%;
        padding-left: 1%;
        padding-right: 1%;
      }
    }
    input.datepicker {
      float: left;
      min-width: 100px;
    }
    .separator {
      margin: 5px 3px 0 3px;
    }
    .data-selekt__cal {
      margin-left: -24px;
      margin-top: 5px;
      min-width: 19px;
    }
    .data-selekt__form  {
      width: 265px;
    }
    .data-selekt__item {
      margin-left: 5px;
      float: left;
      &.active{
      text-align: center;
      }
    }
    .data-selekt__item.span1 {
      width: 70px;
    }
    .balance-bar {
      width: 300px;
    }
  }


.total-balance {
      width: 305px;
    }

.paging.paging-black ul {
    list-style: none;
    margin: 10px 0 0 0;
    font-size: 15px;
    a {
      color: #323941;
    }
    li {
        display: inline-block;
        margin-right: 8px;
        a {
            padding-top: 5px;
            color: #323941;
        }
        &.active {
            a {
                color: #ffffff;
                text-decoration: none;
                display: block;
                width: 25px;
                height: 22px;
                background-color: #323941;
                text-align: center;
                .border-radius(3px);
            }
        }
    }
}

.top-menu__item_for-status {
  width: 14%;
  margin-left: 5px;
  .for-status__dis {
    display: block;
    margin-left: 11px;
    text-align: left;
  }
}

.documents-hint {
  margin-top: 1195px;
  ol {
    margin-left: 0;
    li {
      list-style-position: inside;
      margin-bottom: 10px;
    }
  }
}

a.document {
      display: block;
      white-space: nowrap;
    }

.maxwidth-container {
  max-width: 75%;
}

.top-sub-menu_level-two .list .item.active a {
  outline: 0 solid rgba(255, 255, 255, 0.2);
  outline-offset: 0;
}

.tab-content.modify-design  {
    overflow: hidden;
}
.tab-content.modify-design .select-tems {
    margin-right: -32px;
}

/*single client*/
.table__second-header .subheading {
  padding: 10px 0 7px 20px;
}

.single-client-data {
  width: 96%;
  dl{
    margin: 20px 40px 0 35px;
    font: normal 15px/15px Arial;
      dt {
        color: #868686;
        font-weight: normal;
        width: 152px;
        padding-bottom: 20px;
      }
      dd {
        margin-left: 175px;
        padding-bottom: 20px;
        max-width: 335px;
      }
     a {
       font-size: 12px;
     }
    label {
      font-size: 14px;
    }
   }
}

.personal-infoblock {
  background-color: #f3f3f3;
  border: none;
  padding: 20px 15px 20px 25px;
  .border-radius(3px);
  max-width: 280px;
  p {
    font-size: 18px;
    margin-bottom: 3px;
  }
  p strong {
    font-size: 16px;
  }
  p small {
    font-size: 14px;
    color: #000;
  }
  p.large {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    padding-right: 4px;
  }
  a.btn-warning {
    margin: 10px 0 22px 0;
    height: 20px;
    padding-top: 6px;
    font-size: 13px;
  }
  .divider {
    height: 1px;
    background-color: #dedede;
  }
  .exclamation-icon {
    background: #50981a;
    background-image: none;
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    .border-radius(10px);
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 20px 5px 0 0;
    min-height: 0;
  }
  strong {
    display: block;
  }
}

.status-grey{background-color: #737373;}
.status-blue{background-color: #185c90;}
.status-red{background-color: #d82513;}
.status-green{background-color: #6baa1a;}
.status-grey,
.status-blue,
.status-red,
.status-green{
  font-size: 12px;
  color: #fff;
  padding: 2px 10px;
  .border-radius(3px);
  .di_in-block();
}
