@import 'shadow';
@import 'form-full';
@import 'arrow';

.padding-0 {padding: 0px !important;}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}
.padding-30 {padding: 30px;}
.padding-40 {padding: 40px;}
.padding-50 {padding: 50px;}
.padding-60 {padding: 60px;}
.padding-70 {padding: 70px;}
.padding-80 {padding: 80px;}

.padding-left-0 {padding-left: 0px !important;}
.padding-left-10 {padding-left: 10px;}
.padding-left-20 {padding-left: 20px;}
.padding-left-30 {padding-left: 30px;}
.padding-left-40 {padding-left: 40px;}
.padding-left-50 {padding-left: 50px;}
.padding-left-60 {padding-left: 60px;}
.padding-left-70 {padding-left: 70px;}
.padding-left-80 {padding-left: 80px;}

.padding-right-0 {padding-right: 0px !important;}
.padding-right-10 {padding-right: 10px;}
.padding-right-20 {padding-right: 20px;}
.padding-right-30 {padding-right: 30px;}
.padding-right-40 {padding-right: 40px;}
.padding-right-50 {padding-right: 50px;}
.padding-right-60 {padding-right: 60px;}
.padding-right-70 {padding-right: 70px;}
.padding-right-80 {padding-right: 80px;}

.padding-top-0 {padding-top: 0px !important;}
.padding-top-5 {padding-top: 5px;}
.padding-top-10 {padding-top: 10px;}
.padding-top-15 {padding-top: 15px !important;}
.padding-top-20 {padding-top: 20px;}
.padding-top-30 {padding-top: 30px;}
.padding-top-40 {padding-top: 40px;}
.padding-top-50 {padding-top: 50px;}
.padding-top-60 {padding-top: 60px;}
.padding-top-70 {padding-top: 70px;}
.padding-top-80 {padding-top: 80px;}

.margin-0 {margin: 0px !important;}
.margin-5 {margin: 5px !important;}
.margin-10 {margin: 10px;}
.margin-20 {margin: 20px;}
.margin-30 {margin: 30px;}
.margin-40 {margin: 40px;}
.margin-50 {margin: 50px;}
.margin-60 {margin: 60px;}
.margin-70 {margin: 70px;}
.margin-80 {margin: 80px;}

.margin-bottom-0 {margin-bottom: 0px !important;}
.margin-bottom-5 {margin-bottom: 5px !important;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-26 {margin-bottom: 26px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-36 {margin-bottom: 36px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-bottom-50 {margin-bottom: 50px;}
.margin-bottom-60 {margin-bottom: 60px;}
.margin-bottom-70 {margin-bottom: 70px;}
.margin-bottom-80 {margin-bottom: 80px;}


.margin-left-0 {margin-left: 0px !important;}
.margin-left-5 {margin-left: 5px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-30 {margin-left: 30px;}
.margin-left-40 {margin-left: 40px;}
.margin-left-50 {margin-left: 50px;}
.margin-left-60 {margin-left: 60px;}
.margin-left-70 {margin-left: 70px;}
.margin-left-80 {margin-left: 80px;}
.margin-left-90 {margin-left: 90px;}
.margin-left-100 {margin-left: 100px;}
.margin-left-140 {margin-left: 140px;}

.margin-right-0 {margin-right: 0px !important;}
.margin-right-10 {margin-right: 10px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-30 {margin-right: 30px;}
.margin-right-40 {margin-right: 40px;}
.margin-right-50 {margin-right: 50px;}
.margin-right-60 {margin-right: 60px;}
.margin-right-70 {margin-right: 70px;}
.margin-right-80 {margin-right: 80px;}
.margin-right-90 {margin-right: 90px;}
.margin-right-100 {margin-right: 100px;}

.margin-top-0 {margin-top: 0px !important;}
.margin-top-5 {margin-top: 5px;}
.margin-top-15 {margin-top: 10px;}
.margin-top-10 {margin-top: 15px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-40 {margin-top: 40px;}
.margin-top-50 {margin-top: 50px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-70 {margin-top: 70px;}
.margin-top-80 {margin-top: 80px;}
.margin-top-90 {margin-top: 90px;}
.margin-top-100 {margin-top: 100px;}

.size-9 { font-size: 9px;  }
.size-10 { font-size: 10px;  }
.size-11 { font-size: 11px; }
.size-12 { font-size: 12px; }
.size-13 { font-size: 13px; }
.size-14 { font-size: 14px; }
.size-15 { font-size: 15px;	 }
.size-16 { font-size: 16px; }
.size-17 { font-size: 17px; }
.size-18 { font-size: 18px; }
.size-19 { font-size: 19px; }
.size-20 { font-size: 20px; }
.size-25 { font-size: 25px; }

//жирность шрифта
.normal {font-weight: normal; }

// отключалк
.no-margin{margin:0px !important}
.no-padding{padding:0px !important}
.no-back{background:none !important}
.no-border {border:none !important}
.no-bullet {list-style: none}
.container{overflow:hidden}

//выравнивание
.a-left{text-align:left !important}
.a-center{text-align:center !important;}
.a-right{text-align:right !important}
.a-justify{ text-align: justify;}

//
.lh-small, .lh-small * {line-height: 0.8em;}
.lh-middle, .lh-middle * {line-height: 1em;}
.lh-large, .lh-large * {line-height: 2em;}

// делает между блоками одинаковое растояние
ul.a-justify {
    margin: 0;
    text-align: justify;
    /* Обнуляем для родителя*/
    line-height: 0;
    font-size: 1px; /* 1px для Opera */
    font: 1px;
    /* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom:1;
    /* Включаем в работу последнюю строку*/
    text-align-last: justify;
    &:after {
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
    > li  {
        .in-block();
        text-align: left;
        /* Востанавливаем у потомков, кроме последнего*/
        line-height: normal;
        font-size: 14px;
        /* Без него в Opera будет отступ под элементами */
        vertical-align: top;
        /* эмуляция inline-block для IE6-7*/
        *display : inline;
        zoom : 1;
        > div{
            .in-block();
            text-align: left;

        }
    }
}

//вертикальное выравнивание
.v-top{vertical-align:top}
.v-middle{vertical-align:middle!important;}
.v-bottom{vertical-align:bottom}
.v-baseline{vertical-align: baseline}

// выравнивание
.left{float:left;}
.right{float:right;}
.clear{clear:both; font-size: 1px; line-height: 1px;}
.columns{width:100%; overflow:hidden; text-align:justify}

// тип элемента
.hidden{display:none}
.show{display:block !important}

.in-block{
		display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: top;
}
.inline{display: inline;}
.block{display: block;}
.table{display: table;}


// внуртри нее сылки
.link_in{
text-decoration: none;
border-bottom: 1px dashed;
    &:hover{
        text-decoration: none;
        border-bottom: 1px solid transparent;
     }
}


.black{color: @black;  }
.grayDarker{color:@grayDarker;}
.grayDark{color: @grayDark;}
.gray{color: @gray;}
.grayLight{color: @grayLight;}
.grayLighter{color: @grayLighter;}
.white{color: @white;}
.infoText{color: @infoText;}
a.black:hover{color: @black;  }
a.gray:hover{color: @gray;  }
a.grayLight:hover{color: @grayLight;  }
a.white:hover{color: @white;  }

.yellow{color:#857312;}
a.yellow:hover{color: #857312 - #111;}

.red{color:#f74d0a;}
a.red:hover{color: #f74d0a - #111;}

.border_grey {border: 1px solid @grayLighter}
.cursor{cursor:pointer }
.underline {
        text-decoration:underline;
    }

// авто расширение
textarea.resize_auto{
	resize: none;
}

// ССЫЛКИ


.border_grey {border: 1px solid @grayLighter}

.cursor{cursor:pointer }

// внуртри нее сылки

a.t-decoration,
.t-decoration a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
//  <a clss=blokc >
//      <span>  TEXT  </span>
//  </a>

.t-decorationNorm{
    text-decoration: none;
    span{
        text-decoration: underline;
    }
    &:hover span{
            text-decoration: none;
        }
}
.t-decorationNone{
    text-decoration: none !important;
}



// растягивает картинку по всей ширене контейнера
.background-size-100(@url){

    background: ~"url('@{url}')" no-repeat ;
    .background-size( 100% 100%);
    filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{url}', sizingMethod='scale')";
    -ms-filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{url}', sizingMethod='scale')";

}
//убераем пунктир вокруг сылок
a:focus{
    outline:none;
}
button:focus{
    outline:none;
}

.btn-clear{
  padding:0;
  margin:0;
  border-color:transparent 0;
  color:inherit;
  text-align:left;
  text-shadow:none;
  font-size:initial;
  line-height:initial;
  #gradient > .vertical(rgba(0,0,0,.0),rgba(0,0,0,.0) );
  border:none;
  .border-radius(0);
  .box-shadow(0 0 0 0 rgba(0,0,0,.0)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
  &:hover{
    color:initial;
    background-color:transparent;
    background-position:0 0;
    .transition(none);

  }
  &:active,
  &.active{
    background-color:transparent;
    .box-shadow(0 0 0 0 rgba(0,0,0,.0)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)

  }
  &.disabled,
  &[disabled]{
    background-color:transparent;
    .opacity(100); //(1 — 100)
  }
  &:focus {
   outline:0 transparent;
  }
}
/***********************************     ТАБЛИЦЫ     ****************************************************/
//сброс талиц
.table-clear{
  width:100%;
  border:0;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0;
  padding:0;
  td,th{
    margin: 0;
    padding:0;
    vertical-align: top;
  }
}
.table-no-border{
  td,th{
    border:none !important;
  }
}
.table-no-background{
  background:none;
  td,th,tr{
    background:none;
  }
  &:hover{
    background:none;
    td,th,tr{
      background:none;
    }
  }
}

.nowrap {white-space: nowrap;}
