// CLOSE ICONS
// -----------

.close {
  float: right;
  font-size: 12px;
  font-weight: normal;
  line-height: @baseLineHeight;
  text-decoration: none;
  color: #cb1d1d;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  .opacity(80);
  .icon_clous{
    vertical-align:middle;
  }
  span{
    vertical-align:middle;
    border-bottom:1px dotted;
  }
  &:hover {
    color: #cb1d1d;
    text-decoration: none;
    cursor: pointer;
    .opacity(100);
    span{
        border-bottom:1px solid  transparent;
    }
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}