// LABELS & BADGES
// ---------------

// Base classes
.label,
.badge {
  font-size: @baseFontSize * .846;
  font-weight: bold;
  line-height: 14px; // ensure proper line-height if floated
  color: @white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-color: #737373;
}
// Set unique padding and border-radii
.label {
  padding: 2px 10px 3px;
  .border-radius(3px);
}
.badge {
  padding: 1px 9px 2px;
  .border-radius(9px);
}

// Hover state, but only for links
a {
  &.label:hover,
  &.badge:hover {
    color: @white;
    text-decoration: none;
    cursor: pointer;
  }
}

// Colors
// Only give background-color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
.label,
.badge {
  // Important (red)
  &-important         { background-color: #d82513; }
  &-important[href]   { background-color: darken(#d82513, 10%); }
  // Warnings (orange)
  &-warning2           { background-color: @orange; }
  &-warning2[href]     { background-color: darken(@orange, 10%); }
  // Success (green)
  &-success           { background-color: #6baa1a; }
  &-success[href]     { background-color: darken(#6baa1a, 10%); }
  // Info (turquoise)
  &-info              { background-color: #185c90; }
  &-info[href]        { background-color: darken(#185c90, 10%); }
  // Inverse (black)
  &-inverse           { background-color: @grayDark; }
  &-inverse[href]     { background-color: darken(@grayDark, 10%); }

  //Frontend styles
  &-grey              {background-color: #737373;}
  &-grey[href]        {background-color: darken(#737373, 10%);}

  &-blue              {background-color: #185c90;}
  &-blue[href]        {background-color: darken(#185c90, 10%);}

  &-red               {background-color: #d82513;}
  &-red[href]         {background-color: darken(#d82513, 10%);}

  &-green             {background-color: #6baa1a;}
  &-green[href]       {background-color: darken(#6baa1a, 10%);}

  &-orange            {background-color: @orange;}
  &-orange[href]      {background-color: darken(@orange, 10%);}
}
