@font-face {
  font-family: 'Meta';
  src: url('../../font/meta/metaboldlfc-webfont.eot');
  src: url('../../font/meta/metaboldlfc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../font/meta/metaboldlfc-webfont.woff') format('woff'),
    url('../../font/meta/metaboldlfc-webfont.ttf') format('truetype'),
    url('../../font/metaboldlfc-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ruble_arialRegular';
  src: url('../../font/ruble/ruble_arial-webfont.eot');
  src: url('../../font/ruble/ruble_arial-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/ruble/ruble_arial-webfont.woff') format('woff'),
  url('../../font/ruble/ruble_arial-webfont.ttf') format('truetype'),
  url('../../font/ruble/ruble_arial-webfont.svg#ruble_arialRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}