{% extends '__base_shops.html' %}

{% block content %}
	<div id="body" class="about">
		<div class="row">
      <div class="span12 offset2">

        <h1>Что такое Teamparts?</h1>
        
        <p><strong>Teamparts</strong> &ndash; единая база предложений от продавцов запчастей различных регионов, прежде всего, России и СНГ. Здесь вы можете найти любую запчасть и выбрать лучший для вас вариант покупки.</p>

        <div class="margin-left-60 margin-top-30">
            <h2 class="pull-left">Возможности <br>Teamparts</h2>
            <div class="features-tooltip pull-left">
             Единая система поиска и подбора запчастей позволяет даже неопытному пользователю в несколько кликов найти нужную деталь.
            </div>
        </div>
        <div class="" style="clear:both"></div>
        
        <div class="feature row">
          <div class="span6">
            <h3><span>1</span> Поиск детали</h3>
            <div class="row-fluid">
              <div class="span12">
                <img src="/static/shops/img/feature-arrow.png" alt="" class="feature-arrow">
                <img src="/static/shops/img/feature-arrow-rotated.png" alt="" class="feature-arrow rotated">
              </div>
            </div>
            
            <h4>Поисковая строка</h4>
            <p class="lh-small"><small>Умеет искать по VIN автомобиля или номеру детали <strong>всех</strong><br> марок, которые представлены в нашей базе</small></p>
            <img src="/static/shops/img/shot1.png" alt="">
          </div>
          <div class="span6">
            <h4>Каталоги деталей</h4>
            <p class="lh-small"><small>Иллюстрированные каталоги с пошаговым мастером<br> подбора запчастей по марке авто, модификации и пр.</small></p>
            <img src="/static/shops/img/shot2.png" alt="">
            <p><small class="subscript">Для некоторых марок данная<br> возможность пока отсутствует</small></p>
          </div>
        </div>

        <div class="feature row">
          <div class="span10">
            <h3 class="margin-bottom-0"><span>2</span> Выбор продавца</h3>
            <ul>
              <li>Мы находим указанную вами деталь и всех продавцов, у которых она есть.</li>
              <li>МНОГО предложений в одном месте! Вам будет из чего выбирать</li>
              <li>Фильтрация результатов поиска по цене, вероятности наличия деталей, времени доставки и другим параметрам</li>
              <li>Система рейтингов и честных отзывов поможет сделать вам правильный выбор</li>
            </ul>
            <img src="/static/shops/img/shot3.png" alt="" class="margin-left-60">
            <img src="/static/shops/img/shot4.png" alt="">
          </div>
        </div>

        <div class="feature row">
          <div class="span10">
            <h3 class="margin-bottom-0"><span>3</span> Покупка товара</h3>
            <ul>
              <li>Покупка непосредственно на сайте продавца, без посредников</li>
              <li>Заказ товара без регистрации. Учетная запись создается автоматически после подтверждения заказа</li>
              <li>Выбор удобного способа доставки и оплаты</li>
              <li>И, разумеется, вы сможете оставить свой отзыв о работе компании после того, как совершили заказ. </li>
            </ul>
            <img src="/static/shops/img/shot3.png" alt="" class="margin-left-60">
            <img src="/static/shops/img/shot4.png" alt="">
          </div>
        </div>

        <hr>

        <div class="feature row">
          <div class="span9 margin-left-90">
            <h3>А скоро...</h3>
            <p>Скоро появятся уютные личные кабинеты с историей ваших заказов, посещенных магазинов, возможностью добавления в избранное, списком ближайших к вам продавцов и многим другим!</p>
            <p><strong>Все, что мы хотим – сделать для вас поиск и покупку запчастей быстрыми и удобными.</strong></p>
            
          </div>
        </div>
        
        <div class="row">
          <div class="span11 margin-left-70">
            &#8592; <a href="#">Вернуться на главную страницу</a>
          </div>
        </div>
        
        <div class="row margin-top-30 margin-left-40 margin-bottom-80">
          <div class="span10">
            <h4>Марки, с которыми мы работаем</h4>
            <div class="brands-box">
              <ul>
                <li>
                  <a href="#">
                    <img alt="Nissan" src="/static/manufacturers/micrologo-nissan.png">
                    <h5>Nissan</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Lexus" src="/static/manufacturers/micrologo-lexus.png">
                    <h5>Lexus</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Toyota" src="/static/manufacturers/micrologo-toyota.png">
                    <h5>Toyota</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Honda" src="/static/manufacturers/micrologo-honda.png">
                    <h5>Honda</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Mazda" src="/static/manufacturers/micrologo-mazda.png">
                    <h5>Mazda</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Lexus" src="/static/manufacturers/micrologo-lexus.png">
                    <h5>Lexus</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Honda" src="/static/manufacturers/micrologo-honda.png">
                    <h5>Honda</h5>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="Lexus" src="/static/manufacturers/micrologo-lexus.png">
                    <h5>Lexus</h5>
                  </a>
                </li>
                <li >
                  <a href="#">
                    <img alt="Lexus" src="/static/manufacturers/micrologo-lexus.png">
                    <h5>Lexus</h5>
                  </a>
                </li>
            </ul>
            </div>
          </div>
        </div>

      </div>
		</div>
	</div>
{% endblock %}