
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<table  align="center" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
<tr>
    <td bgcolor="#39414a">
        <!--щапка веох-->
        <table width="690" align="center"  cellpadding="15" cellspacing="0" style="border-collapse:collapse; color:#000;">
            <tr>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#39414a;" target="_blank">
                        <span style="text-decoration:none;"> <img src="http://www.teamparts.org/static/less/mail/img/logo.png" alt="Teamparts - SaaS-сервис по продаже запчастей" ></span>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#333a42" style="border-bottom:1px solid #1f2328; color:#fff;">
        <!--щапка низ-->

        <table class="heder-doun" width="680" align="center"  cellpadding="0" cellspacing="0" style="border-collapse:collapse; ">

            <tr>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0;" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu1.png" alt="Ваш сайт" >
                            </span>
                    </a>
                </td>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu2.png" alt="Финансы" >
                            </span>
                    </a>
                </td>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu3.png" alt="Заказы" >
                            </span>
                    </a>
                </td>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu4.png" alt="Клиенты" >
                            </span>
                    </a>
                </td>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu5.png"  alt="Настройки" >
                            </span>
                    </a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<tr>
    <!-- тело-->
    <td>

        <table class="body" width="680" align="center"  cellpadding="10" cellspacing="0" style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse; ">
            <colgroup>
                <col width="340">
                <col width="340">
            </colgroup>
            <tr>
                <td  width="340" style="width:340;">
                    <img   src="http://www.teamparts.org/static/less/mail/img/blank.gif" width="340" height="30" style="display:block; line-height:0;" >
                </td >
                <td  width="340"  style="width:340;"></td>
            </tr>
            <tr style="vertical-align:top; line-height:15px;">
                <td width="340"  style="width:340;">
                    <img src="http://www.teamparts.org/static/less/mail/img/img-zakaz_izmenenia.jpg"  width="340" height="306"  >


                </td>
                <td width="340"  style="width:340;">

                    <table  width="340"  style="width:340;" align="left"  cellpadding="10" cellspacing="0" style="border-collapse:collapse; text-align:left; font-family:arial; ">
                        <tr >
                            <td >
                                <h2 style="
                                        font-size:18px;
                                        font-weight:bold;
                                        color:#39414a;
                                        font-family:arial;
                                        margin:0;

                                    ">Изменения в заказе</h2>
                                <p style="margin:0; line-height:5px;">
                                    <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <p style="
                                            margin:0;
                                            font-family:arial;
                                            font-size:13px;
                                            ">
                                    Здравствуйте, < имя пользователя или компании >!
                                </p>
                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <p style="margin:0;font-family:arial;font-size:13px;">В вашем заказе № < 789613496 > произошли изменения. К сожалению, мы не можем его выполнить, как планировали.</p>

                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <p style="margin:0;font-family:arial;font-size:13px;">Более детальную информацию о причинах и дальнейших вариантах действия вы можете получить на странице _заказа._ Приносим свои извинения.</p>
                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <p style="font-family:arial; text-align:right;font-weight:bold;margin:0;"><b>— Ваш Teamparts</b></p>

                                <p style="margin:0; line-height:20px;">
                                    <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <a href="#" style="" target="_blank">
                                            <span style="text-decoration:none!important;">
                                                <img style="display:block;" src="http://www.teamparts.org/static/less/mail/img/btn-zakaz.jpg" border="0"   width="207" height="37" alt="Перейти к счетам" style="background-color:#0cbe1f; color:#fff" >
                                            </span>
                                </a>

                            </td>

                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <table width="660" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
            <tr>
                <td>
                    <h2 style="
                                        font-size:18px;
                                        font-weight:bold;
                                        color:#39414a;
                                        font-family:arial;
                                        margin:0;

                                    ">Информация о заказе</h2>

                    <p style="margin:0; line-height:10px;">
                        <img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                    <strong style="
                                        font-size:13px;
                                        font-weight:bold;
                                        color:#39414a;
                                        font-family:arial;
                                        margin:0;

                                    ">Номер вашего заказа: </strong><span style="
                                        font-size:13px;
                                        color:#39414a;
                                        font-family:arial;
                                        margin:0;
                                    ">34560</span>
                    <p style="margin:0; line-height:7px;">
                        <img height="7" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                </td>
            </tr>
        </table>
        <table width="660" align="center" cellpadding="10" cellspacing="0" style="border-collapse:collapse; font-family:arial;">
            <tr style="
                background-color:#f5f5f5;
 text-align:left;
                color:#c9c9c9;
                font-size:11px;
            ">
                <th>Производитель</th>
                <th>Информация</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
            <tbody style="
                    font-size:12px;
                    line-height:14px;
                ">
                <tr style="border-bottom:1px solid #ebebeb;">
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>30210Y066A</strong>
                        </p>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            Nissan,
                        </p>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            Япония
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>Диск сцепления</strong>
                        </p>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            COVER-CLUTCH
                        </p>
                        <p style="margin:0;font-family:arial;font-size:11px; color:#9e9e9e;">
                            Вес: 4.389
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>4 345 </strong>p
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>1100</strong>
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>4 345 000 </strong>p
                        </p>
                    </td>

                </tr>
                <tr style="border-bottom:1px solid #ebebeb;">
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>30210Y066A</strong>
                        </p>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            Nissan,
                        </p>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            Япония
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>Диск сцепления</strong>
                        </p>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            COVER-CLUTCH
                        </p>
                        <p style="margin:0;font-family:arial;font-size:11px; color:#9e9e9e;">
                            Вес: 4.389
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>4 345 </strong>p
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>1100</strong>
                        </p>
                    </td>
                    <td>
                        <p style="margin:0;font-family:arial;font-size:12px;">
                            <strong>4 345 000 </strong>p
                        </p>
                    </td>

                </tr>
            </tbody>
        </table>
        <table width="660" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
            <tr>
                <td>
                    <p style="margin:0; line-height:20px;">
                        <img height="20" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="width:432px; vertical-align:top;">
                    <table width="432" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; text-align:left;">
                        <colgroup>
                            <col width="126">
                            <col width="auto">
                        </colgroup>
                        <tr>
                            <td style="vertical-align:top;">
                                <p style="margin:0;font-family:arial;font-size:14px;">
                                    <strong>Доставка:</strong>
                                </p>
                            </td>
                            <td><p style="margin:0; line-height:10px;">
                                <img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                            </p></td>
                            <td style="vertical-align:top;">
                                <p style="margin:0;font-family:arial;font-size:14px;">
                                    Курьерская доставка
                                    Екатеринбург, ул. Блюхера, 58, офис 519
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin:0; line-height:20px;">
                                    <img height="20" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;">
                                <p style="margin:0;font-family:arial;font-size:14px;">
                                    <strong>Способ оплаты:</strong>
                                </p>
                            </td>
                            <td><p style="margin:0; line-height:10px;">
                                <img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                            </p></td>
                            <td style="vertical-align:top;">
                                <p style="margin:0;font-family:arial;font-size:14px;">
                                    Наличный расчет
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p style="margin:0; line-height:20px;">
                                    <img height="20" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;">
                                <p style="margin:0;font-family:arial;font-size:14px;">
                                    <strong>Дополнительная
                                        информация:</strong>
                                </p>
                            </td>
                            <td><p style="margin:0; line-height:10px;">
                                <img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                            </p></td>
                            <td style="vertical-align:top;">
                                <p style="margin:0;font-family:arial;font-size:14px;">
                                    Мало ли что может быть в дополнительной информации. Например, размер груди или счет в банке.
                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p style="margin:0; line-height:30px;">
                                    <img height="30" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td><p style="margin:0; line-height:10px;">
                    <img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                </p></td>
                <td style="text-align:right;vertical-align:top;">
                    <p style="margin:0;font-family:arial;font-size:14px;">
                        <strong>Итоговый расчет:</strong> 8 690 000 Р
                    </p>
                    <p style="margin:0;font-family:arial;font-size:14px;">
                        <strong>Предоплата: </strong> 6 000 000 Р
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin:0; line-height:20px;">
                        <img height="20" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr bgcolor="#f8f8f8">
    <td >
        <table  width="660" align="center"  cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
            <tr>
                <td colspan="2" style="font:13px arial; color:#39414a; ">
                    <p style="margin:0; line-height:20px;">
                        <img style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" height="20" width="100" >
                    </p>

                    Помните, если у вас возникли какие-то вопросы - наша служба поддержки всегда сможет их решить.
                    <br>
                    8-800-1000-768
                    <p style="margin:0; line-height:10px;">
                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                    </p>
                    <table  width="100%"  align="center"  cellpadding="10" cellspacing="0" style="border-collapse:collapse; line-height:0; text-align:center;">
                        <colgroup>
                            <col width="205">
                            <col width="0">
                            <col width="205">
                            <col width="0">
                            <col width="205">
                        </colgroup>
                        <tr>
                            <td gcolor="#e7e7e7" style="
                                background-color:#e7e7e7;
                                    font-size:13px;
                                    font-family:arial;
                                    color:#39414a;
                                    line-height:17px;
                                ">

                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <span>Наша электронная почта:</span>

                                <p style="margin:0; line-height:5px;">
                                    <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <a href="mailto:info@teamparts.org" style=" color:#39414a;" target="_blank" >
                                        <span style="text-decoration:underline; color:#39414a!important;">
                                            info@teamparts.com
                                        </span>
                                </a>


                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                            </td>
                            <td></td>
                            <td gcolor="#e7e7e7" style="
                                background-color:#e7e7e7;
                                    font-size:13px;
                                    font-family:arial;
                                    color:#39414a;
                                    line-height:17px;
                                ">

                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>

                                <span>Многоканальный телефон:</span>

                                <p style="margin:0; line-height:5px;">
                                    <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <b style="font-size:18px; color:#39414a;">8-800-1000-768</b>


                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                            </td>
                            <td></td>
                            <td gcolor="#e7e7e7" style="
                                background-color:#e7e7e7;
                                    font-size:13px;
                                    font-family:arial;
                                    color:#39414a;
                                    line-height:17px;
                                ">

                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>

                                <span>Сайт поставщика</span>

                                <p style="margin:0; line-height:5px;">
                                    <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                                <a href="www.teamparts.com" target="_blank" style="font-size:16px; color:#39414a;" >
                                        <span style="text-decoration:underline; color:#39414a!important;">
                                            www.teamparts.com
                                        </span>
                                </a>


                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                </p>
                            </td>
                        </tr>
                    </table>

                    <p style="margin:0; line-height:20px;">
                        <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                    </p>
                </td>
            </tr>
        </table>

    </td>
</tr>
<tr>
    <td>
        <table class="footer" width="660" align="center"  cellpadding="0" cellspacing="0" style="border-collapse:collapse; ">
            <tr>
                <td>

                    <p style="margin:0; line-height:20px;">
                        <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                    </p>
                    <div style="
                        font-family:arial
                        ;font-size:11px;
                        color:#989898;
                        line-height:12px;
                        ">

                        <i >Это письмо создано автоматaически, и отвечать на него не нужно. Вы получили это сообщение, так как являетесь зарегистрированным пользователем системы Teamparts. Если это письмо попало к вам по ошибке - пожалуйста, сообщите нам об этом по телефону 8-800-1000-768</i>



                        <p style="margin:0; line-height:10px;">
                            <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                        </p>
                        <a href="#" style="color:#0088cc;"><span style="text-decoration:underline; color:#0088cc!important;font-size:11px;">Я хочу отписаться от рассылки</span></a>

                        <p style="margin:0; line-height:20px;">
                            <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                        </p>

                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
