// PAGINATION
// ----------
.pagination-arrow{
    display:inline-block;
    .ie7-inline-block();
    margin-right:@baseLineHeight - 10px;
    margin-bottom:@baseLineHeight;
    margin-left:10px;
    font-size:12px;
    line-height:round(12px*1.1);
}
.pagination {
  height: @baseLineHeight * 2;
  margin: @baseLineHeight 0 0;
 }
.pagination ul {
  display: inline-block;
  .ie7-inline-block();
  margin-left: 0;
  margin-bottom: 0;
}
.pagination li {
    display: inline;
    &.arrow{
        font-family: Times New Roman;
    }
  }
.pagination a {
  text-align:center;
  margin-left:4px;
  float: left;
  padding: 0 4px;
  min-width: 22px;
  line-height: 30px;
  text-decoration: none;
  border-left-width: 0;
  .border-radius(4px);//(@radius: 5px)
  color:#000;
  font-size:20px;
}
.pagination a:hover,
.pagination .active a { 
  background-color: @linkColor;
  color:@white;
}
.pagination .active a {
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: @grayLight;
  background-color: transparent;
  cursor: default;
}


// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
