{% extends '__base.html' %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1 style="font-size: 500%;">404</h1>
                <p>
                    Страница не найдена
                </p>
            </div>
        </div>
    </div>
{% endblock %}