<!DOCTYPE html>
<html>
<head>
    <title>главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!--  откомпиленый LESS  -->
    
    <link rel="stylesheet" type="text/css" href="/static/shops/less/site_style/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/shops/css/other.css" media="screen">

    
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/shops/css/ie_hack7.css" media="screen"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/static/css/ie_hack8.css" media="screen"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="/static/shops/css/ie_hack9.css" media="screen"><![endif]-->
    <!--[if (gte IE 6)&(lte IE 9)]>
	    <script type="text/javascript" src="/static/js/selectivizr-min.js"></script>
	    <script type="text/javascript" src="/static/js/excanvas.js"></script>
	    <script type="text/javascript" src="/static/js/css3-multi-column.js"></script>
        <script src="/static/js/respond.min.js"></script><!-- media queries support for ie8 and lower -->
    <![endif]-->

</head>
<body>

<div class="container">
	
	<div id="head">
		<div class="row">
			<div class="span3">
				<div class="logo">
					<img src="/static/shops/img/logo.png" alt="Teamparts — Поставщиков запчастей для иномарок" />
					<small class="size-13 grayLight">Деталь найдется точно!</small>
				</div>
			</div>
			<div class="span10">
				
				<div class="search-bar">
					<div class="inner">
						
						<div class="row-fluid">
							<form action="#" class="form-search">
								<div class="span10">
									<span class="icon-search size-16"></span>
									<input type="search" value="" class="search-query span12" placeholder="Поиск по номеру детали или VIN автомобиля"/>
									<div class="sample size-13">
										<span class="">Примеры запросов:</span>
											<a href="#" class="t-decorationDashed white">
												<span>SJNBAAN16UO411167</span>
											</a>
											<a href="#" class="t-decorationDashed white">
												<span>15208-9F600</span>
											</a>
											<a href="#" class="t-decorationDashed white">
												<span>WAUHE5438LN600047</span>
											</a>
											<a href="#" class="t-decorationDashed white">
												<span>MR 552951</span>
											</a>
									</div>
								</div>
								<div class="span2">
									<button class="span12" type="submit"><span>Найти</span></button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
				
			</div>
			<div class="span3">
				<div class="region-select size-15">
					<div class="">
						<span class="icon-map-marker size-16"></span> <span class="size-13 grayLight">Ваш регион:</span>
					</div>
					<span class="">
						<a href="#select-region" class="bold dashed" data-toggle="modal">Екатеринбург</a>
						<span class="icon-chevron-down size-10 margin-left-5"></span>
						<div id="select-region" class="modal" style="display: none;">
							<div class="modal-body">
								<button class="close" data-dismiss="modal">
								    <div class="icon-clous"></div> <span>Закрыть</span>
								</button>
								<h3>Выбор региона</h3>
									<div class="region-box">
										<div class="region-part">
											<div class="part-cap">
												<div class="padding-top-10 padding-left-30">Россия</div>
											</div>
											<div class="part-body" style="overflow: hidden">
												<a href="#">Азербайджан</a>
												<a href="#">Белоруссия</a>
												<a href="#">Казахстан</a>
												<a href="#">Киргизия</a>
												<a href="#">Латвия</a>
												<a href="#">Польша</a>
												<a href="#">Турция</a>
												<a href="#">Узбекистан</a>
												<a href="#">Украина</a>
											</div>
										</div>
										<div class="region-part">
											<div class="part-cap">
												<div class="padding-top-10 padding-left-60 padding-right-20 pull-left">Хабаровская область</div>
												<div class="cap-divider"></div>
											</div>
											<div class="part-body padding-left-20 padding-right-20">
												{% for i in range(3) %}
												<div class="margin-bottom-20">
													<div class="column-left">
														<strong>А</strong>
													</div>
													<div class="margin-left-10">
														<a href="#">Андреапольская область</a>
														<a href="#">Архангельская область</a>
														<a href="#">Астраханская область</a>
														<a href="#">Армавирская область</a>
													</div>
												</div>
												<div class="margin-bottom-20">
													<div class="column-left">
														<strong>Б</strong>
													</div>
													<div class="margin-left-10">
														<a href="#">Барнаульская область</a>
														<a href="#">Брянская область</a>
														<a href="#">Белгородская область</a>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
										<div class="region-part"> 
											<div class="part-cap">
												<div class="padding-top-10 padding-left-60 padding-right-20 pull-left">Комсомольск-на-Амуре</div>
												<div class="cap-divider"></div>
											</div>
											<div class="part-body padding-left-20 padding-right-20">
												{% for i in range(3) %}
												<div class="margin-bottom-20">
													<div class="column-left">
														<strong>А</strong>
													</div>
													<div class="margin-left-10">
														<a href="#">Алапаевск</a>
													</div>
												</div>
												<div class="margin-bottom-20">
													<div class="column-left">
														<strong>В</strong>
													</div>
													<div class="margin-left-10">
														<a href="#">Верхняя Пышма</a>
														<a href="#">Верхняя Салда</a>
														<a href="#">Белгородская область</a>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="info-box">
										<img src="/static/shops/img/region-sign.png" alt="">
										<div>
											<p><strong>Teamparts нет в вашем регионе? Это надо срочно исправлять!</strong></p>
											<p><small>Если вы хотите продавать запчасти сами или знаете, кто мог бы этим заняться в вашем регионе<br> – мы только за, давайте сотрудничать! Заходите на наш промо-сайт teamparts.com или звоните 8-800-1000-768.</small></p>
										</div>
									</div>
								</div>
							</div>
						</span>
					<!-- <div class="we-not-shure shure-tooltip margin-top-10">
						Ваш регион определился как Екатеринбург. <a href="#">Изменить</a>?
					</div> -->
				</div>
			</div>
		</div>
	</div>
	
	{% block content %}
	{% endblock %}


	<div id="bottom">
		<div class="row">
			<span class="span3 size-13">© 2012  «Teamparts»</span>
			<div class="span9">
				<div class="horizontal-menu row">
					<ul class="a-justify narrow">
						<li><a href="#">Что такое Teamparts?</a></li>
						<li><a href="#">Институт обратной связи</a></li>
					</ul>
					<br />
				</div>
				
				<div class="row">
					<div class="span2">
						<img src="/static/shops/img/logo-min.png" alt="Teamparts" />
					</div>
					<div class="span6 grayLight size-11">
						Деталь найдется точно!
					</div>
				</div>
			</div>
			<div class="span4 size-13">
				Поиск по 81233 предложениям <br>
				от 213 поставщиков
			</div>
		</div>
	</div>

</div>
{% block js %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/shops/js/project.js"></script>
<script src="/static/js/autoresize.js"></script>

<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>

<script src="/static/js/jquery.placeholder.js"></script>
{% endblock %}

</body>
</html>