{% extends '__base_frontend.html' %}
{% block content %}

<div class="row">
    <div class="span4">
        <h1>Ваш личный кабинет</h1>
    </div>
    <div class="span5 right">
        <div class="order-notify right">
            <a href="#notice-modal" data-toggle="modal" data-target="#noticeModal">Уведомления о заказах</a>
            <a href="#"><sup class="index">2</sup></a>
            <div class="popover-box">
                <div id="noticeModal" class="popover bottom hide fade " style="display: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="arrow"></div>
                    <div class="popover-content">

                        <table class="table margin-bottom-0 ">
                            <thead>
                            <tr>
                                <td>
                                    <i class="remove">×</i>
                                    
                                    <div><h4 class="grayLight">Системы оплаты для пользователя</h4>
                                    <p>Уведомления в бэкэнд, на телефон и на почту – про оплату, про новые
                                        акции Тимпартса, про превышение лимита заказов и пр. Разработать
                                        стиль уведомлений. Как они будут  появляться и где.</p></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div><i class="remove">×</i>
                                    <h4 class="grayLightMed">Второе уведомление о чём-то</h4>
                                    <p class="grayLightMed">Ревер просветляет септаккорд, но если бы песен было раз в пять
                                        меньше, было бы лучше для всех. Микрохроматический интервал
                                        имитирует дорийский эффект "вау-вау", это и есть одномоментная
                                        вертикаль в сверхмногоголосной полифонической ткани.</p></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="end grayLightMed">Других уведомлений нет</div>
                                </td>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav-lk">
    <ul class="">
        <li class="di_in-block">
            <div class=" active">
                <a href="#">История заказов</a>
            </div>
        </li>
        <li class="di_in-block">
            <div>
                <a href="#">Состояние счета</a>
            </div>
        </li>
        <li class="di_in-block">
            <div>
                <a href="#">Мои отзывы</a>
            </div>
        </li>
        <li class="margin-left-10 di_in-block">
            <div class="back">
                <a href="#">Личные данные</a>
            </div>
        </li>
    </ul>
</div>

{% block lk_content %}
<h2 class="margin-bottom-10">История заказов</h2>
<article>
    <table class="ordersHistory ">
        <colgroup>
            <col width="auto">
            <col width="auto">
            <col width="60%">
        </colgroup>
        <tr>
            <th>№ заказа</th>
            <th>Дата заказа</th>
            <th>Статус</th>
        </tr>
        <tr class="informationMini ">
            <td>№43543465</td>
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td>
                <div  class="informationMini-box">
                    <span class="status-grey">Не оплачен</span>
                    <div class="tree"></div>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td>№43543465</td>
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td>
                <div  class="informationMini-box">
                    <span class="status-blue">Не оплачен</span>
                    <div class="tree"></div>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td>№43543465</td>
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td>
                <div  class="informationMini-box">
                    <span class="status-red">Не оплачен</span><div class="tree"></div>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td>№43543465</td>
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td>
                <div  class="informationMini-box">
                    <span class="status-green">Не оплачен</span><div class="tree"></div>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td>№43543465</td>
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><div  class="informationMini-box"><span class="status-grey">Не оплачен</span><div class="tree"></div></div></td>
        </tr>
        <tr class="informationMini active">
            <td>№43543465</td>
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><div  class="informationMini-box"><span class="status-grey">Не оплачен</span><div class="tree"></div></div></td>
        </tr>
        <tr class="informationAll ">
            <td colspan="3">
                <h2>
                    Информация по заказу №9258423 от 14 декабря 2012г.
                </h2>
                <table class="table_number  margin-0">
                    <colgroup>
                        <col width="125px">
                        <col width="130px">
                        <col width="60px">
                        <col width="70px">
                        <col width="50px">
                        <col width="80px">
                        <col width="80px">
                        <col width="100px">
                    </colgroup>
                    <thead>

                    </thead>
                    <tbody class="collapse  ">
                    <tr  >
                        <td>
                            <div >
                                <strong>30210Y066A</strong><br>
                                <span>Nissan,</span><br>
                                <span>Япония</span>
                            </div>
                        </td>
                        <td>
                            <div >
                                <strong>Диск сцепления</strong><br>
                                <span>COVER-CLUTCH</span><br>
                                <span class="gray size-11">Вес: 4.389</span>
                            </div>
                        </td>
                        <td class="flotBut "data-silector="allStatistic">
                            <div class="flot f5" data-tooltip title="Процент вероятности наличия детали у поставщика"  >
                                <span></span>
                                <script type="text/javascript">

                                    $(function () {
                                        // data
                                        var data1 = [
                                            { label: "2",  data: 70},
                                            { label: "1",  data: 80}

                                        ];
                                        // DEFAULT
                                        $.plot($(".flot.f5"), data1,
                                                {
                                                    series: {
                                                        pie: {
                                                            show: true
                                                        }
                                                    }
                                                });

                                    });

                                </script>
                            </div>
                            <strong>25%</strong>
                        </td>
                        <td><div ><strong>6</strong><span> (10)</span></div></td>
                        <td>
                            <div >
                                Северная<br>
                                Америка
                            </div>
                        </td>
                        <td>
                            <div class="a-center"><strong>4</strong></div>
                        </td>

                        <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
                        <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
                    </tr>
                    <tr  >
                        <td>
                            <div >
                                <strong>30210Y066A</strong><br>
                                <span>Nissan,</span><br>
                                <span>Япония</span>
                            </div>
                        </td>
                        <td>
                            <div >
                                <strong>Диск сцепления</strong><br>
                                <span>COVER-CLUTCH</span><br>
                                <span class="gray size-11">Вес: 4.389</span>
                            </div>
                        </td>
                        <td class="flotBut "data-silector="allStatistic">
                            <div class="flot f5" data-tooltip title="Процент вероятности наличия детали у поставщика"  >
                                <span></span>
                                <script type="text/javascript">

                                    $(function () {
                                        // data
                                        var data1 = [
                                            { label: "2",  data: 70},
                                            { label: "1",  data: 80}

                                        ];
                                        // DEFAULT
                                        $.plot($(".flot.f5"), data1,
                                                {
                                                    series: {
                                                        pie: {
                                                            show: true
                                                        }
                                                    }
                                                });

                                    });

                                </script>
                            </div>
                            <strong>25%</strong>
                        </td>
                        <td><div ><strong>6</strong><span> (10)</span></div></td>
                        <td>
                            <div >
                                Северная<br>
                                Америка
                            </div>
                        </td>
                        <td>
                            <div class="a-center"><strong>4</strong></div>
                        </td>

                        <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
                        <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
                    </tr>


                    </tbody>


                </table>
                <div class="row-fluid">
                    <div class="span6">
                        <dl class="dl-horizontal">
                            <dt class="gray">Покупатель: </dt>
                            <dd class="margin-bottom-10">Иванов Иван <br>
                                +7 (932) 6067617 <br>
                                o.mastyugina@yandex.ru
                            </dd>
                            <dt class="gray">Доставка:  </dt>
                            <dd class="margin-bottom-10"> Самовывоз; <br>
                                г.Екатеринбург по адресу: ул.Мичурина, 106
                            </dd>
                            <dt class="gray">Метод оплаты:  </dt>
                            <dd class="margin-bottom-10"> Наличный рассчет
                            </dd>
                        </dl>
                    </div>
                    <div class="span6">
                        <table class=" tab w-100 margin-top-20  margin-bottom-10  table-no-border">
                            <colgroup>
                                <col width="auto">
                                <col width="100">
                            </colgroup>
                            <tbody class="size-12 a-right">

                            <tr>
                                <td  class="size-12 a-right">Стоимость товаров:</td>
                                <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
                            </tr>
                            <tr>
                                <td  class="size-12 a-right">Доставка:</td>
                                <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
                            </tr>
                            <tr>
                                <td  class="size-12 a-right">Итого к оплате:</td>
                                <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
                            </tr>
                            <tr>
                                <td  class="size-12 a-right">Предоплата:</td>
                                <td ><strong class="black">4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> (70%)</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <dl>
                    <dt class="gray">Дополнительная информация:   </dt>
                    <dd class="">
                        В результатах подбора будет приведена статистика запросов на Яндексе, включающих заданное вами слово или словосочетание (слева), и других запросов, которые делали искавшие его люди (справа).
                    </dd>
                </dl>
            </td>
        </tr>

    </table>

</article>
{% endblock %}
{% endblock %}